{% extends "base.html" %}

{% load static %}

{% block content %}

{{posts.title}}
<!-- EMAIL CONTACT MODAL -->
<div class="modal fade" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="contact-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contact-modal-label">Direct e-mail to {{ profile_id.username }}</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-email" class="col-form-label"><strong>Recipient:</strong></label>
            <input type="text" class="form-control" id="recipient-email" value="{% if profile_id.public_email %}{{ profile_id.public_email }}{% else %}(blank){% endif %}">
          </div>
          <div class="form-group">
            <label for="message-type" class="col-form-label"><strong>Category:</strong></label>
            <select class="form-control" id="message-category">
              <option value="proposal">Proposal</option>
              <option value="offer">Offer</option>
              <option value="request">Request</option>
              <option value="business">Business</option>
              <option value="collaboration">Collaboration</option>
              <option value="partnership">Partnership</option>
              <option value="team">Team</option>
              <option value="investment">Investment</option>
              <option value="sponsorship">Sponsorship</option>
              <option value="advertising">Advertising</option>
              <option value="public-media">Public Media</option>
              <option value="appointment">Appointment</option>
              <option value="feedback">Feedback</option>
              <option value="support">Support</option>
              <option value="other">Other</option>
            </select>
          </div>
          <div class="form-group">
            <label for="message-subject" class="col-form-label"><strong>Subject:</strong></label>
            <input type="text" class="form-control" id="message-subject" value="">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label"><strong>Message:</strong></label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="modalPublicProfileClose()">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>
<audio src="/static/audio/modal-fx.mp3" id="modal-audio-fx"></audio>
<!-- PROFILE NAVIGATION SUPPORT -->
{% if profile_id.privacy == False %}
<div class="fixed-button-expander pb-1">
  <button class="btn btn-dark text-warning border rounded border-info border-2 me-1 shadow-lg p-1 ps-2 pe-2" onclick="expandAllProfileColapses()" type="button">
    <i class="fa-solid fa-repeat text-warning p-0" id="profile-expand-all-icon"></i>
    <i class="fa-solid fa-repeat text-light d-none" id="profile-collapse-all-icon"></i>
  </button>
</div>
<div class="container bg-transparent fixed-bottom ms-0 ps-1" id="sticky-profile">
  <div class="row-fluid text-warning d-flex flex-row justify-content-between" id="sticky-profile-row">
    <div class="p-0 ms-0">
      <button class="navbar-toggler btn btn-warning p-1 bg-dark text-warning border rounded border-info border-2 mt-1 ms-0 mb-1 shadow-lg" id="navbar-dropdown-profile" type="button"
        data-bs-toggle="navbar-collapse-profile" data-bs-target="#navbar-collapse-profile" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation" onclick="toggleNavbarProfile()">
          <span class="navbar-toggler-icon fa-solid fa-ellipsis pt-1 pb-1" id="profile-nav-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse text-center col-md-10" id="navbar-collapse-profile">
      <div class="d-flex flex-wrap me-5 justify-content-end">
        <a href="#profile-general" id="profile-general-anchor" class="rounded text-decoration-none text-warning p-2 pt-2 pb-2 mt-1 border border-1 border-info bg-dark shadow-lg col-10 offset-2 w-75" onclick="closeNavbarProfile()">
          <strong><i class="fa-solid fa-circle-info me-3"></i>General</strong>
        </a>
        {% if profile_id.user_video %}
          <a href="#profile-video" class="rounded text-decoration-none text-warning p-2 pt-2 pb-2 border border-1 border-info bg-dark shadow-lg col-10 offset-1 w-75" onclick="closeNavbarProfile()">
            <strong><i class="fa-solid fa-film me-3"></i>Video</strong>
          </a>
        {% endif %}
        <a href="#profile-personal" id="profile-personal-anchor" class="rounded text-decoration-none text-warning p-2 pt-2 pb-2 border border-1 border-info bg-dark shadow-lg col-10 offset-1 w-75" onclick="closeNavbarProfile()">
          <strong><i class="fa-solid fa-address-card me-3"></i></i>Personal</strong>
        </a>
        <a href="#profile-employment" class="rounded text-decoration-none text-warning p-2 pt-2 pb-2 border border-1 border-info bg-dark shadow-lg col-10 offset-1 w-75" onclick="closeNavbarProfile()">
          <strong><i class="fa-solid fa-briefcase me-3"></i>Employment</strong>
        </a>
        <a href="#profile-history" class="rounded text-decoration-none text-warning p-2 pt-2 pb-2 border border-1 border-info bg-dark shadow-lg col-10 offset-1 w-75" onclick="closeNavbarProfile()">
          <strong><i class="fa-solid fa-book-atlas me-3"></i>History</strong>
        </a>
        <a href="#profile-results" class="rounded text-decoration-none text-warning p-2 pt-2 pb-2 border border-1 border-info bg-dark shadow-lg col-10 offset-1 w-75" onclick="closeNavbarProfile()">
          <strong><i class="fa-solid fa-star me-3"></i>Results</strong>
        </a>
        <a href="#profile-attributes" class="rounded text-decoration-none text-warning p-2 pt-2 pb-2 border border-1 border-info bg-dark shadow-lg col-10 offset-1 w-75" onclick="closeNavbarProfile()">
          <strong><i class="fa-solid fa-brain me-3"></i>Attributes</strong>
        </a>
        <a href="#profile-focus" class="rounded text-decoration-none text-warning p-2 pt-2 pb-2 border border-1 border-info bg-dark shadow-lg col-10 offset-1 w-75" onclick="closeNavbarProfile()">
          <strong><i class="fa-solid fa-scale-unbalanced-flip me-3"></i>Focus</strong>
        </a>
        <a href="#profile-specializations" class="rounded text-decoration-none text-warning p-2 pt-2 pb-2 border border-1 border-info bg-dark shadow-lg col-10 offset-1 w-75" onclick="closeNavbarProfile()">
          <strong><i class="fa-solid fa-bullseye me-3"></i>Specializations</strong>
        </a>
        <a href="#profile-results" class="rounded text-decoration-none text-warning p-2 pt-2 pb-2 border border-1 border-info bg-dark shadow-lg col-10 offset-1 w-75" onclick="closeNavbarProfile()">
          <strong><i class="fa-solid fa-certificate me-3"></i>Results</strong>
        </a>
        <a href="#profile-rewards" class="rounded text-decoration-none text-warning p-2 pt-2 pb-2 border border-1 border-info bg-dark shadow-lg col-10 offset-1 w-75" onclick="closeNavbarProfile()">
          <strong><i class="fa-solid fa-trophy me-3"></i>Rewards</strong>
        </a>
        <a href="#profile-wall" class="rounded text-decoration-none text-warning p-2 pt-2 pb-2 mb-1 border border-1 border-info bg-dark shadow-lg col-10 offset-1 w-75" onclick="closeNavbarProfile()">
          <strong><i class="fa-solid fa-star-of-life me-3"></i>Life Wall</strong>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- PROFILE CARD -->
{% if profile_id.profile_card_privacy == False %}
<div class="container pt-3 pb-3 ps-3 pe-3 mb-5 mt-3 mt-md-3 rounded border border-2 border-dark" style="background-color: {{ profile_id.profile_color }};">
  <div class="row pt-2">
    <div class="col-11 col-sm-6 col-md-4 col-lg-3 ms-2 mt-3 text-center" id="profile-general">
      <h3 class="rounded border border-2 border-dark mb- bg-light p-1 shadow-sm profile-titles ps-2 pe-2">Public Profile</h3>
    </div>
  </div>
  <div class="row mb-5 mt-5 mt-md-2">
    <button type="button" class="btn btn-dark fit-content mx-auto ps-md-4 pe-md-4 mb-3 border border-1 border-info text-info" onclick="modalPublicProfileActivate()" data-toggle="modal" data-target="#contact-modal" data-destination="{% if profile_id.public_email %}{{ profile_id.public_email }}{% else %}(blank){% endif %}">
      <strong>
        <i class="fa-regular fa-paper-plane me-2"></i>
        PRIVATE CONTACT
      </strong>
    </button>
  </div>
  <div class="row">
    <div class="col-md-4">
      {% if profile_id.profile_image %}
      <img src="{{ profile_id.profile_image.url }}" alt="Profile Picture" class="card-img-top rounded-circle border border-1 border-secondary shadow-lg ms-md-4 me-2 mb-2">
      {% else %}
      <img src="{% static 'images/21104.png' %}" alt="Profile Picture" class="card-img-top rounded-circle border border-1 border-secondary shadow-lg ms-md-4 me-2 mb-2">
      {% endif %}
      <p class="card-text ms-4 me-4 me-md-0 mt-4 text-break ms-md-5 mt-2 p-2 border border-1 border-dark shadow-sm rounded bg-light"><strong>WISDOM: </strong>{% if profile_id.profile_quote %}<em>"{{ profile_id.profile_quote }}"</em>{% else %}(blank){% endif %}</p>
      {% if profile_id.profile_audio %}
      <div class ="d-flex d-md-block justify-content-center">
        <button class="btn bg-dark shadow-lg w-42 rounded-pill ms-md-5 mt-2 shadow-lg" id="play-user-profile" onclick="playAudio()">
          <p class="text-light text-center m-0 p-1">
            <i class="fa-solid fa-circle-play me-2" style="color: #ffcf3e;"></i>
            <span class="text-light">
              Play me!
            </span>
          </p>
        </button>
        <button class="btn bg-dark shadow-lg w-42 rounded-pill ms-md-5 mt-2" id="stop-user-profile" onclick="stopAudio()" style="display:none">
          <p class="text-light text-center m-0 p-1">
            <i class="fa-solid fa-circle-stop me-2" style="color: #ffcf3e;"></i>
            <span class="text-light">
              Stop me!
            </span>
          </p>
        </button>
      </div>
      {% else %}
      {% endif %}
      <audio src="{% if profile_id.profile_audio %}{{ profile_id.profile_audio.url }}{% else %}{% endif %}" id="user-profile-audio" loop></audio>
    </div>
    <hr class="border border-2 border-dark d-md-none mt-5">
    <div class="col-10 col-md-7 offset-1">
      <div class="card"></div>
        <div class="card-body rounded border border-1 border-dark bg-light mt-5 mt-md-0 ps-3 pe-3 mb-3 mb-sm-5 shadow-lg">
          <h4 class="card-title ps-0 mb-4 mt-3 mb-2 mb-md-0 text-center">{{ profile_id.username }}</h4>
          <p class="card-text text-break"><strong class="me-2">ACTIVE DAYS: </strong>{% if profile_id.active_days %}{{ profile_id.active_days }}{% else %}(blank){% endif %}</p>
          <hr>
          <p class="card-text text-break"><strong class="me-2">ACTIVE HOURS: </strong>{% if profile_id.active_hours %}{{ profile_id.active_hours }}{% else %}(blank){% endif %}</p>
          <hr>
          <p class="card-text text-break"><strong class="me-2">VERIFIED: </strong>{% if profile_id.verified == True %}<i class="fa-solid fa-circle-check ms-2 me-1 d-inline"></i>Verified{% else %}Not verified {% endif %}</p>
          <hr>
          <p class="card-text text-break"><strong class="me-2">MEMBERSHIP: </strong>{% if profile_id.member == True %}<i class="fa-solid fa-house-user ms-2 me-2 d-inline"></i>Member{% else %}(blank){% endif %}</p>
          <hr>
          <p class="card-text text-break"><strong class="me-2">LIFECOIN BALANCE: </strong>{% if profile_id.lifecoin_balance %}<i class="fa-solid fa-sack-dollar ms-2 me-2 d-inline"></i>{{ profile_id.lifecoin_balance }}{% else %}(blank){% endif %}</p>
          <hr>
          <p class="card-text"><strong>LINKS:</strong></p>
          <div class="container-fluid m-0 p-0">
            <div class="row-fluid d-flex justify-content-center" id="profile-links">
              <div class="me-sm-2 ms-sm-2 ms-md-3 me-md-3 me-lg-4 ms-lg-4 me-xxl-5 ms-xxl-1">
                <a href="{% if profile.website_link %}{{ profile.website_link }}{% else %}#profile-general{% endif %}" class="text-dark" target="_blank">
                  <i class="fa-solid fa-globe bg-dark text-warning rounded p-2"></i>
                </a>
              </div>
              <div class="me-sm-2 me-md-3 me-lg-4 ms-lg-4 me-xxl-5">
                <a href="{% if profile.facebook_link %}{{ profile.facebook_link }}{% else %}#profile-general{% endif %}" class="text-dark" target="_blank">
                  <i class="fa-brands fa-facebook bg-dark text-warning rounded p-2"></i>
                </a>
              </div>
              <div class="me-sm-2 me-md-3 me-lg-4 ms-lg-4 me-xxl-5">
                <a href="{% if profile.twitter_link %}{{ profile.twitter_link }}{% else %}#profile-general{% endif %}" class="text-dark" target="_blank">
                  <i class="fa-brands fa-twitter bg-dark text-warning rounded p-2"></i>
                </a>
              </div>
              <div class="me-sm-2 me-md-3 me-lg-4 ms-lg-4 me-xxl-5">
                <a href="{% if profile.instagram_link %}{{ profile.instagram_link }}{% else %}#profile-general{% endif %}" class="text-dark" target="_blank">
                  <i class="fa-brands fa-instagram bg-dark text-warning rounded p-2"></i>
                </a>
              </div>
              <div class="me-sm-2 me-md-3 me-lg-4 ms-lg-4 me-xxl-5">
                <a href="{% if profile.linkedin_link %}{{ profile.linkedin_link }}{% else %}#profile-general{% endif %}" class="text-dark" target="_blank">
                  <i class="fa-brands fa-linkedin bg-dark text-warning rounded p-2"></i>
                </a>
              </div>
              <div class="me-sm-2 me-md-3 me-lg-4 ms-lg-4 me-xxl-1">
                <a href="{% if profile.youtube_link %}{{ profile.youtube_link }}{% else %}#profile-general{% endif %}" class="text-dark" target="_blank">
                  <i class="fa-brands fa-youtube bg-dark text-warning rounded p-2"></i>
                </a>
              </div>
            </div>
          </div>
            
          <hr>
          <p class="card-text m-0"><small class="text-muted"><span class="d-block d-sm-inline text-decoration-underline">JOINED:</span> {% if profile_id.created_on %}{{ profile_id.created_on|date:"F d, Y" }} [{{ profile_id.user_duration_created }} days ago]{% else %}(blank){% endif %}</small></p>
          <p class="card-text m-0 pt-2 pb-2"><small class="text-muted"><span class="d-block d-sm-inline text-decoration-underline">UPDATED:</span> {% if profile_id.updated_on %}{{ profile_id.updated_on|date:"F d, Y" }} [{{ profile_id.user_duration_updated }} days ago]{% else %}(blank){% endif %}</small></p>
        </div>
      </div>
    </div>
  <hr class="border border-2 border-dark">
{% else %}
{% endif %}
  <!-- USER VIDEO -->
{% if profile_id.user_video_privacy == False %}
  {% if profile_id.user_video %}
  <div class="row justify-content-center" id="profile-video">
    <div class="col-11 offset rounded border border-3 border-dark bg-secondary mt-4 mb-4 pt-2 shadow-lg h-100">
      <video id="user-video" class="bg-info w-100 h-100 shadow-lg align-items-center" controls type="video/mp4" src="{{ profile_id.user_video.url }}"></video>
    </div>
  </div>
  <hr class="border border-2 border-dark">
  {% else %}
  {% endif %}
{% else %}
{% endif %}
  <!-- PERSONAL INFORMATION -->
  {% if profile_id.general_info_privacy == False %}
  <div class="row" id="profile-personal">
    <div class="col-11 col-sm-8 col-lg-5 ms-2 ms-sm-3 ms-md-5 mt-4 text-center">
      <h5 class="rounded border border-2 border-dark mb-4 bg-light p-1 shadow-sm profile-titles ps-1 pe-1" onclick="personalCollapse()" type="button">
        <i class="fa-solid fa-square-plus me-2 ms-1 text-dark profile-collapse" id="profile-personal-icon"></i>
        <span class="me-0 w-100 pe-1">Personal Info</span>
      </h5>
    </div>
  </div> 
  <div class="row collapse" id="profile-information-collapse">
    <div class="col-12 col-sm-10 offset-sm-1 mt-1 mb-4 pb-3">
      <ul class="list-group mt-4 border border-1 border-dark shadow-lg">
        <li class="list-group-item bg-light text-break"><strong class="me-1">PUBLIC EMAIL:</strong> {% if profile_id.public_email %}{{ profile_id.public_email }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">FIRST NAME:</strong> {% if profile_id.first_name %}{{ profile_id.first_name }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">LAST NAME:</strong> {% if profile_id.last_name %}{{ profile_id.last_name }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">LOCATION:</strong> {% if profile_id.location %}{{ profile_id.location }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">LANGUAGES:</strong> {% if profile_id.languages %}{{ profile_id.languages }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light"><strong class="me-1">GENDER:</strong> {% if profile_id.gender %}{{ profile_id.gender }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light"><strong class="me-1">BIRTHDATE:</strong> {% if profile_id.date_of_birth %}{{ profile_id.date_of_birth }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light"><strong class="me-1">AGE:</strong> {% if profile_id.date_of_birth %}{{ profile_id.age }} years old{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light"><strong class="me-1">HEIGHT:</strong> {% if profile_id.height_cm %}{{ profile_id.height_cm }} cm{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light"><strong class="me-1">WEIGHT:</strong> {% if profile_id.weight_kg %}{{ profile_id.weight_kg }} kg{% else %}(blank){% endif %}</li>
      </ul>
    </div>
  </div>
  <hr class="border border-2 border-dark">
  {% else %}
  {% endif %}
  <!-- OCCUPATION -->
  {% if profile_id.current_employment_privacy == False %}
  <div class="row" id="profile-occupation">
    <div class="col-11 col-sm-8 col-lg-5 ms-2 ms-sm-3 ms-md-5 mt-4 text-center">
      <h5 class="rounded border border-2 border-dark mb-4 bg-light p-1 shadow-sm profile-titles ps-1 pe-1" onclick="occupationCollapse()" type="button">
        <i class="fa-solid fa-square-plus me-2 ms-1 text-dark profile-collapse" id="profile-occupation-icon"></i>
        <span class="me-0 w-100 pe-1">Occupation</span>
      </h5>
    </div>
  </div> 
  <div class="row collapse" id="profile-employment-collapse">
    <div class="col-12 col-sm-10 offset-sm-1 mb-4 pb-3">
      <ul class="list-group mt-4 border border-1 border-dark shadow-lg">
        <li class="list-group-item bg-light text-break"><strong class="me-1">INDUSTRY:</strong> {% if profile_id.industry %}{{ profile_id.industry }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">COMPANY:</strong> {% if profile_id.company %}{{ profile_id.company }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">DEPARTMENT:</strong> {% if profile_id.department %}{{ profile_id.department }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">POSITION:</strong> {% if profile_id.occupation %}{{ profile_id.occupation }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">START DATE:</strong> {% if profile_id.start_date %}<small class="d-block d-md-inline pt-2 pt-md-0">{{ profile_id.start_date }}</small><small class="d-none d-md-inline"> - </small><small class="text-muted">[Days: {{ profile_id.employed_days }} || Months: {{ profile_id.employed_months }} || Years: {{ profile_id.employed_years }}]{% else %}(blank){% endif %}</small></li>
        <li class="list-group-item bg-light"><strong class="me-1">HOURS PER WEEK:</strong> {% if profile_id.hours_per_week %}{{ profile_id.hours_per_week }}{% else %}(blank){% endif %}</li>
      </ul>
    </div>
  </div>
  <hr class="border border-2 border-dark">
  {% else %}
  {% endif %}
  <!-- EMPLOYMENT HISTORY -->
  {% if profile_id.history_employment_privacy == False %}
  <div class="row" id="profile-history">
    <div class="col-11 col-sm-8 col-lg-5 ms-2 ms-sm-3 ms-md-5 mt-4 text-center">
      <h5 class="rounded border border-2 border-dark mb-4 bg-light p-1 shadow-sm profile-titles ps-1 pe-1" onclick="pastEmploymentCollapse()" type="button">
        <i class="fa-solid fa-square-plus me-2 ms-1 text-dark profile-collapse" id="profile-history-icon"></i>
        <span class="me-0 w-100 pe-1">Career</span>
      </h5>
    </div>
  </div> 
  <div class="row collapse" id="profile-history-collapse">
    <div class="col-12 col-sm-10 offset-sm-1 mb-4 pb-3">
      <ul class="list-group mt-4 border border-1 border-dark shadow-lg">
        <li class="list-group-item bg-light"><strong class="me-1">CV:</strong> {% if profile_id.cv %}<a href="{{ profile_id.cv.url }}" target="_blank" class="hvr-sweep-to-bottom"><i class="fa fa-download ms-1" aria-hidden="true"></i><span class="ms-2"></span></a>{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light"><strong class="me-1">PROJECTS PORTFOLIO:</strong> {% if profile_id.projects_portfolio %}<a href="{{ profile_id.projects_portfolio.url }}" target="_blank"><i class="fa-solid fa-book ms-1"></i><span class="ms-2"></span></a>{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">EDUCATION:</strong> {% if profile_id.education %}{{ profile_id.education }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">WORK HISTORY:</strong> {% if profile_id.work_history %}{{ profile_id.work_history }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">REFERENCES:</strong> {% if profile_id.references %}{{ profile_id.references }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">RECOMMENDATIONS:</strong> {% if profile_id.recommendations %}{{ profile_id.recommendations }}{% else %}(blank){% endif %}</li>
      </ul>
    </div>
  </div>
  <hr class="border border-2 border-dark">
  {% else %}
  {% endif %}
  <!-- ACHIEVEMENTS -->
  {% if profile_id.achievements_privacy == False %}
  <div class="row" id="profile-achievements">
    <div class="col-11 col-sm-8 col-lg-5 ms-2 ms-sm-3 ms-md-5 mt-4 text-center">
      <h5 class="rounded border border-2 border-dark mb-4 bg-light p-1 shadow-sm profile-titles ps-1 pe-1" onclick="achievementsCollapse()" type="button">
        <i class="fa-solid fa-square-plus me-2 ms-1 text-dark profile-collapse" id="profile-achievements-icon"></i>
        <span class="me-0 w-100 pe-1">Achievements</span>
      </h5>
    </div>
  </div> 
  <div class="row collapse" id="profile-achievements-collapse">
    <div class="col-12 col-sm-10 offset-sm-1 mb-4 pb-3">
      <ul class="list-group mt-4 border border-1 border-dark shadow-lg">
        <li class="list-group-item bg-light text-break"><strong class="me-1">COMPLETED PROJECTS:</strong> {% if profile_id.projects_completed %}{{ profile_id.projects_completed }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">COMPLETED GOALS:</strong> {% if profile_id.goals_completed %}{{ profile_id.goals_completed }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">COMPLETED MISSIONS:</strong> {% if profile_id.missions_completed %}{{ profile_id.missions_completed }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">COMPLETED MILESTONES:</strong> {% if profile_id.milestones_completed %}{{ profile_id.milestones_completed }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">COMPLETED TASKS:</strong> {% if profile_id.tasks_completed %}{{ profile_id.tasks_completed }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">CONTRIBUTION:</strong> {% if profile_id.contribution %}{{ profile_id.contribution }}{% else %}(blank){% endif %}</li>
      </ul>
    </div>
  </div>
  <hr class="border border-2 border-dark">
  {% else %}
  {% endif %}
  <!-- ATTRIBUTES -->
  {% if profile_id.attributes_privacy == False %}
  <div class="row" id="profile-attributes">
    <div class="col-11 col-sm-8 col-lg-5 ms-2 ms-sm-3 ms-md-5 mt-4 text-center">
      <h5 class="rounded border border-2 border-dark mb-4 bg-light p-1 shadow-sm profile-titles ps-1 pe-1" onclick="attributesCollapse()" type="button">
        <i class="fa-solid fa-square-plus me-2 ms-1 text-dark profile-collapse" id="profile-attributes-icon"></i>
        <span class="me-0 w-100 pe-1">Attributes</span>
      </h5>
    </div>
  </div> 
  <div class="row collapse" id="profile-attributes-collapse">
    <div class="col-12 col-sm-10 offset-sm-1 mb-4 pb-3">
      <ul class="list-group mt-4 border border-1 border-dark shadow-lg">
        <li class="list-group-item bg-light text-break"><strong class="me-1">KNOWLEDGE:</strong> {% if profile_id.knowledge %}{{ profile_id.knowledge }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">SKILLS:</strong> {% if profile_id.skills %}{{ profile_id.skills }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">STRENGTHS:</strong> {% if profile_id.strengths %}{{ profile_id.strengths }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">WEAKNESSES:</strong> {% if profile_id.weaknesses %}{{ profile_id.weaknesses }}{% else %}(blank){% endif %}</li>
      </ul>
    </div>
  </div>
  <hr class="border border-2 border-dark">
  {% else %}
  {% endif %}
  <!-- BUSINESS FOCUS -->
  {% if profile_id.focus_privacy == False %}
  <div class="row" id="profile-focus">
    <div class="col-11 col-sm-8 col-lg-5 ms-2 ms-sm-3 ms-md-5 mt-4 text-center">
      <h5 class="rounded border border-2 border-dark mb-4 bg-light p-1 shadow-sm profile-titles ps-1 pe-1" onclick="focusCollapse()" type="button">
        <i class="fa-solid fa-square-plus me-2 ms-1 text-dark profile-collapse" id="profile-focus-icon"></i>
        <span class="me-0 w-100 pe-1">Business Focus</span>
      </h5>
    </div>
  <div class="row-fluid p-0 mb-5 mt-3 collapse" id="profile-focus-collapse">
    <div class="col-12 col-md-10 offset-md-1 shadow-lg pt-4 rounded border border-2 border-dark mb-3 ps-2 pe-2">
      <h6 class="rounded border border-3 border-dark bg-light p-1 mb-2 d-inline">INNOVATION</h6>
      <div class="progress border border-4 border-dark mb-3 mt-2" style="height: 24px">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info text-dark" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="{{profile_id.focus_innovation_style }}"><strong class="p-1">{% if profile_id.focus_innovation > 10 %}{{ profile_id.focus_innovation }} %{% else %}{{ profile_id.focus_innovation }}%{% endif %}</strong></div>
      </div>
      <h6 class="rounded border border-3 border-dark bg-light p-1 mb-2 d-inline">FINANCIALS</h6>
      <div class="progress border border-4 border-dark mb-3 mt-2" style="height: 24px">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="{{ profile_id.focus_financials_style }}"><strong class="p-1">{% if profile_id.focus_financials > 10 %}{{ profile_id.focus_financials }} %{% else %}{{ profile_id.focus_financials }}%{% endif %}</strong></div>
      </div>
      <hr class="mb-4">
      <h6 class="rounded border border-3 border-dark bg-light p-1 mb-2 d-inline">PLANNING</h6>
      <div class="progress border border-4 border-dark mb-3 mt-2" style="height: 24px">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info text-dark" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="{{ profile_id.focus_planning_style }}"><strong class="p-1">{% if profile_id.focus_planning > 10 %}{{ profile_id.focus_planning }} %{% else %}{{ profile_id.focus_planning }}%{% endif %}</strong></div>
      </div>
      <h6 class="rounded border border-3 border-dark bg-light p-1 mb-2 d-inline">MONITORING</h6>
      <div class="progress border border-4 border-dark mb-3 mt-2" style="height: 24px">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="{{ profile_id.focus_monitoring_style }}"><strong class="p-1">{% if profile_id.focus_monitoring > 10 %}{{ profile_id.focus_monitoring }} %{% else %}{{ profile_id.focus_monitoring }}%{% endif %}</strong></div>
      </div>
      <hr class="mb-4">
      <h6 class="rounded border border-3 border-dark bg-light p-1 mb-2 d-inline">QUALITY</h6>
      <div class="progress border border-4 border-dark mb-3 mt-2" style="height: 24px">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info text-dark" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="{{ profile_id.focus_quality_style }}"><strong class="p-1">{% if profile_id.focus_quality > 10 %}{{ profile_id.focus_quality }} %{% else %}{{ profile_id.focus_quality }}%{% endif %}</strong></div>
      </div>
      <h6 class="rounded border border-3 border-dark bg-light p-1 mb-2 d-inline">QUANTITY</h6>
      <div class="progress border border-4 border-dark mb-3 mt-2" style="height: 24px">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="{{ profile_id.focus_quantity_style }}"><strong class="p-1">{% if profile_id.focus_quantity > 10 %}{{ profile_id.focus_quantity }} %{% else %}{{ profile_id.focus_quantity }}%{% endif %}</strong></div>
      </div>
      <hr class="mb-4">
      <h6 class="rounded border border-3 border-dark bg-light p-1 mb-2 d-inline">COLLABORATION</h6>
      <div class="progress border border-4 border-dark mb-3 mt-2" style="height: 24px">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info text-dark" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="{{ profile_id.focus_collaboration_style }}"><strong class="p-1">{% if profile_id.focus_collaboration > 10 %}{{ profile_id.focus_collaboration }} %{% else %}{{ profile_id.focus_collaboration }}%{% endif %}</strong></div>
      </div>
      <h6 class="rounded border border-3 border-dark bg-light p-1 mb-2 d-inline">LEADERSHIP</h6>
      <div class="progress border border-4 border-dark mb-3 mt-2" style="height: 24px">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="{{ profile_id.focus_leadership_style }}"><strong class="p-1">{% if profile_id.focus_leadership > 10 %}{{ profile_id.focus_leadership }} %{% else %}{{ profile_id.focus_leadership }}%{% endif %}</strong></div>
      </div>
    </div>
  </div>
  <hr class="border border-2 border-dark mt-3">
  {% else %}
  {% endif %}
  <!-- BUSINESS SPECIALTY -->
  {% if profile_id.specialty_privacy == False %}
  <div class="row" id="profile-specializations">
    <div class="col-11 col-sm-8 col-lg-5 ms-2 ms-sm-3 ms-md-5 mt-4 text-center">
      <h5 class="rounded border border-2 border-dark mb-4 bg-light p-1 shadow-sm profile-titles ps-1 pe-1" onclick="specializationsCollapse()" type="button">
        <i class="fa-solid fa-square-plus me-2 ms-1 text-dark profile-collapse" id="profile-specializations-icon"></i>
        <span class="me-0 w-100 pe-1">Specializations</span>
      </h5>
    </div>
  </div>
  <div class="row-fluid p-0 mb-5 mt-3 collapse" id="profile-specializations-collapse">
    <div class="col-12 col-md-10 offset-md-1 shadow-lg pt-4 rounded border border-2 border-dark mb-3 ps-2 pe-2">
      <h6 class="rounded border border-3 border-dark bg-light p-1 mb-1 d-inline">OPERATIONS</h6>
      <div class="progress border border-4 border-dark mb-3 mt-2" style="height: 24px">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark text-white" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="{{profile_id.special_ops_style }}"><strong class="p-sm-1">{% if profile_id.special_ops > 10 %}{{ profile_id.special_ops }} %{% else %}{{ profile_id.special_ops }}%{% endif %}</strong></div>
      </div>
      <hr class="mb-4">
      <h6 class="rounded border border-3 border-dark bg-light p-1 mb-1 d-inline">FINANCIALS</h6>
      <div class="progress border border-4 border-dark mb-3 mt-2" style="height: 24px">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="{{ profile_id.special_finance_style }}"><strong class="p-sm-1">{% if profile_id.special_finance > 10 %}{{ profile_id.special_finance }} %{% else %}{{ profile_id.special_finance }}%{% endif %}</strong></div>
      </div>
      <hr class="mb-4">
      <h6 class="rounded border border-3 border-dark bg-light p-1 mb-1 d-inline">MARKETING & SALES</h6>
      <div class="progress border border-4 border-dark mb-3 mt-2" style="height: 24px">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning text-dark" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="{{ profile_id.special_marketing_style }}"><strong class="p-sm-1">{% if profile_id.special_marketing > 10 %}{{ profile_id.special_marketing }} %{% else %}{{ profile_id.special_marketing }}%{% endif %}</strong></div>
      </div>
      <hr class="mb-4">
      <h6 class="rounded border border-3 border-dark bg-light p-1 mb-1 d-inline">SUPPLY CHAIN</h6>
      <div class="progress border border-4 border-dark mb-3 mt-2" style="height: 24px">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="{{ profile_id.special_supply_chain_style }}"><strong class="p-sm-1">{% if profile_id.special_supply_chain > 10 %}{{ profile_id.special_supply_chain }} %{% else %}{{ profile_id.special_supply_chain }}%{% endif %}</strong></div>
      </div>
      <hr class="mb-4">
      <h6 class="rounded border border-3 border-dark bg-light p-1 mb-1 d-inline">HR</h6>
      <div class="progress border border-4 border-dark mb-3 mt-2" style="height: 24px">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info text-dark text-break" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="{{ profile_id.special_hr_style }}"><strong class="p-sm-1 text-break">{% if profile_id.special_hr > 10 %}{{ profile_id.special_hr }} %{% else %}{{ profile_id.special_hr }}%{% endif %}</strong></div>
      </div>
      <hr class="mb-4">
      <h6 class="rounded border border-3 border-dark bg-light p-1 mb-1 d-inline">TECHNOLOGY & DATA</h6>
      <div class="progress border border-4 border-dark mb-3 mt-2" style="height: 24px">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="{{ profile_id.special_tech_style }}"><strong class="p-sm-1">{% if profile_id.special_tech > 10 %}{{ profile_id.special_tech }} %{% else %}{{ profile_id.special_tech }}%{% endif %}</strong></div>
      </div>
      <hr class="mb-4">
      <h6 class="rounded border border-3 border-dark bg-light p-1 mb-1 d-inline">SUSTAINABILITY & CSR</h6>
      <div class="progress border border-4 border-dark mb-3 mt-2" style="height: 24px">
        <div class="progress-bar progress-bar-striped progress-bar-animated text-dark" id="sustainability_user" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="{{ profile_id.special_sustainability_style }}"><strong class="p-sm-1">{% if profile_id.special_sustainability > 10 %}{{ profile_id.special_sustainability }} %{% else %}{{ profile_id.special_sustainability }}%{% endif %}</strong></div>
      </div>
      <hr class="mb-4">
      <h6 class="rounded border border-3 border-dark bg-light p-1 mb-1 d-inline">RESEARCH</h6>
      <div class="progress border border-4 border-dark mb-3 mt-2" style="height: 24px">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="{{ profile_id.special_research_style }}"><strong class="p-sm-1">{% if profile_id.special_research > 10 %}{{ profile_id.special_research }} %{% else %}{{ profile_id.special_research }}%{% endif %}</strong></div>
      </div>
    </div>
  </div>
  <hr class="border border-2 border-dark mt-3">
  {% else %}
  {% endif %}
  <!-- RESULTS -->
  {% if profile_id.accomplishments_privacy == False %}
  <div class="row" id="profile-results">
    <div class="col-10 offset-1 col-sm-8 col-lg-5 ms-2 ms-sm-3 ms-md-5 mt-4 text-center">
      <h5 class="rounded border border-2 border-dark mb-4 bg-light p-1 shadow-sm profile-titles ps-1 pe-1" onclick="resultsCollapse()" type="button">
        <i class="fa-solid fa-square-plus me-2 ms-1 text-dark profile-collapse" id="profile-results-icon"></i>
        <span class="me-0 w-100 pe-1">Results</span>
      </h5>
    </div>
  </div> 
  <div class="row-fluid collapse" id="profile-results-collapse">
    <div class="col-12 col-sm-10 offset-sm-1 mb-4 pb-3"> 
      <ul class="list-group mt-4 border border-1 border-dark shadow-lg">
        <li class="list-group-item bg-light text-break"><strong class="me-1">RESULTS:</strong> {% if profile_id.results %}{{ profile_id.results }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">CERTIFICATES:</strong> {% if profile_id.certificates %}{{ profile_id.certificates }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">HONORS:</strong> {% if profile_id.honors %}{{ profile_id.honors }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">ARTICLES:</strong> {% if profile_id.articles %}{{ profile_id.articles }}{% else %}(blank){% endif %}</li>        
        <li class="list-group-item bg-light text-break"><strong class="me-1">RECOGNITION:</strong> {% if profile_id.recognition %}{{ profile_id.recognition }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light"><strong class="me-1">BIGGER FISH HIGH-SCORE:</strong> {% if profile_id.bigger_fish_results %}<a href="{{ profile_id.bigger_fish_results.url }}" target="_blank" class="hvr-sweep-to-bottom"><i class="fa-solid fa-trophy ms-2"></i></a>{% else %}(blank){% endif %}</li>
      </ul>
    </div>
  </div>
  <hr class="border border-2 border-dark mt-3">
  {% else %}
  {% endif %}
  <!-- REWARDS -->
  {% if profile_id.rewards_privacy == False %}
  <div class="row" id="profile-rewards">
    <div class="col-11 col-sm-8 col-lg-5 ms-2 ms-sm-3 ms-md-5 mt-4 text-center">
      <h5 class="rounded border border-2 border-dark mb-4 bg-light p-1 shadow-lg profile-titles ps-1 pe-1" onclick="rewardsCollapse()" type="button">
        <i class="fa-solid fa-square-plus me-2 ms-1 text-dark profile-collapse" id="profile-rewards-icon"></i>
        <span class="me-0 w-100 pe-1">Rewards</span>
      </h5>
    </div>
  </div> 
  <div class="row-fluid collapse" id="profile-rewards-collapse">
    <div class="col-12 col-sm-10 offset-sm-1 mb-4 pb-3">
      <ul class="list-group mt-4 border border-1 border-dark shadow-sm">
        <li class="list-group-item bg-light text-break"><strong class="me-1">AWARDS:</strong> {% if profile_id.awards %}{{ profile_id.awards }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">BUSINESS REWARDS:</strong> {% if profile_id.business_rewards %}{{ profile_id.business_rewards }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">INNOVATION LAND REWARDS:</strong> {% if profile_id.innovation_land_rewards %}{{ profile_id.innovation_land_rewards }}{% else %}(blank){% endif %}</li>
      </ul>
    </div>
  </div>
  <hr class="border border-2 border-dark mt-3">
  {% else %}
  {% endif %}
  <!-- PERSONAL WALL -->
  {% if profile_id.user_wall_privacy == False %}
  <div class="row" id="profile-wall">
    <div class="col-11 col-sm-8 col-lg-5 ms-2 ms-sm-3 ms-md-5 mt-4 text-center">
      <h5 class="rounded border border-2 border-dark mb-4 bg-light p-1 shadow-sm profile-titles ps-1 pe-1" onclick="personalWallCollapse()" type="button">
        <i class="fa-solid fa-square-plus me-2 ms-1 text-dark profile-collapse" id="profile-wall-icon"></i>
        <span class="me-0 w-100 pe-1">Personal Wall</span>
      </h5>
    </div>
  </div> 
  <div class="row-fluid collapse" id="profile-profile-wall-collapse">
    <div class="col-12 col-sm-10 offset-sm-1 mb-5 pb-3">
      <ul class="list-group mt-4 border border-1 border-dark shadow-lg">
        <li class="list-group-item bg-light text-break"><strong class="me-1">SUMMARY:</strong> {% if profile_id.summary %}{{ profile_id.summary }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">STORY:</strong> {% if profile_id.story %}{{ profile_id.story }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">JOURNEY:</strong> {% if profile_id.journey %}{{ profile_id.journey }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">FUTURE:</strong> {% if profile_id.future %}{{ profile_id.future }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">LEGACY:</strong> {% if profile_id.legacy %}{{ profile_id.legacy }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">CHANGE:</strong> {% if profile_id.change %}{{ profile_id.change }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">IDEAL LIFE:</strong> {% if profile_id.ideal_life %}{{ profile_id.ideal_life }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">GOALS:</strong> {% if profile_id.goals %}{{ profile_id.goals }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">MOTIVATIONS:</strong> {% if profile_id.motivation_wall %}{{ profile_id.motivation_wall }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">INTEREST AND HOBBIES:</strong> {% if profile_id.interests_hobbies_wall %}{{ profile_id.interests_hobbies_wall }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">DAILY ROUTINE:</strong> {% if profile_id.daily_routine %}<a href="{{ profile_id.daily_routine.url }}" target="_blank" class="hvr-sweep-to-bottom"><i class="fa-solid fa-calendar-days ms-2"></i></a>{% else %}(blank){% endif %}</li>
      </ul>
    </div>
  </div>
  {% else %}
  {% endif %}
</div>
{% else %}
<div class="bg-white shadow-lg rounded col-11 col-md-8 mx-auto">
  <h2 class="d-flex justify-content-center pt-5 ps-2 pe-2 text-break"><strong>PRIVATE PROFILE</strong></h2>
  <i class="fa-solid fa-lock d-flex justify-content-center mt-5 pb-5 fa-2x"></i>
</div>
{% endif %}

{% endblock content %}