{% extends "base.html" %}

{% block content %}
{{profile}}
<h1>My profile</h1>

<h2>
    Username: {{ user.username }}
</h2>
<h2>
    First Name: {{ profile.first_name }}
</h2>
<h2>
    Last Name: {{ profile.last_name }}
</h2>
<h2>
    Email: {{ user.email }}
</h2>

{{ user.user_profile }}

<a href="{% url 'account_logout' %}">
    <button>
        Create new profile
    </button>
</a>
<a href="{% url 'edit_profile' %}">
    <button>
        Edit my profile
    </button>
</a>
<a href="{% url 'delete_profile' %}">
    <button>
        Delete my profile
    </button>
</a>

{% endblock content %}