{% extends "base.html" %}

{% block content %}
{{profile}}
<h1>My profile</h1>

<a>
    <img src="{{ profile.profile_image.url }}">
</a>

<h2>
    Username: {{ user.username }}
</h2>
<h2>
    Email: {{ user.email }}
</h2>
<h2>
    {% if profile.first_name %}
    First Name: {{ profile.first_name }}
    {% else %}
    First Name: (blank)
    {% endif %}
</h2>
<h2>
    {% if profile.last_name %}
    Last Name: {{ profile.last_name }}
    {% else %}
    Last Name: (blank)
    {% endif %}
</h2>
<h2>
    {% if profile.location %}
    Location: {{ profile.location }}
    {% else %}
    Location: (blank)
    {% endif %}
    
</h2>
<h2>
    {% if profile.company %}
    Company: {{ profile.company }}
    {% else %}
    Company: (blank)
    {% endif %}
    
</h2>
<h2>
    {% if profile.occupation %}
    Occupation: {{ profile.occupation }}
    {% else %}
    Occupation: (blank)
    {% endif %}
    
</h2>
<h2>
    {% if profile.bio %}
    Bio: {{ profile.bio }}
    {% else %}
    Bio: (blank)
    {% endif %}
</h2>


{{ user.user_profile }}

<a href="{% url 'account_logout' %}">
    <button>
        Create new profile
    </button>
</a>
<a href="{% url 'edit_profile' %}">
    <button>
        Edit my profile
    </button>
</a>
<a href="{% url 'delete_profile' %}">
    <button>
        Delete my profile
    </button>
</a>

{% endblock content %}