{% extends "base.html" %}



{% block content %}

{% load crispy_forms_tags %}
<!-- HEADING -->
<div class="container-fluid mt-3">
  <div class="row-fluid">
    <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xxl-4 offset-xxl-4 rounded bg-dark bg-gradient mt-0 border border-2 border-info shadow-lg mb-5">
      <a class="text-white text-decoration-none d-flex justify-content-end">
        <i class="fa-solid fa-circle-question mt-2 me-1 me-2 rounded-circle shadow-lg text-warning" role="button" id="profile-example" tabindex="0" onclick="showPopover()" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="bottom" title="Profile Example" data-bs-html="true" data-bs-content="&lt;div class='bg-dark rounded text-warning p-2 mt-0'&gt;If you need inspiration on how to complete any fields, you can: &lt;a href=&quot;https://example.com&quot; target=&quot;_blank&quot; class=&quot; text-info text-decoration-none d-block&quot;&gt;&lt;strong&gt;CLICK HERE!&lt;/strong&gt;&lt;/a&gt;&lt;/div&gt;"></i>
      </a>
      <h1 class="d-flex justify-content-center mt-4 text-warning"><strong>Editing profile:</strong></h1>
      <h2 class="d-flex justify-content-center mt-4 pt-1 pb-2 mb-4 mb-sm-5 text-warning">{{ user.username }}</h2>
    </div>
  </div> 
</div>
<!-- EDIT FORM -->
<div class="container-fluid mt-3 mt-md-5 mb-4" id="edit-form-div">
  <div class="row">
    <div class="col-12 col-md-10 offset-md-1 text-break" id="edit-form">
      <form method="post" enctype="multipart/form-data" id="edit-form-form" class="rounded p-3 shadow-lg bg-light bg-gradient border border-1 border-info">
        {% csrf_token %}
        <div class="list-group border border-1 border-dark rounded-0 mt-0">
          <button type="button" id="edit-privacy-bttn" onclick="editProfilePrivacy()" class="list-group-item text-start bg-as-nav text-dark pt-2 pb-2"><strong>1. Profile Privacy</strong></button>
          <div class="bg-light collapse" id="edit-privacy">
            <div class="mt-4 mb-4 pb-1 ms-2 me-2 ms-md-3 me-md-3">
              <div class="">
                {{ form.privacy | as_crispy_field }}
              </div>
            </div>
          </div>
        </div>
        <div class="list-group border border-1 border-dark rounded-0">
          <button type="button" id="edit-card-bttn" onclick="editProfileCard()" class="list-group-item text-start bg-as-nav text-dark pt-2 pb-2"><strong>2. Profile Card</strong></button>
          <div class="bg-light collapse" id="edit-card">
            <div class="mt-4 mb-4 pb-2 ms-2 me-2 ms-md-3 me-md-3">
              <div class="">
                {{ form.profile_card_privacy | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.profile_color | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.profile_audio | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.profile_image | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.profile_quote | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.user_type | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.active_days | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.active_hours | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.website_link | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.facebook_link | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.twitter_link | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.instagram_link | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.linkedin_link | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.youtube_link | as_crispy_field }}
              </div>
            </div>
          </div>
        </div>
        <div class="list-group border border-1 border-dark rounded-0">
          <button type="button" id="edit-video-bttn" onclick="editProfileVideo()" class="list-group-item text-start bg-as-nav text-dark pt-2 pb-2"><strong>3. Profile Video</strong></button>
          <div class="bg-light collapse" id="edit-video">
            <div class="mt-4 mb-4 pb-1 ms-2 me-2 ms-md-3 me-md-3">
              <div class="">
                {{ form.user_video_privacy | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.user_video | as_crispy_field }}
              </div>
            </div>
          </div>
        </div> 
        <div class="list-group border border-1 border-dark rounded-0">
          <button type="button" id="edit-general-bttn" onclick="editProfileGeneral()" class="list-group-item text-start bg-as-nav text-dark pt-2 pb-2"><strong>4. General Information</strong></button>
          <div class="bg-light collapse" id="edit-general">
            <div class="mt-4 mb-4 pb-1 ms-2 me-2 ms-md-3 me-md-3">
              <div class="">
                {{ form.general_info_privacy | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.public_email | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.first_name | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.last_name | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.location | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.languages | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.gender | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.date_of_birth | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.height_cm | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.weight_kg | as_crispy_field }}
              </div>
            </div>
          </div>
        </div> 
        <div class="list-group border border-1 border-dark rounded-0">
          <button type="button" id="edit-occupation-bttn" onclick="editProfileOccupation()" class="list-group-item text-start bg-as-nav text-dark pt-2 pb-2"><strong>5. Occupation</strong></button>
          <div class="bg-light collapse" id="edit-occupation">
            <div class="mt-4 mb-4 pb-1 ms-2 me-2 ms-md-3 me-md-3">
              <div class="">
                {{ form.current_employment_privacy | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.industry | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.company | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.department | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.occupation | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.start_date | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.hours_per_week | as_crispy_field }}
              </div>
            </div>
          </div>
        </div>
        <div class="list-group border border-1 border-dark rounded-0">
          <button type="button" id="edit-career-bttn" onclick="editProfileCareer()" class="list-group-item text-start bg-as-nav text-dark pt-2 pb-2"><strong>6. Career</strong></button>
          <div class="bg-light collapse" id="edit-career">
            <div class="mt-4 mb-4 pb-1 ms-2 me-2 ms-md-3 me-md-3">
              <div class="">
                {{ form.history_employment_privacy | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.cv | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.education | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.work_history | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.projects_portfolio | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.references | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.recommendations | as_crispy_field }}
              </div>
            </div>
          </div>
        </div>
        <div class="list-group border border-1 border-dark rounded-0">
          <button type="button" id="edit-achievements-bttn" onclick="editProfileAchievements()" class="list-group-item text-start bg-as-nav text-dark pt-2 pb-2"><strong>7. Achievements</strong></button>
          <div class="bg-light collapse" id="edit-achievements">
            <div class="mt-4 mb-4 pb-1 ms-2 me-2 ms-md-3 me-md-3">
              <div class="">
                {{ form.achievements_privacy | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.projects_completed | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.goals_completed | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.missions_completed | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.milestones_completed | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.tasks_completed | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.contribution | as_crispy_field }}
              </div>
            </div>
          </div>
        </div>
        <div class="list-group border border-1 border-dark rounded-0">
          <button type="button" id="edit-attributes-bttn" onclick="editProfileAttributes()" class="list-group-item text-start bg-as-nav text-dark pt-2 pb-2"><strong>8. Attributes</strong></button>
          <div class="bg-light collapse" id="edit-attributes">
            <div class="mt-4 mb-4 pb-1 ms-2 me-2 ms-md-3 me-md-3">
              <div class="">
                {{ form.attributes_privacy | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.knowledge | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.skills | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.strengths | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.weaknesses | as_crispy_field }}
              </div>
            </div>
          </div>
        </div>
        <div class="list-group border border-1 border-dark rounded-0">
          <button type="button" id="edit-focus-bttn" onclick="editProfileFocus()" class="list-group-item text-start bg-as-nav text-dark pt-2 pb-2"><strong>9. Business Focus</strong></button>
          <div class="bg-light collapse" id="edit-focus">
            <div class="mt-4 mb-4 pb-1 ms-2 me-2 ms-md-3 me-md-3">
              <div class="">
                {{ form.focus_privacy | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.focus_innovation | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.focus_financials | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.focus_planning | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.focus_monitoring | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.focus_quality | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.focus_quantity | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.focus_collaboration | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.focus_leadership | as_crispy_field }}
              </div>
            </div>
          </div>
        </div>
        <div class="list-group border border-1 border-dark rounded-0">
          <button type="button" id="edit-specializations-bttn" onclick="editProfileSpecialization()" class="list-group-item text-start bg-as-nav text-dark pt-2 pb-2"><strong>10. Business Specializations</strong></button>
          <div class="bg-light collapse" id="edit-specializations">
            <div class="mt-4 mb-4 pb-1 ms-2 me-2 ms-md-3 me-md-3">
              <div class="">
                {{ form.specialty_privacy | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.special_ops | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.special_finance | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.special_marketing | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.special_supply_chain | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.special_hr | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.special_tech | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.special_sustainability | as_crispy_field }}
              </div>
              <div class="">
                {{ form.special_research | as_crispy_field }}
              </div>
            </div>
          </div>
        </div>
        <div class="list-group border border-1 border-dark rounded-0">
          <button type="button" id="edit-accomplishments-bttn" onclick="editProfileAccomplishments()" class="list-group-item text-start bg-as-nav text-dark pt-2 pb-2"><strong>11. Accomplishments</strong></button>
          <div class="bg-light collapse" id="edit-accomplishments">
            <div class="mt-4 mb-4 pb-1 ms-2 me-2 ms-md-3 me-md-3">
              <div class="">
                {{ form.accomplishments_privacy | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.results | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.certificates | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.honors | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.articles | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.recognition | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.bigger_fish_results | as_crispy_field }}
              </div>
            </div>
          </div>
        </div>
        <div class="list-group border border-1 border-dark rounded-0">
          <button type="button" id="edit-rewards-bttn" onclick="editProfileRewards()" class="list-group-item text-start bg-as-nav text-dark pt-2 pb-2"><strong>12. Rewards</strong></button>
          <div class="bg-light collapse" id="edit-rewards">
            <div class="mt-4 mb-4 pb-1 ms-2 me-2 ms-md-3 me-md-3">
              <div class="">
                {{ form.rewards_privacy | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.awards | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.business_rewards | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.innovation_land_rewards | as_crispy_field }}
              </div>
            </div>
          </div>
        </div>
        <div class="list-group border border-1 border-dark rounded-0">
          <button type="button" id="edit-wall-bttn" onclick="editProfileWall()" class="list-group-item text-start bg-as-nav text-dark pt-2 pb-2"><strong>13. Personal Wall</strong></button>
          <div class="bg-light collapse" id="edit-wall">
            <div class="mt-4 mb-4 pb-1 ms-2 me-2 ms-md-3 me-md-3">
              <div class="">
                {{ form.user_wall_privacy | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.summary | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.story | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.journey | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.future | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.legacy | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.change | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.ideal_life | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.goals | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.motivation_wall | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.interests_hobbies_wall | as_crispy_field }}
              </div>
              <hr>
              <div class="">
                {{ form.daily_routine | as_crispy_field }}
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between mt-5">
          <button class="btn btn-secondary" type="submit" onclick="javascript:history.back()">Back</button>
          <button class="btn btn-secondary ml-auto" type="button" data-toggle="modal" data-target="#edit-profile-save" onclick="modalEditProfileActivate()">Save</button>
        </div>
        <!-- SAVE BUTTON MODAL -->
        <div class="modal fade" id="edit-profile-save" tabindex="-1" role="dialog" aria-labelledby="edit-profile-label" aria-hidden="true">
          <div class="modal-dialog mt-3 mt-md-5" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="edit-profile-label">Profile edited</h5>
              </div>
              <div class="modal-body">
                <span class="block">Warning! You are about to update your profile and lose previous progress.</span>
                <br>
                <span class="block"></span>
                <br>
                <span class="block">Do you wish to save changes?</span>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="modalEditProfileClose()">Close</button>
                <button type="submit" class="btn btn-primary" form="edit-form-form">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %}