{% extends "base.html" %}

{% load static %}


{% block content %}

<!-- INCLUDE PRIVACY BASED ON EDIT FORM -->

<div class="container-fluid bg-secondary shadow-lg border border-dark border-3 me-0 fixed-bottom" id="sticky-profile">
  <div class="row-fluid text-warning d-flex flex-row justify-content-between" id="sticky-profile-row">
    <div class="p-0">
      <button class="navbar-toggler btn btn-warning p-1 bg-dark text-warning border rounded border-info border-2 mt-1 ms-0 mb-1 shadow-lg" id="navbar-dropdown-profile" type="button"
        data-bs-toggle="navbar-collapse-profile" data-bs-target="#navbar-collapse-profile" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation" onclick="toggleNavbarProfile()">
          <span class="navbar-toggler-icon fa fa-bars pt-1 pb-1" style="font-size: 0.8rem;"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse text-center col-md-10" id="navbar-collapse-profile">
      <div class="d-flex flex-wrap me-5 justify-content-end">
        <a href="#profile-general" id="profile-general-anchor" class="rounded text-decoration-none text-warning p-2 pt-2 pb-2 mt-1 border border-1 border-info bg-dark shadow-lg col-10 offset-2 w-75" onclick="closeNavbarProfile()">
          <strong><i class="fa-solid fa-circle-info me-3"></i>General</strong>
        </a>
        <a href="#profile-video" class="rounded text-decoration-none text-warning p-2 pt-2 pb-2 border border-1 border-info bg-dark shadow-lg col-10 offset-1 w-75" onclick="closeNavbarProfile()">
          <strong><i class="fa-solid fa-film me-3"></i>Video</strong>
        </a>
        <a href="#profile-personal" class="rounded text-decoration-none text-warning p-2 pt-2 pb-2 border border-1 border-info bg-dark shadow-lg col-10 offset-1 w-75" onclick="closeNavbarProfile()">
          <strong><i class="fa-solid fa-address-card me-3"></i></i>Personal</strong>
        </a>
        <a href="#profile-employment" class="rounded text-decoration-none text-warning p-2 pt-2 pb-2 border border-1 border-info bg-dark shadow-lg col-10 offset-1 w-75" onclick="closeNavbarProfile()">
          <strong><i class="fa-solid fa-briefcase me-3"></i>Employment</strong>
        </a>
        <a href="#profile-history" class="rounded text-decoration-none text-warning p-2 pt-2 pb-2 border border-1 border-info bg-dark shadow-lg col-10 offset-1 w-75" onclick="closeNavbarProfile()">
          <strong><i class="fa-solid fa-book-atlas me-3"></i>History</strong>
        </a>
        <a href="#profile-achievements" class="rounded text-decoration-none text-warning p-2 pt-2 pb-2 border border-1 border-info bg-dark shadow-lg col-10 offset-1 w-75" onclick="closeNavbarProfile()">
          <strong><i class="fa-solid fa-star me-3"></i>Achievements</strong>
        </a>
        <a href="#profile-attributes" class="rounded text-decoration-none text-warning p-2 pt-2 pb-2 border border-1 border-info bg-dark shadow-lg col-10 offset-1 w-75" onclick="closeNavbarProfile()">
          <strong><i class="fa-solid fa-brain me-3"></i>Attributes</strong>
        </a>
        <a href="#profile-focus" class="rounded text-decoration-none text-warning p-2 pt-2 pb-2 border border-1 border-info bg-dark shadow-lg col-10 offset-1 w-75" onclick="closeNavbarProfile()">
          <strong><i class="fa-solid fa-scale-unbalanced-flip me-3"></i>Focus</strong>
        </a>
        <a href="#profile-specializations" class="rounded text-decoration-none text-warning p-2 pt-2 pb-2 border border-1 border-info bg-dark shadow-lg col-10 offset-1 w-75" onclick="closeNavbarProfile()">
          <strong><i class="fa-solid fa-bullseye me-3"></i>Specializations</strong>
        </a>
        <a href="#profile-accomplishments" class="rounded text-decoration-none text-warning p-2 pt-2 pb-2 border border-1 border-info bg-dark shadow-lg col-10 offset-1 w-75" onclick="closeNavbarProfile()">
          <strong><i class="fa-solid fa-certificate me-3"></i>Accomplishments</strong>
        </a>
        <a href="#profile-rewards" class="rounded text-decoration-none text-warning p-2 pt-2 pb-2 border border-1 border-info bg-dark shadow-lg col-10 offset-1 w-75" onclick="closeNavbarProfile()">
          <strong><i class="fa-solid fa-trophy me-3"></i>Rewards</strong>
        </a>
        <a href="#profile-wall" class="rounded text-decoration-none text-warning p-2 pt-2 pb-2 mb-1 border border-1 border-info bg-dark shadow-lg col-10 offset-1 w-75" onclick="closeNavbarProfile()">
          <strong><i class="fa-solid fa-star-of-life me-3"></i>Life Wall</strong>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- PROFILE CARD -->
<div class="container pt-4 rounded border border-2 border-dark" style="background-color: {{ profile.profile_color }};">
  <div class="row pt-2">
    <div class="col-7 col-sm-5 col-md-4 text-center" id="profile-general">
      <h2 class="rounded border border-2 border-dark mb-4 bg-light p-1 shadow-sm">My Profile</h2>
    </div>
  </div>
  <div class="row mb-5 mt-4 ">
    <div class="col-8 offset-2 col-md-4 offset-md-0">
      <a href="{% url 'account_logout' %}">
        <button class="bg-dark w-100 mb-2 shadow-lg">
          <p class="text-light text-center m-0 p-1">
            <i class="fa-solid fa-user-plus me-2" style="color: #ffd041;"></i>
            New
          </p>
        </button>
      </a>
    </div>
    <div class="col-8 offset-2 col-md-4 offset-md-0">
      <a href="{% url 'edit_profile' %}">
        <button class="bg-dark w-100 mb-2 shadow-lg">
          <p class="text-light text-center m-0 p-1">
            <i class="fa-solid fa-user-pen me-2" style="color: #ffcf3e;"></i>
            Edit
          </p>
        </button>
      </a>
    </div>
    <div class="col-8 offset-2 col-md-4 offset-md-0">
      <a href="{% url 'delete_profile' %}">
        <button class="bg-dark w-100 mb-2 shadow-lg">
          <p class="text-light text-center m-0 p-1">
            <i class="fa-solid fa-user-xmark me-2" style="color: #ffc61a;"></i>
            Delete
          </p>
        </button>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <img
        src="{% if user.profile_image %}{{ user.profile.image.url }}{% else %}{% static 'images/21104.png' %}{% endif %}"
        alt="Profile Picture" class="card-img-top rounded-circle border border-1 border-secondary shadow-lg ms-md-4 me-2">
        <p class="card-text mt-4 text-break ms-4 mt-2 ps-2 border border-1 border-dark shadow-lg rounded"><strong>WISDOM: </strong>{% if profile.profile_quote %}<em>"{{ profile.profile_quote }}"</em>{% else %}(blank){% endif %}</p>
        <button class="bg-dark shadow-lg w-42 rounded-pill ms-4 mt-2 shadow-lg" id="play-user-profile" onclick="playAudio()">
          <p class="text-light text-center m-0 p-1">
            <i class="fa-solid fa-circle-play me-2" style="color: #ffcf3e;"></i>
            <span class="text-warning">
              Play me!
            </span>
          </p>
        </button>
        <button class="bg-dark shadow-lg w-42 rounded-pill ms-4 mt-2" id="stop-user-profile" onclick="stopAudio()" style="display:none">
          <p class="text-light text-center m-0 p-1">
            <i class="fa-solid fa-circle-stop me-2" style="color: #ffcf3e;"></i>
            <span class="text-warning">
              Stop me!
            </span>
          </p>
        </button>
        <audio src="{% if profile.profile_audio %}{{ profile.profile_audio.url }}{% else %}{% endif %}" id="user-profile-audio" loop></audio>
    </div>
    <hr class="border border-2 border-dark d-md-none mt-5">
    <div class="col-10 col-md-7 offset-1">
      <div class="card"></div>
        <div class="card-body rounded border border-1 border-dark bg-light mt-5 mt-md-0 ps-3 mb-3 mb-sm-5 shadow-lg">
          <h4 class="card-title mb-4 mt-2 text-center">{{ user.username }}</h4>
          <p class="card-text"><strong class="me-2">STATUS: </strong>{% if user.is_authenticated %}Online{% else %}{{ profile.status }}{% endif %}</p>
          <hr>
          <p class="card-text text-break"><strong class="me-2">ACTIVE DAYS: </strong>{% if profile.active_days %}{{ profile.active_days }}{% else %}(blank){% endif %}</p>
          <hr>
          <p class="card-text text-break"><strong class="me-2">ACTIVE HOURS: </strong>{% if profile.active_hours %}{{ profile.active_hours }}{% else %}(blank){% endif %}</p>
          <hr>
          <p class="card-text"><strong class="me-2">VERIFIED: </strong>{% if profile.verified == True %}<i class="fa-solid fa-circle-check ms-2 me-1"></i> Verified{% else %}Not verified {% endif %}</p>
          <hr>
          <p class="card-text"><strong class="me-2">MEMBERSHIP: </strong>{% if profile.member == True %}<i class="fa-solid fa-house-user ms-2 me-2"></i>Member{% else %}Not a member{% endif %}</p>
          <hr>
          <p class="card-text"><strong class="me-2">LIFECOIN BALANCE: </strong>{% if profile.lifecoin_balance %}<i class="fa-solid fa-sack-dollar ms-2 me-2"></i>{{ profile.lifecoin_balance }}{% else %}(blank){% endif %}</p>
          <hr>
          <p class="card-text"><strong>LINKS:</strong></p>
          <div class="container mb-3">
            <div class="row me-3 me-sm-0 ms-sm-2 ms-lg-3 ms-xl-4 ms-xxl-5">
              <div class="col-2">
                <a href="{% if profile.website_link %}{{ profile.website_link }}{% else %}#profile-general{% endif %}" class="text-dark">
                  <i class="fa-solid fa-globe bg-dark text-warning rounded p-2"></i>
                </a>
              </div>
              <div class="col-2">
                <a href="{% if profile.facebook_link %}{{ profile.facebook_link }}{% else %}#profile-general{% endif %}" class="text-dark">
                  <i class="fa-brands fa-facebook bg-dark text-warning rounded p-2"></i>
                </a>
              </div>
              <div class="col-2">
                <a href="{% if profile.twitter_link %}{{ profile.twitter_link }}{% else %}#profile-general{% endif %}" class="text-dark">
                  <i class="fa-brands fa-twitter bg-dark text-warning rounded p-2"></i>
                </a>
              </div>
              <div class="col-2">
                <a href="{% if profile.instagram_link %}{{ profile.instagram_link }}{% else %}#profile-general{% endif %}" class="text-dark">
                  <i class="fa-brands fa-instagram bg-dark text-warning rounded p-2"></i>
                </a>
              </div>
              <div class="col-2">
                <a href="{% if profile.linkedin_link %}{{ profile.linkedin_link }}{% else %}#profile-general{% endif %}" class="text-dark">
                  <i class="fa-brands fa-linkedin bg-dark text-warning rounded p-2"></i>
                </a>
              </div>
              <div class="col-2">
                <a href="{% if profile.youtube_link %}{{ profile.youtube_link }}{% else %}#profile-general{% endif %}" class="text-dark">
                  <i class="fa-brands fa-youtube bg-dark text-warning rounded p-2"></i>
                </a>
              </div>
            </div>
          </div>
          <hr>
          <p class="card-text m-0"><small class="text-muted">Joined: {{ profile.created_on|date:"F d, Y" }} || {{ profile.user_duration_created }} days ago</small></p>
          <p class="card-text m-0 pb-2"><small class="text-muted">Updated: {{ profile.updated_on|date:"F d, Y" }} || {{ profile.user_duration_updated }} days ago</small></p>
        </div>
      </div>
    </div>
  <hr class="border border-2 border-dark">
  <!-- USER VIDEO -->
  {% if profile.user_video %}
  <div class="row justify-content-center" id="profile-video">
    <div class="col-11 offset rounded border border-3 border-dark bg-secondary mt-4 mb-4 pt-2 shadow-lg h-75">
      <video id="user_video" class="bg-info w-100 h-75 shadow-lg align-items-center" controls type="video/mp4" src="{{ profile.user_video.url }}"></video>
    </div>
  </div>
  <hr class="border border-2 border-dark">
  {% else %}
  {% endif %}
  <!-- GENERAL INFORMATION -->
  <div class="row" id="profile-personal">
    <div class="col-8 col-sm-6 col-md-5 mt-4 text-center">
      <h4 class="rounded border border-2 border-dark mb-4 bg-light p-1 shadow-lg">Personal Information</h4>
    </div>
  </div> 
  <div class="row">
    <div class="col-12 col-sm-10 offset-sm-1 mt-1 mb-4 pb-3">
      <ul class="list-group mt-4 border border-1 border-dark shadow-lg">
        <li class="list-group-item bg-light"><strong class="me-1">USERNAME:</strong> {% if user.username %}{{ user.username }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light"><strong class="me-1">USER EMAIL:</strong> {% if user.email %}{{ user.email }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light"><strong class="me-1">PUBLIC EMAIL:</strong> {{ profile.public_email }}{% if profile.public_email %}{{ profile.public_email }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light"><strong class="me-1">FIRST NAME:</strong> {% if profile.first_name %}{{ profile.first_name }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light"><strong class="me-1">LAST NAME:</strong> {% if profile.last_name %}{{ profile.last_name }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light"><strong class="me-1">LOCATION:</strong> {% if profile.location %}{{ profile.location }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">LANGUAGES:</strong> {% if profile.languages %}{{ profile.languages }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light"><strong class="me-1">GENDER:</strong> {% if profile.gender %}{{ profile.gender }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light"><strong class="me-1">BIRTHDATE:</strong> {% if profile.date_of_birth %}{{ profile.date_of_birth }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light"><strong class="me-1">AGE:</strong> {% if profile.date_of_birth %}{{ profile.age }} years old{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light"><strong class="me-1">HEIGHT:</strong> {% if profile.height_cm %}{{ profile.height_cm }} cm{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light"><strong class="me-1">WEIGHT:</strong> {% if profile.weight_kg %}{{ profile.weight_kg }} kg{% else %}(blank){% endif %}</li>
      </ul>
    </div>
  </div>
  <hr class="border border-2 border-dark">
  <!-- CURRENT EMPLOYMENT -->
  <div class="row" id="profile-employment">
    <div class="col-8 col-sm-6 col-md-5  mt-4 text-center">
      <h4 class="rounded border border-2 border-dark mb-4 bg-light p-1 shadow-lg">Current Employment</h4>
    </div>
  </div> 
  <div class="row">
    <div class="col-12 col-sm-10 offset-sm-1 mb-4 pb-3">
      <ul class="list-group mt-4 border border-1 border-dark shadow-lg">
        <li class="list-group-item bg-light"><strong class="me-1">INDUSTRY:</strong> {% if profile.industry %}{{ profile.industry }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">COMPANY:</strong> {% if profile.company %}{{ profile.company }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light"><strong class="me-1">DEPARTMENT:</strong> {% if profile.department %}{{ profile.department }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">OCCUPATION:</strong> {% if profile.occupation %}{{ profile.occupation }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">START DATE:</strong> {% if profile.start_date %}{{ profile.start_date }} - [Days: {{ profile.employed_days }} || Months: {{ profile.employed_months }} || Years: {{ profile.employed_years }}]{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light"><strong class="me-1">HOURS PER WEEK:</strong> {% if profile.hours_per_week %}{{ profile.hours_per_week }}{% else %}(blank){% endif %}</li>
      </ul>
    </div>
  </div>
  <hr class="border border-2 border-dark">
  <!-- PREVIOUS EMPLOYMENT -->
  <div class="row" id="profile-history">
    <div class="col-8 col-sm-6 col-md-5 mt-4 text-center">
      <h4 class="rounded border border-2 border-dark mb-4 bg-light p-1 shadow-lg">Previous Employment</h4>
    </div>
  </div> 
  <div class="row">
    <div class="col-12 col-sm-10 offset-sm-1 mb-4 pb-3">
      <ul class="list-group mt-4 border border-1 border-dark shadow-lg">
        <li class="list-group-item bg-light"><strong class="me-1">CV:</strong> {% if profile.cv %}<a href="{{ profile.cv.url }}" target="_blank" class="hvr-sweep-to-bottom"><i class="fa fa-download ms-1" aria-hidden="true"></i><span class="ms-2"></span></a>{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light"><strong class="me-1">PROJECTS PORTFOLIO:</strong> {% if profile.projects_portfolio %}<a href="{{ profile.projects_portfolio.url }}"><i class="fa-solid fa-book ms-1"></i><span class="ms-2"></span></a>{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">EDUCATION:</strong> {% if profile.education %}{{ profile.education }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">WORK HISTORY:</strong> {% if profile.work_history %}{{ profile.work_history }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">REFERENCES:</strong> {% if profile.references %}{{ profile.references }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">RECOMMENDATIONS:</strong> {% if profile.recommendations %}{{ profile.recommendations }}{% else %}(blank){% endif %}</li>
      </ul>
    </div>
  </div>
  <hr class="border border-2 border-dark">
  <!-- ACHIEVEMENTS -->
  <div class="row"  id="profile-achievements">
    <div class="col-8 col-sm-6 col-md-5 mt-4 text-center">
      <h4 class="rounded border border-2 border-dark mb-4 bg-light p-1 shadow-lg">Achievements</h4>
    </div>
  </div> 
  <div class="row">
    <div class="col-12 col-sm-10 offset-sm-1 mb-4 pb-3">
      <ul class="list-group mt-4 border border-1 border-dark shadow-lg">
        <li class="list-group-item bg-light text-break"><strong class="me-1">COMPLETED PROJECTS:</strong> {% if profile.projects_completed %}{{ profile.projects_completed }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">COMPLETED GOALS:</strong> {% if profile.goals_completed %}{{ profile.goals_completed }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">COMPLETED MISSIONS:</strong> {% if profile.missions_completed %}{{ profile.missions_completed }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">COMPLETED MILESTONES:</strong> {% if profile.milestones_completed %}{{ profile.milestones_completed }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">COMPLETED TASKS:</strong> {% if profile.tasks_completed %}{{ profile.tasks_completed }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">CONTRIBUTION:</strong> {% if profile.contribution %}{{ profile.contribution }}{% else %}(blank){% endif %}</li>
      </ul>
    </div>
  </div>
  <hr class="border border-2 border-dark">
  <!-- ATTRIBUTES -->
  <div class="row" id="profile-attributes">
    <div class="col-8 col-sm-6 col-md-5 mt-4 text-center">
      <h4 class="rounded border border-2 border-dark mb-4 bg-light p-1 shadow-lg">Attributes</h4>
    </div>
  </div> 
  <div class="row">
    <div class="col-12 col-sm-10 offset-sm-1 mb-4 pb-3">
      <ul class="list-group mt-4 border border-1 border-dark shadow-lg">
        <li class="list-group-item bg-light text-break"><strong class="me-1">KNOWLEDGE:</strong> {% if profile.knowledge %}{{ profile.knowledge }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">SKILLS:</strong> {% if profile.skills %}{{ profile.skills }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">STRENGTHS:</strong> {% if profile.strengths %}{{ profile.strengths }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">WEAKNESSES:</strong> {% if profile.weaknesses %}{{ profile.weaknesses }}{% else %}(blank){% endif %}</li>
      </ul>
    </div>
  </div>
  <hr class="border border-2 border-dark">
  <!-- BUSINESS FOCUS -->
  <div class="row" id="profile-focus">
    <div class="col-8 col-sm-6 col-md-5 mt-4 text-center">
      <h4 class="rounded border border-2 border-dark mb-5 bg-light p-1 shadow-lg">Business Focus</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-10 offset-1 shadow-lg pt-4 rounded border border-1 border-dark">
      <h6 class="rounded border border-3 border-dark bg-light p-1 mb-1 d-inline">INNOVATION</h6>
      <div class="progress border border-4 border-dark mb-3 mt-1" style="height: 24px">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info text-dark" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="{{profile.focus_innovation_style }}"><strong class="p-1">{% if profile.focus_innovation %}{{ profile.focus_innovation }} %{% else %}0 %{% endif %}</strong></div>
      </div>
      <h6 class="rounded border border-3 border-dark bg-light p-1 mb-1 d-inline">FINANCIALS</h6>
      <div class="progress border border-4 border-dark mb-3 mt-1" style="height: 24px">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="{{ profile.focus_financials_style }}"><strong class="p-1">{% if profile.focus_financials %}{{ profile.focus_financials }} %{% else %}0 %{% endif %}</strong></div>
      </div>
      <hr class="mb-4">
      <h6 class="rounded border border-3 border-dark bg-light p-1 mb-1 d-inline">PLANNING</h6>
      <div class="progress border border-4 border-dark mb-3 mt-1" style="height: 24px">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info text-dark" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="{{ profile.focus_planning_style }}"><strong class="p-1">{% if profile.focus_planning %}{{ profile.focus_planning }} %{% else %}0 %{% endif %}</strong></div>
      </div>
      <h6 class="rounded border border-3 border-dark bg-light p-1 mb-1 d-inline">MONITORING</h6>
      <div class="progress border border-4 border-dark mb-3 mt-1" style="height: 24px">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="{{ profile.focus_monitoring_style }}"><strong class="p-1">{% if profile.focus_monitoring %}{{ profile.focus_monitoring }} %{% else %}0 %{% endif %}</strong></div>
      </div>
      <hr class="mb-4">
      <h6 class="rounded border border-3 border-dark bg-light p-1 mb-1 d-inline">QUALITY</h6>
      <div class="progress border border-4 border-dark mb-3 mt-1" style="height: 24px">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info text-dark" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="{{ profile.focus_quality_style }}"><strong class="p-1">{% if profile.focus_quality %}{{ profile.focus_quality }} %{% else %}0 %{% endif %}</strong></div>
      </div>
      <h6 class="rounded border border-3 border-dark bg-light p-1 mb-1 d-inline">QUANTITY</h6>
      <div class="progress border border-4 border-dark mb-3 mt-1" style="height: 24px">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="{{ profile.focus_quantity_style }}"><strong class="p-1">{% if profile.focus_quantity %}{{ profile.focus_quantity }} %{% else %}0 %{% endif %}</strong></div>
      </div>
      <hr class="mb-4">
      <h6 class="rounded border border-3 border-dark bg-light p-1 mb-1 d-inline">COLLABORATION</h6>
      <div class="progress border border-4 border-dark mb-3 mt-1" style="height: 24px">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info text-dark" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="{{ profile.focus_collaboration_style }}"><strong class="p-1">{% if profile.focus_collaboration %}{{ profile.focus_collaboration }} %{% else %}0 %{% endif %}</strong></div>
      </div>
      <h6 class="rounded border border-3 border-dark bg-light p-1 mb-1 d-inline">LEADERSHIP</h6>
      <div class="progress border border-4 border-dark mb-3 mt-1" style="height: 24px">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="{{ profile.focus_leadership_style }}"><strong class="p-1">{% if profile.focus_leadership %}{{ profile.focus_leadership }} %{% else %}0 %{% endif %}</strong></div>
      </div>
    </div>
  </div>
  <hr class="border border-2 border-dark">
  <!-- BUSINESS SPECIALTY -->
  <div class="row" id="profile-specializations">
    <div class="col-8 col-sm-6 col-md-5 mt-4 text-center">
      <h4 class="rounded border border-2 border-dark mb-5 bg-light p-1 shadow-lg">Business Specializations</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-10 offset-1 shadow-lg pt-4 rounded border border-1 border-dark">
      <h6 class="rounded border border-3 border-dark bg-light p-1 mb-1 d-inline">OPERATIONS</h6>
      <div class="progress border border-4 border-dark mb-3 mt-1" style="height: 24px">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark text-white" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="{{profile.special_ops_style }}"><strong class="p-1">{% if profile.special_ops %}{{ profile.special_ops }} %{% else %}0 %{% endif %}</strong></div>
      </div>
      <hr class="mb-4">
      <h6 class="rounded border border-3 border-dark bg-light p-1 mb-1 d-inline">FINANCE & ACCOUNTING</h6>
      <div class="progress border border-4 border-dark mb-3 mt-1" style="height: 24px">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="{{ profile.special_finance_style }}"><strong class="p-1">{% if profile.special_finance %}{{ profile.special_finance }} %{% else %}0 %{% endif %}</strong></div>
      </div>
      <hr class="mb-4">
      <h6 class="rounded border border-3 border-dark bg-light p-1 mb-1 d-inline">MARKETING & SALES</h6>
      <div class="progress border border-4 border-dark mb-3 mt-1" style="height: 24px">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning text-dark" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="{{ profile.special_marketing_style }}"><strong class="p-1">{% if profile.special_marketing %}{{ profile.special_marketing }} %{% else %}0 %{% endif %}</strong></div>
      </div>
      <hr class="mb-4">
      <h6 class="rounded border border-3 border-dark bg-light p-1 mb-1 d-inline">SUPPLY CHAIN</h6>
      <div class="progress border border-4 border-dark mb-3 mt-1" style="height: 24px">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="{{ profile.special_supply_chain_style }}"><strong class="p-1">{% if profile.special_supply_chain %}{{ profile.special_supply_chain }} %{% else %}0 %{% endif %}</strong></div>
      </div>
      <hr class="mb-4">
      <h6 class="rounded border border-3 border-dark bg-light p-1 mb-1 d-inline">HR</h6>
      <div class="progress border border-4 border-dark mb-3 mt-1" style="height: 24px">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info text-dark" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="{{ profile.special_hr_style }}"><strong class="p-1">{% if profile.special_hr %}{{ profile.special_hr }} %{% else %}0 %{% endif %}</strong></div>
      </div>
      <hr class="mb-4">
      <h6 class="rounded border border-3 border-dark bg-light p-1 mb-1 d-inline">TECHNOLOGY & DATA</h6>
      <div class="progress border border-4 border-dark mb-3 mt-1" style="height: 24px">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="{{ profile.special_tech_style }}"><strong class="p-1">{% if profile.special_tech %}{{ profile.special_tech }} %{% else %}0 %{% endif %}</strong></div>
      </div>
      <hr class="mb-4">
      <h6 class="rounded border border-3 border-dark bg-light p-1 mb-1 d-inline">SUSTAINABILITY & CSR</h6>
      <div class="progress border border-4 border-dark mb-3 mt-1" style="height: 24px">
        <div class="progress-bar progress-bar-striped progress-bar-animated text-dark" id="sustainability_user" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="{{ profile.special_sustainability_style }}"><strong class="p-1">{% if profile.special_sustainability %}{{ profile.special_sustainability }} %{% else %}0 %{% endif %}</strong></div>
      </div>
      <hr class="mb-4">
      <h6 class="rounded border border-3 border-dark bg-light p-1 mb-1 d-inline">RESEARCH</h6>
      <div class="progress border border-4 border-dark mb-3 mt-1" style="height: 24px">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="{{ profile.special_research_style }}"><strong class="p-1">{% if profile.special_research %}{{ profile.special_research }} %{% else %}0 %{% endif %}</strong></div>
      </div>
    </div>
  </div>
  <hr class="border border-2 border-dark">
  <!-- ACCOMPLISHMENTS -->
  <div class="row" id="profile-accomplishments">
    <div class="col-9 col-sm-6 col-md-5 mt-4 text-center">
      <h4 class="rounded border border-2 border-dark mb-4 bg-light p-1 shadow-lg">Accomplishments</h4>
    </div>
  </div> 
  <div class="row">
    <div class="col-12 col-sm-10 offset-sm-1 mb-4 pb-3"> 
      <ul class="list-group mt-4 border border-1 border-dark shadow-lg">
        <li class="list-group-item bg-light text-break"><strong class="me-1">RESULTS:</strong> {% if profile.results %}{{ profile.results }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">CERTIFICATES:</strong> {% if profile.certificates %}{{ profile.certificates }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">HONORS:</strong> {% if profile.honors %}{{ profile.honors }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">ARTICLES:</strong> {% if profile.articles %}{{ profile.articles }}{% else %}(blank){% endif %}</li>        
        <li class="list-group-item bg-light text-break"><strong class="me-1">RECOGNITION:</strong> {% if profile.recognition %}{{ profile.recognition }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light"><strong class="me-1">BIGGER FISH HIGH-SCORE:</strong> {% if profile.bigger_fish_results %}<a href="{{ profile.bigger_fish_results.url }}" target="_blank" class="hvr-sweep-to-bottom"><i class="fa-solid fa-trophy ms-2"></i><span class="ms-2">View</span></a>{% else %}(blank){% endif %}</li>
      </ul>
    </div>
  </div>
  <hr class="border border-2 border-dark">
  <!-- REWARDS -->
  <div class="row" id="profile-rewards">
    <div class="col-8 col-sm-6 col-md-5 mt-4 text-center">
      <h4 class="rounded border border-2 border-dark mb-4 bg-light p-1 shadow-lg">Rewards</h4>
    </div>
  </div> 
  <div class="row">
    <div class="col-12 col-sm-10 offset-sm-1 mb-4 pb-3">
      <ul class="list-group mt-4 border border-1 border-dark shadow-lg">
        <li class="list-group-item bg-light text-break"><strong class="me-1">AWARDS:</strong> {% if profile.awards %}{{ profile.awards }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">BUSINESS REWARDS:</strong> {% if profile.business_rewards %}{{ profile.business_rewards }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">INNOVATION LAND REWARDS:</strong> {% if profile.innovation_land_rewards %}{{ profile.innovation_land_rewards }}{% else %}(blank){% endif %}</li>
      </ul>
    </div>
  </div>
  <hr class="border border-2 border-dark">
  <!-- PERSONAL WALL -->
  <div class="row" id="profile-wall">
    <div class="col-8 col-sm-6 col-md-5 mt-4 text-center">
      <h4 class="rounded border border-2 border-dark mb-4 bg-light p-1 shadow-lg">Personal Wall</h4>
    </div>
  </div> 
  <div class="row">
    <div class="col-12 col-sm-10 offset-sm-1 mb-5 pb-3">
      <ul class="list-group mt-4 border border-1 border-dark shadow-lg">
        <li class="list-group-item bg-light text-break"><strong class="me-1">SUMMARY:</strong> {% if profile.summary %}{{ profile.summary }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">STORY:</strong> {% if profile.story %}{{ profile.story }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">JOURNEY:</strong> {% if profile.journey %}{{ profile.journey }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">FUTURE:</strong> {% if profile.future %}{{ profile.future }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">LEGACY:</strong> {% if profile.legacy %}{{ profile.legacy }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">CHANGE:</strong> {% if profile.change %}{{ profile.change }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">IDEAL LIFE:</strong> {% if profile.ideal_life %}{{ profile.ideal_life }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">GOALS:</strong> {% if profile.goals %}{{ profile.goals }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">MOTIVATIONS:</strong> {% if profile.motivation_wall %}{{ profile.motivation_wall }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">INTEREST AND HOBBIES:</strong> {% if profile.interests_hobbies_wall %}{{ profile.interests_hobbies_wall }}{% else %}(blank){% endif %}</li>
        <li class="list-group-item bg-light text-break"><strong class="me-1">DAILY ROUTINE:</strong> {% if profile.daily_routine %}<a href="{{ profile.daily_routine.url }}" target="_blank" class="hvr-sweep-to-bottom"><i class="fa-solid fa-calendar-days ms-2"></i><span class="ms-2">Download</span></a>{% else %}(blank){% endif %}</li>
      </ul>
    </div>
  </div>
</div>




<hr>

<hr>
<hr>
<br>
<div>
  <p>next</p>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <img src="{{ profile.profile_image.url }}" class="rounded float-start" alt="Something">
      <img src="{{ profile.profile_image.url }}" class="rounded float-end" alt="another">
    </div>
  </div>
</div>
<hr>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <img src="{{ profile.profile_image.url }}" class="rounded mx-auto d-block" alt="another">
    </div>
  </div>
</div>
<hr>
<div class="container-fluid">
  <div class="row">
    <div class="text-center">
      <img src="{{ profile.profile_image.url }}" class="rounded" alt="another">
    </div>
  </div>
</div>
<hr>
<div class="container-fluid">
  <div class="row">
    <div class="text-center">
      <img src="{{ profile.profile_image.url }}" class="rounded mw-100" alt="another">
    </div>
  </div>
</div>
<hr>
<div class="container-fluid">
  <div class="row">
    <div class="text-center">
      <figure class="figure">
        <img src="{{ profile.profile_image.url }}" class="figure-img img-fluid rounded" alt="...">
        <figcaption class="figure-caption">A caption for the above image.</figcaption>
      </figure>
    </div>
  </div>
</div>

<div class="card">
  <h5 class="card-header">Featured</h5>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<hr>
<div class="card">
  <div class="card-header">
    Quote
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>A well-known quote, contained in a blockquote element.</p>
      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
  </div>
</div>
<hr>
<div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
<hr>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card text-center" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card text-end" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<hr>


<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
          content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
          content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
          content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
          content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
          content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
          content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
          content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
          content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
          content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a short card.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
          content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
          content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="d-flex">
  <div class="flex-shrink-0">
    <img src="{{ profile.profile_image.url }}" alt="...">
  </div>
  <div class="flex-grow-1 ms-3">
    This is some content from a media component. You can replace this with any content and adjust it as needed.
  </div>
</div>
<hr>
<div class="col-8">
  <div class="d-flex align-items-center">
    <div class="flex-shrink-0">
      <img src="{{ profile.profile_image.url }}" alt="...">
    </div>
    <div class="flex-grow-1 ms-3">
      This is some content from a media component. You can replace this with any content and adjust it as needed.
    </div>
  </div>
</div>
<hr>
<div class="float-start">Float start on all viewport sizes</div><br>
<div class="float-end">Float end on all viewport sizes</div><br>
<div class="float-none">Don't float on all viewport sizes</div>
<hr>
<div class="float-sm-start">Float start on viewports sized SM (small) or wider</div><br>
<div class="float-md-start">Float start on viewports sized MD (medium) or wider</div><br>
<div class="float-lg-start">Float start on viewports sized LG (large) or wider</div><br>
<div class="float-xl-start">Float start on viewports sized XL (extra-large) or wider</div><br>
<!-- .float-start
.float-end
.float-none
.float-sm-start
.float-sm-end
.float-sm-none
.float-md-start
.float-md-end
.float-md-none
.float-lg-start
.float-lg-end
.float-lg-none
.float-xl-start
.float-xl-end
.float-xl-none
.float-xxl-start
.float-xxl-end
.float-xxl-none -->

<div class="position-relative">
  <div class="position-absolute top-0 start-0">1</div>
  <div class="position-absolute top-0 end-0">2</div>
  <div class="position-absolute top-50 start-50">3</div>
  <div class="position-absolute bottom-50 end-50">4</div>
  <div class="position-absolute bottom-0 start-0">5</div>
  <div class="position-absolute bottom-0 end-0">6</div>
</div>
<hr>


<!-- TEXT ALIGNMENT -->
<p class="text-start">Start aligned text on all viewport sizes.</p>
<p class="text-center">Center aligned text on all viewport sizes.</p>
<p class="text-end">End aligned text on all viewport sizes.</p>

<p class="text-sm-start">Start aligned text on viewports sized SM (small) or wider.</p>
<p class="text-md-start">Start aligned text on viewports sized MD (medium) or wider.</p>
<p class="text-lg-start">Start aligned text on viewports sized LG (large) or wider.</p>
<p class="text-xl-start">Start aligned text on viewports sized XL (extra-large) or wider.</p>
<hr>
<!-- TEXT EDITING -->
<p class="user-select-all">This paragraph will be entirely selected when clicked by the user.</p>
<p class="user-select-auto">This paragraph has default select behavior.</p>
<p class="user-select-none">This paragraph will not be selectable when clicked by the user.</p>
<hr>
<div class="badge bg-primary text-wrap" style="width: 6rem;">
  This text should wrap.
</div>
<hr>
<div class="text-nowrap bg-success" style="width: 8rem;">
  This text should overflow the parent.
</div>
<hr>

<p class="text-break">
  mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm
</p>
<hr>
<p class="text-lowercase">Lowercased text.</p>
<p class="text-uppercase">Uppercased text.</p>
<p class="text-capitalize">CapiTaliZed text.</p>
<hr>
<p class="fs-1">.fs-1 text</p>
<p class="fs-2">.fs-2 text</p>
<p class="fs-3">.fs-3 text</p>
<p class="fs-4">.fs-4 text</p>
<p class="fs-5">.fs-5 text</p>
<p class="fs-6">.fs-6 text</p>
<hr>
<p class="fw-bold">Bold text.</p>
<p class="fw-bolder">Bolder weight text (relative to the parent element).</p>
<p class="fw-normal">Normal weight text.</p>
<p class="fw-light">Light weight text.</p>
<p class="fw-lighter">Lighter weight text (relative to the parent element).</p>
<p class="fst-italic">Italic text.</p>
<p class="fst-normal">Text with normal font style</p>
<hr>
<p>mobile view</p>
<p class="lh-1">This is a long paragraph written to show how the line-height of an element is affected by our utilities.
  Classes are applied to the element itself or sometimes the parent element. These classes can be customized as needed
  with our utility API.</p>
<p class="lh-sm">This is a long paragraph written to show how the line-height of an element is affected by our
  utilities. Classes are applied to the element itself or sometimes the parent element. These classes can be customized
  as needed with our utility API.</p>
<p class="lh-base">This is a long paragraph written to show how the line-height of an element is affected by our
  utilities. Classes are applied to the element itself or sometimes the parent element. These classes can be customized
  as needed with our utility API.</p>
<p class="lh-lg">This is a long paragraph written to show how the line-height of an element is affected by our
  utilities. Classes are applied to the element itself or sometimes the parent element. These classes can be customized
  as needed with our utility API.</p>
<hr>
<p class="font-monospace">This is in monospace</p>
<hr>
<p class="text-muted">
  Muted text with a <a href="#" class="text-reset">reset link</a>.
</p>
<hr>
<p class="text-decoration-underline">This text has a line underneath it.</p>
<p class="text-decoration-line-through">This text has a line going through it.</p>
<a href="#" class="text-decoration-none">This link has its text decoration removed</a>
<hr>
<p>Trippy mode</p>
<span class="align-baseline">baseline</span>
<span class="align-top">top</span>
<span class="align-middle">middle</span>
<span class="align-bottom">bottom</span>
<span class="align-text-top">text-top</span>
<span class="align-text-bottom">text-bottom</span>
<hr>
<table style="height: 100px;">
  <tbody>
    <tr>
      <td class="align-baseline">baseline</td>
      <td class="align-top">top</td>
      <td class="align-middle">middle</td>
      <td class="align-bottom">bottom</td>
      <td class="align-text-top">text-top</td>
      <td class="align-text-bottom">text-bottom</td>
    </tr>
  </tbody>
</table>
<hr>
<p><a href="#" class="pe-none" tabindex="-1" aria-disabled="true">This link</a> can not be clicked.</p>
<p><a href="#" class="pe-auto">This link</a> can be clicked (this is default behavior).</p>
<p class="pe-none"><a href="#" tabindex="-1" aria-disabled="true">This link</a> can not be clicked because the
  <code>pointer-events</code> property is inherited from its parent. However, <a href="#" class="pe-auto">this link</a>
  has a <code>pe-auto</code> class and can be clicked.</p>
<hr>
<!-- Text editing overflow -->
<div class="overflow-auto">.......</div>
<div class="overflow-hidden">...</div>
<div class="overflow-visible">...</div>
<div class="overflow-scroll">...</div>
<hr>
<button type="button" class="btn btn-primary position-relative">
  Mails <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary">+99 <span
      class="visually-hidden">unread messages</span></span>
</button>

<button type="button" class="btn btn-dark position-relative">
  Marker <svg width="1em" height="1em" viewBox="0 0 16 16"
    class="position-absolute top-100 start-50 translate-middle mt-1 bi bi-caret-down-fill" fill="#212529"
    xmlns="http://www.w3.org/2000/svg">
    <path
      d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
    </svg>
</button>

<button type="button" class="btn btn-primary position-relative">
  Alerts <span
    class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle bg-danger p-2"><span
      class="visually-hidden">unread messages</span></span>
</button>
<hr>

<!-- SHADOW -->
<div class="shadow-none p-3 mb-5 bg-light rounded">No shadow</div>
<div class="shadow-sm p-3 mb-5 bg-body rounded">Small shadow</div>
<div class="shadow p-3 mb-5 bg-body rounded">Regular shadow</div>
<div class="shadow-lg p-3 mb-5 bg-body rounded">Larger shadow</div>
<hr>
<div class="w-25 p-3" style="background-color: #eee;">Width 25%</div>
<div class="w-50 p-3" style="background-color: #eee;">Width 50%</div>
<div class="w-75 p-3" style="background-color: #eee;">Width 75%</div>
<div class="w-100 p-3" style="background-color: #eee;">Width 100%</div>
<div class="w-auto p-3" style="background-color: #eee;">Width auto</div>
<hr>
<div style="height: 100px; background-color: rgba(255,0,0,0.1);">
  <div class="h-25 d-inline-block" style="width: 120px; background-color: rgba(0,0,255,.1)">Height 25%</div>
  <div class="h-50 d-inline-block" style="width: 120px; background-color: rgba(0,0,255,.1)">Height 50%</div>
  <div class="h-75 d-inline-block" style="width: 120px; background-color: rgba(0,0,255,.1)">Height 75%</div>
  <div class="h-100 d-inline-block" style="width: 120px; background-color: rgba(0,0,255,.1)">Height 100%</div>
  <div class="h-auto d-inline-block" style="width: 120px; background-color: rgba(0,0,255,.1)">Height auto</div>
</div>
<hr>
<div style="height: 100px; background-color: rgba(255,0,0,.1);">
  <div class="mh-100" style="width: 100px; height: 200px; background-color: rgba(0,0,255,.1);">Max-height 100%</div>
</div>
<hr>
<!-- VISIBILITY -->
<div class="visible">...</div>
<div class="invisible">...</div>
<hr>
<!-- Size relative to viewport -->
<div class="min-vw-100">Min-width 100vw</div>
<div class="min-vh-100">Min-height 100vh</div>
<div class="vw-100">Width 100vw</div>
<div class="vh-100">Height 100vh</div>
<hr>

<!-- Margin, padding -->
<!-- The classes are named using the format {property}{sides}-{size} for xs and {property}{sides}-{breakpoint}-{size} for sm, md, lg, xl, and xxl.

Where property is one of:

m - for classes that set margin
p - for classes that set padding
Where sides is one of:

t - for classes that set margin-top or padding-top
b - for classes that set margin-bottom or padding-bottom
s - (start) for classes that set margin-left or padding-left in LTR, margin-right or padding-right in RTL
e - (end) for classes that set margin-right or padding-right in LTR, margin-left or padding-left in RTL
x - for classes that set both *-left and *-right
y - for classes that set both *-top and *-bottom
blank - for classes that set a margin or padding on all 4 sides of the element
Where size is one of:

0 - for classes that eliminate the margin or padding by setting it to 0
1 - (by default) for classes that set the margin or padding to $spacer * .25
2 - (by default) for classes that set the margin or padding to $spacer * .5
3 - (by default) for classes that set the margin or padding to $spacer
4 - (by default) for classes that set the margin or padding to $spacer * 1.5
5 - (by default) for classes that set the margin or padding to $spacer * 3
auto - for classes that set the margin to auto
(You can add more sizes by adding entries to the $spacers Sass map variable.) -->












{% endblock content %}