<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Project</title>
</head>
<body>

    <div>
        <div>
            <h1>
                Create a new Profile:
            </h1>
        </div>
        <form method="POST" action="create_profile">
            {% csrf_token %}
            <div>
                <p>
                    <label for="id_first_name">First Name:</label>
                    <input type="text" id="id_first_name" name="first_name"/>
                </p>
                <p>
                    <label for="id_private">Private</label>
                    <input type="checkbox" id="id_private" name="private"/>
                </p>
            </div>
            <div>
                <p>
                    <button type="submit">Create Profile</button>
                </p>
            </div>
        </form>
    </div>
</body>
</html>