{% extends "base.html" %}

{% block content %}

<h1>My profile for editing</h1>

<h1>Profile</h1>
<p><strong>Username:</strong> {{ user.username }}</p>
<p><strong>Email:</strong> {{ user.email }}</p>

<h2>Profile Information</h2>
<div id="example">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <a href="#" onclick="javascript:history.back()">Back</a>
        <button type="submit">Save</button>
    </form>
</div>
{% endblock content %}