{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Logout" %}{% endblock %}

{% block content %}

<section id="logout">
  <div class="bg-light shadow-lg col-10 offset-1 col-lg-6 offset-lg-3 mt-5 mb-5 pb-5" id="logout">
    <div class="col-10 offset-1 mt-5 mb-5 pt-5">
      <h1 class="d-flex justify-content-center">Logout</h1>
    </div>
    <div class="col-10 offset-1 mt-5 pb-5">
      <h5 class="d-flex justify-content-center pt-4">Are you sure you want to sign out of your profile?</h5>
    </div>
    <div class="col-10 offset-1 mt-5 mb-5">
      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <div class=" col-8 offset-2 d-flex justify-content-between">
          <button type="button" class="btn btn-dark shadow-lg text-warning" onclick="javascript:history.back()">No</button>
          <button type="submit" class="btn btn-dark shadow-lg text-warning">Yes</button>
        </div>
      </form>  
    </div>
  </div>
</section>


{% endblock content %}
