{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}

{% load static %}
<!-- NAVIGATIONAL FIXED BUTTONS -->
<button type="button" id="profile-detail-close" class="btn btn-close shadow-sm bg-light border border-2 border-warning fixed-top ms-auto mb-0" aria-label="Close" onclick="javascript:history.back()"></button>
{% if post.author == request.user %}
  <div class="fixed-bottom p-0 mb-4 pb-3 text-end">
    <a href="{% url 'post_edit' post_id=post.id %}" class="btn btn-light text-secondary border rounded border-info border-2 me-1 shadow-sm p-0 post-nav-icons">
      <i class="fa-solid fa-pencil"></i>
    </a>
  </div>
  <div class="fixed-bottom p-0 mb-1 pb-1 text-end">
    <a href="{% url 'post_delete' post_id=post.id %}" class="btn btn-light text-secondary border rounded border-info border-2 me-1 shadow-sm p-0 post-nav-icons">
      <i class="fa-regular fa-trash-can"></i> 
    </a>
  </div>
{% endif %}
{% if post.public_privacy == False %}
<!-- POST HEADER -->
<section class="bg-secondary-lighter">
  <div class="container bg-dark bg-gradient" id="post-detail-header">
    <div class="row">
      <div class="col-10 mt-4">
          {% if post.post_list_image %}
            <img src="{{ post.post_list_image.url }}" class="rounded-circle border border-2 border-warning shadow-sm profile-picture ms-2 ms-sm-3 ms-md-4 ms-lg-5" alt="Profile Picture" width="125" height="125">
          {% else %}
            <img src="{% static 'images/21104.png' %}" class="rounded-circle border border-2 border-warning shadow-sm profile-picture ms-2 ms-sm-3 ms-md-4 ms-lg-5" alt="Default Profile Picture" width="125" height="125">
          {% endif %}                           
      </div>
      <div class="col-12 pb-4 pb-lg-3">
          <h1 class="post-title text-light text-break mt-3 mt-sm-4 ms-2 ms-sm-3 ms-md-4 ms-lg-5 me-2 me-sm-3 me-md-4 me-lg-5">
              {{ post.title }}
              {% if post.post_verification == True %}
              <i class="fa-solid fa-shield-halved" style="font-size: 0.5em; vertical-align: middle; margin-top: -24px;"></i>
              {% else %}
              <i class="fa-solid fa-triangle-exclamation" style="font-size: 0.5em; vertical-align: middle; margin-top: -24px;"></i>
              {% endif %}
          </h1>
          <hr class="text-light col-10 col-sm-10 ms-2 ms-sm-3 ms-md-4 ms-lg-5">
          <p class="post-subtitle text-light mt-3 mb-1 mb-lg-2 ms-2 ms-sm-3 ms-md-4 ms-lg-5">Author: <a href="{% url 'public_profile' post.author.user_profile.id %}" class="text-warning">{{ post.author }}</a></p>
          <span class="post-subtitle text-light mb-1 mb-lg-2 ms-2 ms-sm-3 ms-md-4 ms-lg-5">
            {% if user.is_authenticated %}
                <form class="d-inline" action="{% url 'vote' post.slug %}" method="POST">
                    {% csrf_token %}
                    {% if voted %}
                      <button type="submit" id="vote-button-anim-take" name="post_note_id" value="{{post.slug}}" class="btn-like text-light" onclick="addShakeClass('vote-button-anim-take')">
                        <i class="fa-solid fa-heart"></i> {{ post.number_of_votes }}
                      </button>
                      <span> |</span>
                    {% else %}
                      <button type="submit" id="vote-button-anim-add" name="post_note_id" value="{{post.slug}}" class="btn-like text-light" onclick="addBounceClass('vote-button-anim-add')">
                        <i class="fa-regular fa-heart"></i> {{ post.number_of_votes }}
                      </button>
                      <span> |</span>
                    {% endif %}
                </form>
                {% else %}
                    <span class="text-light">
                      <i class="fa-solid fa-heart"></i> {{ post.number_of_votes }}
                      <span> |</span>
                    </span>
                {% endif %}
            <i class="fa-solid fa-eye ms-1"></i> {{ post.views }} |
            {% with notes.count as total_notes %}
              <i class="fa-solid fa-comment ms-1"></i> {{ total_notes }}
            {% endwith %}
          </span>
          {% if post.post_duration_created == 1 %}
          <p class="post-subtitle text-light mb-1 mt-3 mt-sm-1 ms-2 ms-sm-3 ms-md-4 ms-lg-5">
            <span class="d-block d-sm-inline">
              Created:
            </span>
            <span class="text-break">
              {{ post.created_on }} [{{ post.post_duration_created }} day ago]
            </span> 
          </p>
          {% else %}
          <p class="post-subtitle text-light mb-1 mt-3 mt-sm-1 ms-2 ms-sm-3 ms-md-4 ms-lg-5">
            <span class="d-block d-sm-inline">
              Created:
            </span>
            <span class="text-break">
              {{ post.created_on }} [{{ post.post_duration_created }} days ago]
            </span> 
          </p>
          {% endif %}
          {% if post.post_duration_updated == 1 %}
          <p class="post-subtitle text-light mb-1 mt-3 mt-sm-1 ms-2 ms-sm-3 ms-md-4 ms-lg-5">
            <span class="d-block d-sm-inline">
              Updated:
            </span>
            <span class="text-break">
              {{ post.updated_on }} [{{ post.post_duration_updated }} day ago]
            </span> 
          </p>
          {% else %}
          <p class="post-subtitle text-light mb-1 mt-3 mt-sm-1 ms-2 ms-sm-3 ms-md-4 ms-lg-5">
            <span class="d-block d-sm-inline">
              Updated:
            </span>
            <span class="text-break">
              {{ post.updated_on }} [{{ post.post_duration_updated }} days ago]
            </span>
          </p>
          {% endif %}
      </div>
    </div>
  </div>
</section>
<!-- POST IMAGE -->
<div class="container-fluid p-0">
  <div class="row-fluid">
    <div class="image-container bg-secondary-lighter pt-5 pb-5">
        {% if post.post_list_image %}
        <a>
            <img src="{{ post.post_list_image.url }}" class="w-100 m-0" alt="Project Image">
        </a>
          {% else %}
        <a>
            <img src="{% static 'images/21104.png' %}" class="w-100 m-0" alt="Project Placeholder">
        </a>
        {% endif %}                           
    </div>
  </div>
</div>
<!-- CONTENT -->
<div class="container-fluid bg-secondary-lighter">
  <div class="row-fluid">    
        <p class="card-text">
          Organization: {{ post.organization }}
        </p>
        <p class="card-text">
            Industry:
            {{ post.industry }}
        </p>
        <p class="card-text text-break">
            Info:
            {{ post.caption }}
        </p>
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- The post content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <p class="card-text ">
                    {{ post.main_content | safe }}
                </p>
                <div class="row">
                    
                    
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Notes:</h3>
            <div class="card-body">
                <!-- We want a for loop inside the tags to iterate through each comment in comments -->
                {% for note in notes %}
                <div class="notes" style="padding: 10px;">
                    <p class="font-weight-bold">
                        <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                        {{ note.name }}
                        <span class=" text-muted font-weight-normal">
                            <!-- The comment's created date goes here -->
                            {{ note.created_on_note }}
                        </span> wrote:
                    </p>
                    <!-- The body of the comment goes before the | -->
                    {{  note.content_note | linebreaks }}
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                <!-- For later -->
                {% if noted %}
                <div class="alert alert-success" role="alert">
                    Your note is now waiting for approval..
                </div>
                {% else %}

                {% if user.is_authenticated %}
                <h3>
                    Leave a note with opinion, offer, advice, or critique
                </h3>
                <p>
                    By: {{ user.username }}
                </p>
                <form method="post" style="margin-top: 1.3 em;">
                    {{ note_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg">
                        Submit
                    </button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
    <hr>

    <hr>
    {% comment %}



    <!-- <hr>
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-12">
          <h1>{{ post.title }}</h1>
          <p>{{ post.content }}</p>
          <p>Author: <a href="{% url 'public_profile' profile_id %}">{{ profile_id }}</a></p>
          Add any other post information you want to display here 
          <a href="{% url 'public_profile' profile_id %}" class="btn btn-primary">View Author Profile</a>
        </div>
      </div>
    </div>
    
    <a href="{% url 'public_profile' profile_id %}">
      Tejst
    </a>
    
    <hr>
    
    <hr>
    
     <hr> -->

     {% endcomment %}


<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h5 class="card-title">Primary card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
      </p>
    </div>
  </div>
  <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h5 class="card-title">Secondary card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
      </p>
    </div>
  </div>
  <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h5 class="card-title">Success card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
      </p>
    </div>
  </div>
  <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h5 class="card-title">Danger card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
      </p>
    </div>
  </div>
  <div class="card text-dark bg-warning mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h5 class="card-title">Warning card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
      </p>
    </div>
  </div>
  <div class="card text-dark bg-info mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h5 class="card-title">Info card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
      </p>
    </div>
  </div>
  <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h5 class="card-title">Light card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
      </p>
    </div>
  </div>
  <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h5 class="card-title">Dark card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
      </p>
    </div>
  </div>
  <hr>
  <div class="card border-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Primary card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
      </p>
    </div>
  </div>
  <div class="card border-secondary mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body text-secondary">
      <h5 class="card-title">Secondary card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
      </p>
    </div>
  </div>
  <div class="card border-success mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body text-success">
      <h5 class="card-title">Success card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
      </p>
    </div>
  </div>
  <div class="card border-danger mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body text-danger">
      <h5 class="card-title">Danger card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
      </p>
    </div>
  </div>
  <div class="card border-warning mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h5 class="card-title">Warning card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
      </p>
    </div>
  </div>
  <div class="card border-info mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h5 class="card-title">Info card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
      </p>
    </div>
  </div>
  <div class="card border-light mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h5 class="card-title">Light card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
      </p>
    </div>
  </div>
  <div class="card border-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body text-dark">
      <h5 class="card-title">Dark card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
      </p>
    </div>
  </div>
  <hr>
{% else %}
<div class="container public-privacy-message">
  <h1 class="text-center">This post is not open for public.</h1>
</div>   
{% endif %}

post_background_audio
post_color_primary
post_color_secondary

post_author_image
post_organization_image
post_banner_image
caption

author + author_type
project_owner

industry

if post_type =
organization: organization if not empty
project: organization + project if not empty
product: organization + project + product if not empty
service: organization + project + service if not empty

post_location_city
post_location_country
post_location_continent
post_location_planet

launch_date
end_date - if infinite_end_date = True add infinity sign no matter end date
if infinite_end_date is false then:
  add post_duration_days
  add post_duration_months
  add post_duration_years


introduction

if post_video_privacy = false:
post_video

if post_about_privacy = False:
  organization_info
  organization_culture
  organization_mission
  organization_vision

  products_provided
  services_provided

  pps_objectives
  pps_goals
  pps_milestones

  team
  partners
  collaborators
  sponsors
  community
  stakeholders
  shareholders

  resources_requiered 
  target_markets
  target_group
  values_provided
  differentiation
  sdg_goals
  intellectual_property
  legal_protection
  licencing
  franchizing

  risks
  challenges
  change
  impact

  strengths
  weaknesses
  opportunities
  threats

  if focus_privacy:
    focus_innovation
    focus_financials
    focus_planning
    focus_monitoring
    focus_quality
    focus_quantity
    focus_collaboration
    focus_leadership

  if specialty_privacy:
    special_ops
    special_finance
    special_marketing
    special_supply_chain
    special_hr
    special_tech
    special_sustainability
    special_research

  if specialty_privacy_two:
    special_ops_two
    special_finance_two
    special_marketing_two
    special_supply_chain_two
    special_hr_two
    special_tech_two
    special_sustainability_two
    special_research_two

if post_body_privacy:

  main_content
  business_knowledge
  story
  journey
  future
  legacy

if post_bridge_privacy_library:

  organizational_structure
  flowchart
  agenda
  timeline
  tasklist
  schedule
  financial_reports
  supply_chain_map
  data_architecture_map
  standard_operational_procedures
  marketing_strategy_map
  hr_handbook
  sustainability_report
  research_and_development_agenda
  promotional_materials
  certification
  articles

if post_bridge_privacy_documents:
  business_plan
  implementation_plan
  pestle_report
  internal_report
  capabilities
  business_model_canvas
  contracts
  terms_conditions


if post_conclusion_privacy & post_fee_model_privacy:

  fee_model
  offer_model

  amount_requested
  payout_date
  + post_payout_duration_days, + post_payout_duration_months, + post_payout_duration_years

  stocks_offering
  stocks_supply
  ownership_percentage
  return_amount
  end_product_or_service_quality
  end_product_or_service_quantity
  lifetime_discount_percentages
  team_guaranteed_position
  partnership
  collaboration
  sponsorship
  community_access
  pioneering
  merchandize
  special_acknowledgement
  open_offers

  offer_terms

if post_contact_privacy:

  post_public_email
  public_phone
  contact_days
  contact_hours
  website_link
  facebook_link
  twitter_link
  instagram_link
  linkedin_link
  youtube_link

if event_privacy:

  event_color
  event_image
  event_link
  event_title
  event_host
  event_content
  event_date
  event_hour
  event_minute
  event_location
  event_price
  event_price_cents
  event_capacity
  rspv_yes + number_of_rspv_yes
  rspv_no + number_of_rspv_no
  rspv_maybe + number_of_rspv_maybe
  rspv_next_time + number_of_rspv_next_time


if post_results_privacy:

  number_of_phases
  amount_asked
  amount_collected
  ownership_offered
  ownerhip_given
  team_positions_offered
  team_positions_given













{% endblock content %}