{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

{% load static %}
<!-- NAVIGATIONAL FIXED BUTTONS -->
<button type="button" id="profile-detail-close" class="btn btn-close shadow-sm bg-light border border-2 border-warning fixed-top ms-auto mb-0" aria-label="Close" onclick="javascript:history.back()"></button>
{% if post.author == request.user %}
  <div class="fixed-bottom p-0 mb-4 pb-3 text-end">
    <a href="{% url 'post_edit' post_id=post.id %}" class="btn btn-light text-secondary border rounded border-info border-2 me-1 shadow-sm p-0 post-nav-icons">
      <i class="fa-solid fa-pencil"></i>
    </a>
  </div>
  <div class="fixed-bottom p-0 mb-1 pb-1 text-end">
    <a href="{% url 'post_delete' post_id=post.id %}" class="btn btn-light text-secondary border rounded border-info border-2 me-1 shadow-sm p-0 post-nav-icons">
      <i class="fa-regular fa-trash-can"></i> 
    </a>
  </div>
{% else %}
  <div class="fixed-bottom p-0 mb-1 pb-1 text-end">
    <a href="#profile-detail-close" class="btn btn-light border rounded border-info border-2 me-1 shadow-sm p-0 post-nav-icons">
      <i class="fa-solid fa-sack-dollar text-success"></i>
    </a>
  </div>
{% endif %}
{% if post.public_privacy == False %}
<!-- POST HEADER -->
<section class="bg-secondary-lighter border-bottom border-2 border-warning">
  <div class="container-fluid bg-dark bg-gradient pb-3 pt-2" id="post-detail-header">
    <div class="row-fluid">
      <div class="col-10 mt-4">
          {% if post.post_list_image %}
            <img src="{{ post.post_logo_image.url }}" class="rounded-circle border border-2 border-warning shadow-sm profile-picture ms-2 ms-sm-3 ms-md-4 ms-lg-5" alt="Profile Picture" width="125" height="125">
          {% else %}
            <img src="{% static 'images/21104.png' %}" class="rounded-circle border border-2 border-warning shadow-sm profile-picture ms-2 ms-sm-3 ms-md-4 ms-lg-5" alt="Default Profile Picture" width="125" height="125">
          {% endif %}                           
      </div>
      <div class="col-12 pb-4 pb-lg-3">
          <h1 class="post-title text-light text-break mt-3 mt-sm-4 ms-2 ms-sm-3 ms-md-4 ms-lg-5 me-2 me-sm-3 me-md-4 me-lg-5">
              {{ post.title }}
          </h1>
          <p class="post-subtitle text-light mt-2 mb-1 mb-lg-2 ms-2 ms-sm-3 ms-md-4 ms-lg-5">
            <span class="text-break">
              {{ post.caption }}
            </span>
          </p>
          <span class="post-subtitle text-light mb-1 mb-lg-1 ms-2 ms-sm-3 ms-md-4 ms-lg-5">
            {% if user.is_authenticated %}
                <form class="d-inline" action="{% url 'vote' post.slug %}" method="POST">
                    {% csrf_token %}
                    {% if voted %}
                      <button type="submit" id="vote-button-anim-take" name="post_note_id" value="{{post.slug}}" class="btn-like text-light" onclick="addShakeClass('vote-button-anim-take')">
                        <i class="fa-solid fa-heart"></i> {{ post.number_of_votes }}
                      </button>
                      <span> |</span>
                    {% else %}
                      <button type="submit" id="vote-button-anim-add" name="post_note_id" value="{{post.slug}}" class="btn-like text-light" onclick="addBounceClass('vote-button-anim-add')">
                        <i class="fa-regular fa-heart"></i> {{ post.number_of_votes }}
                      </button>
                      <span> |</span>
                    {% endif %}
                </form>
                {% else %}
                    <span class="text-light">
                      <i class="fa-solid fa-heart"></i> {{ post.number_of_votes }}
                      <span> |</span>
                    </span>
                {% endif %}
            <i class="fa-solid fa-eye ms-1"></i> {{ post.views }} |
            {% with notes.count as total_notes %}
              <i class="fa-solid fa-comment ms-1"></i> {{ total_notes }}
              <span> |</span>
            {% endwith %}
            {% if post.post_verification == True %}
              <i class="fa-solid fa-shield-halved fa-beat ms-1 text-info"></i>
            {% else %}
              <i class="fa-solid fa-triangle-exclamation fa-beat ms-1 text-danger"></i>
            {% endif %}
          </span>
          <hr class="text-light col-10 col-sm-10 ms-2 ms-sm-3 ms-md-4 ms-lg-5">
          <p class="post-subtitle text-light mt-3 mb-1 mb-lg-2 ms-2 ms-sm-3 ms-md-4 ms-lg-5">
          {% if post.author_type == 'Human' %}  
            Human Author:
          {% else %}
            A.I. Author:
          {% endif %}
            <a href="{% url 'public_profile' post.author.user_profile.id %}" class="text-warning ms-1">
            {{ post.author }}
            </a>
          </p>
          <p class="post-subtitle text-light mb-1 ms-2 ms-sm-3 ms-md-4 ms-lg-5">
            Owner:
            <a href="#post-contact" class="text-warning ms-1">
              <span class="ms-1">
                {{ post.project_owner }}
              </span>
            </a>
          </p>
          <hr class="text-light col-10 col-sm-10 ms-2 ms-sm-3 ms-md-4 ms-lg-5">
          {% if post.post_duration_created == 1 %}
          <p class="post-subtitle text-light mb-1 mt-3 mt-sm-1 ms-2 ms-sm-3 ms-md-4 ms-lg-5">
            <span class="d-block d-sm-inline">
              Created:
            </span>
            <span class="text-break text-light-grey">
              {{ post.created_on }} [{{ post.post_duration_created }} day ago]
            </span> 
          </p>
          {% else %}
          <p class="post-subtitle text-light mb-1 mt-3 mt-sm-1 ms-2 ms-sm-3 ms-md-4 ms-lg-5">
            <span class="d-block d-sm-inline">
              Created:
            </span>
            <span class="text-break text-light-grey">
              {{ post.created_on }} [{{ post.post_duration_created }} days ago]
            </span> 
          </p>
          {% endif %}
          {% if post.post_duration_updated == 1 %}
          <p class="post-subtitle text-light mb-1 mt-3 mt-sm-1 ms-2 ms-sm-3 ms-md-4 ms-lg-5">
            <span class="d-block d-sm-inline">
              Updated:
            </span>
            <span class="text-break text-light-grey">
              {{ post.updated_on }} [{{ post.post_duration_updated }} day ago]
            </span> 
          </p>
          {% else %}
          <p class="post-subtitle text-light mb-1 mt-3 mt-sm-1 ms-2 ms-sm-3 ms-md-4 ms-lg-5">
            <span class="d-block d-sm-inline">
              Updated:
            </span>
            <span class="text-break text-light-grey">
              {{ post.updated_on }} [{{ post.post_duration_updated }} days ago]
            </span>
          </p>
          {% endif %}
      </div>
    </div>
  </div>
</section>
<!-- POST IMAGE -->
<section id="post-main-image">
  <div class="container-fluid p-0 overflow-hidden border-bottom border-2 border-info">
    <div class="row-fluid">
      <div class="image-container bg-secondary-lighter d-flex align-items-center justify-content-center">
        {% if post.post_list_image %}
        <a>
          <img src="{{ post.post_banner_image.url }}" class="img-fluid object-fit-contain" alt="Project Image">
        </a>
        {% else %}
        <a>
          <img src="{% static 'images/21105.jpg' %}" class="img-fluid object-fit-contain" alt="Project Placeholder">
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</section>
<!-- ABOUT CARD -->
<section class="bg-secondary-lighter pt-3 pb-3">
  <h3 class="ms-3 mt-4 mb-4 pb-2 mt-md-5 mb-md-5 text-start text-sm-center">GENERAL INFORMATION</h3>
  <ul class="list-group mt-3 mb-0 col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3 border border-1 border-dark mb-4 shadow-sm">
    <li class="list-group-item bg-as-nav text-dark p-1 ps-3 border-bottom border-1 border-light">
      <strong>Post Type:</strong>
      <span class="ms-1">
        {{ post.post_type }}
      </span>
    </li>
    <li class="list-group-item bg-as-nav text-dark p-1 ps-3 border-top border-1 border-light">
      <strong>Industry:</strong>
      <span class="ms-1">
        {{ post.industry }}
      </span>
    </li>
    <li class="list-group-item bg-as-nav text-dark p-1 ps-3 border-top border-1 border-light">
      <strong>Organization:</strong>
      <span class="ms-1">
        {{ post.organization }}
      </span>
    </li>
    <li class="list-group-item bg-as-nav text-dark p-1 ps-3 border-top border-1 border-light">
      <strong>Project:</strong>
      <span class="ms-1">
        {{ post.project }}
      </span>
    </li>
    <li class="list-group-item bg-as-nav text-dark p-1 ps-3 border-top border-1 border-light">
      <strong>Product:</strong>
      <span class="ms-1">
        {{ post.product }}
      </span>
    </li>
    <li class="list-group-item bg-as-nav text-dark p-1 ps-3 border-top border-1 border-light">
      <strong>Service:</strong>
      <span class="ms-1">
        {{ post.service }}
      </span>
    </li>
    <li class="list-group-item bg-as-nav text-dark p-1 ps-3 border-top border-1 border-light">
      <strong>City:</strong>
      <span class="ms-1">
        {{ post.post_location_city }}
      </span>
    </li>
    <li class="list-group-item bg-as-nav text-dark p-1 ps-3 border-top border-1 border-light">
      <strong>Country:</strong>
      <span class="ms-1">
        {{ post.post_location_country }}
      </span>
    </li>
    <li class="list-group-item bg-as-nav text-dark p-1 ps-3 border-top border-1 border-light">
      <strong>Continent:</strong>
      <span class="ms-1">
        {{ post.post_location_continent }}
      </span>
    </li>
    <li class="list-group-item bg-as-nav text-dark p-1 ps-3 border-bottom border-1 border-light">
      <strong>Planet:</strong>
      <span class="ms-1">
        {{ post.post_location_planet }}
      </span>
    </li>
  </ul>
</section>
<hr class="bg-secondary-lighter p-0 m-0">
<!-- INTRODUCTION -->
<section class="bg-secondary-lighter pt-3 pb-5">
  <h3 class="ms-3 mt-4 mb-4 pb-2 mt-md-5 mb-md-5 text-start text-sm-center">Introduction</h3>
  <p class="text-break w-75 text-center mx-auto">{{ post.introduction }}</p>
</section>
<hr class="bg-secondary-lighter p-0 m-0">
<!-- POST VIDEO -->
{% if post.post_video %}
<div class="row justify-content-center">
  <div class="col-11 offset rounded border border-3 border-dark bg-secondary mt-4 mb-4 pt-2 shadow-sm h-100">
    <video class="bg-info w-100 h-100 shadow-lg align-items-center" controls type="video/mp4" src="{{ post.post_video.url }}"></video>
  </div>
</div>
<hr class="bg-secondary-lighter p-0 m-0">
{% else %}
{% endif %}
<!-- LAUNCH DATE -->
<section class="bg-secondary-lighter pt-3 pb-5">
  <div class="container-fluid">
    <div class="row-fluid pt-1 pb-1">
      <div class="col-8 col-sm-6 col-md-4 col-lg-3 mx-auto bg-dark rounded text-light mt-4 mb-sm-2 mb-lg-4 pt-4 pb-3 text-center position-relative shadow-sm">
        <i class="fa-solid fa-rocket text-end position-absolute top-0 end-0 mt-2 me-2"></i>
        <h5>Official Launch</h5>
        <p class="mt-3 pt-2 text-info"><strong>{{ post.launch_date }}</strong></p>
      </div>
    </div>
    <div class="row pb-3">
      <div class="col-11 col-sm-8 col-md-6 mx-auto bg-dark rounded text-light mt-4 mb-2 mb-lg-4 pt-3 pb-4 text-center shadow-sm position-relative shadow-sm">
        <i class="fa-solid fa-stopwatch position-absolute top-0 end-0 mt-3 me-3" style="font-size: 18px;"></i>
        <h5 class="mb-4 pb-3 mt-2">Launch Date Countdowns</h5>
        <div class="row justify-content-between text-dark mt-1">
          <div class="col bg-info rounded ms-2 me-1 pt-2">
            <p class="mb-2 mb-1 shadow-sm"><strong>DAYS</strong></p>
            <p class="bg-dark text-warning rounded d-inline-block mt-1 ps-2 pe-2 pt-1 pb-1 border border-1 border-dark text-shdw-sharp shadow-sm"><strong>[{{ post.post_launch_days }}]</strong></p>
          </div>
          <div class="col bg-info rounded ms-1 me-1 pt-2">
            <p class="mb-2 mb-1 shadow-sm"><strong>MONTHS</strong></p>
            <p class="bg-dark text-warning rounded d-inline-block mt-1 ps-2 pe-2 pt-1 pb-1 border border-1 border-dark text-shdw-sharp shadow-sm"><strong>[{{ post.post_launch_months }}]</strong></p>
          </div>
          <div class="col bg-info rounded ms-1 me-2 pt-2 border border-1 border-info">
            <p class="mb-2 mb-1 shadow-sm"><strong>YEARS</strong></p>
            <p class="bg-dark text-warning rounded d-inline-block mt-1 ps-2 pe-2 pt-1 pb-1 border border-1 border-dark text-shdw-sharp shadow-sm"><strong>[{{ post.post_launch_years }}]</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- NEXT PAGE -->
<section class="bg-secondary-lighter pb-2">
  <div class="container-fluid">
    <div class="row">
      <div class="d-flex justify-content-center">
        <div class="text-end">
          <a class="btn btn-dark text-warning rounded-pill me-3 me-md-4 shadow-sm" onclick="javascript:history.back()">
            &laquo; Back
          </a>
        </div>  
        <div class="text-center">
          <a class="btn btn-warning text-dark rounded-pill shadow-sm" onclick="javascript:history.back()">
            Read more
          </a>
        </div>   
        <div class="text-start">
          <a class="btn btn-dark text-warning rounded-pill ms-3 ms-md-4 shadow-sm" href="#post-main-image">
            Next &raquo;
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center mb-4 mt-4">
        <p class="text-dark ps-1" style="font-size: 20px; font-weight: bold;">
          1/10
        </p>
      </div>
    </div>
  </div>
</section>
<!-- COMMENTS -->
<section class="bg-secondary-lighter pb-2">
  <hr class="p-0 m-0">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 card mb-4 mt-3">
        <h3>Notes:</h3>
        <div class="card-body">
          {% for note in notes %}
          <div class="notes" style="padding: 10px;">
            <p class="font-weight-bold">
              {{ note.name }}
              <span class="text-muted font-weight-normal">
                {{ note.created_on_note }}
              </span> wrote:
            </p>
            {{ note.content_note | linebreaks }}
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-md-4 card mb-4 mt-3">
        <div class="card-body">
          {% if noted %}
          <div class="alert alert-success" role="alert">
            Your note is now waiting for approval..
          </div>
          {% else %}
          {% if user.is_authenticated %}
          <h3>Leave a note with opinion, offer, advice, or critique</h3>
          <p>By: {{ user.username }}</p>
          <form method="post" style="margin-top: 1.3em;">
            {{ note_form | crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-signup btn-lg">Submit</button>
          </form>
          {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
{% else %}
<div class="container public-privacy-message">
  <h1 class="text-center">This post is not open for public.</h1>
</div>   
{% endif %}

post_color_primary
post_color_secondary


post_background_audio

<!-- separate -->
introduction

<!-- separate -->
if post_video_privacy = false:
post_video

<!-- separate -->
if post_about_privacy = False:
  organization_info
  organization_culture
  organization_mission
  organization_vision

  products_provided
  services_provided

  pps_objectives
  pps_goals
  pps_milestones

  team
  partners
  collaborators
  sponsors
  community
  stakeholders
  shareholders

  resources_requiered 
  target_markets
  target_group
  values_provided
  differentiation
  sdg_goals
  intellectual_property
  legal_protection
  licencing
  franchizing

  risks
  challenges
  change
  impact

  strengths
  weaknesses
  opportunities
  threats

  if focus_privacy:
    focus_innovation
    focus_financials
    focus_planning
    focus_monitoring
    focus_quality
    focus_quantity
    focus_collaboration
    focus_leadership

  if specialty_privacy:
    special_ops
    special_finance
    special_marketing
    special_supply_chain
    special_hr
    special_tech
    special_sustainability
    special_research

  if specialty_privacy_two:
    special_ops_two
    special_finance_two
    special_marketing_two
    special_supply_chain_two
    special_hr_two
    special_tech_two
    special_sustainability_two
    special_research_two

if post_body_privacy:

  main_content
  business_knowledge
  story
  journey
  future
  legacy

if post_bridge_privacy_library:

  organizational_structure
  flowchart
  agenda
  timeline
  tasklist
  schedule
  financial_reports
  supply_chain_map
  data_architecture_map
  standard_operational_procedures
  marketing_strategy_map
  hr_handbook
  sustainability_report
  research_and_development_agenda
  promotional_materials
  certification
  articles

if post_bridge_privacy_documents:
  business_plan
  implementation_plan
  pestle_report
  internal_report
  capabilities
  business_model_canvas
  contracts
  terms_conditions


if post_conclusion_privacy & post_fee_model_privacy:

  fee_model
  offer_model

  amount_requested
  payout_date (funding dates)
  + post_payout_duration_days, + post_payout_duration_months, + post_payout_duration_years

  stocks_offering
  stocks_supply
  ownership_percentage
  return_amount
  end_product_or_service_quality
  end_product_or_service_quantity
  lifetime_discount_percentages
  team_guaranteed_position
  partnership
  collaboration
  sponsorship
  community_access
  pioneering
  merchandize
  special_acknowledgement
  open_offers

  offer_terms

if post_contact_privacy:

  post_public_email
  public_phone
  contact_days
  contact_hours
  website_link
  facebook_link
  twitter_link
  instagram_link
  linkedin_link
  youtube_link

if event_privacy:

  event_color
  event_image
  event_link
  event_title
  event_host
  event_content
  event_date
  event_hour
  event_minute
  event_location
  event_price
  event_price_cents
  event_capacity
  rspv_yes + number_of_rspv_yes
  rspv_no + number_of_rspv_no
  rspv_maybe + number_of_rspv_maybe
  rspv_next_time + number_of_rspv_next_time


if post_results_privacy:

  number_of_phases
  amount_asked
  amount_collected
  ownership_offered
  ownerhip_given
  team_positions_offered
  team_positions_given













{% endblock content %}