{% extends 'posts/public/public_post_details_0_base.html' %}

{% block posts_base_content %}

{% load crispy_forms_tags %}

{% load static %}

<!-- POST PROPOSAL PRIVACY -->
{% if post.post_proposal_model_privacy == False %}

<!-- PAGE CUSTOM COLORING -->
{% if post.post_colors_list == False %}
<main>
{% else %}
<main style="background-color: {{ post.post_color_secondary }};">
{% endif %}

<!-- POST PROPOSAL TITLE -->
{% if post.post_colors_list == False %}
<h3 class="text-center mb-0 pt-5 pb-3 border-bottom border-1 border-dark bg-info-subtle">
  {{ post.post_type }} Proposal
  {% if post.author == request.user %}
  {% if post.proposal_fee_type == 'One-time Fee' %}
  <span>
    <h6 class="text-center p-1 mt-3 mb-2">
      Fee: (One-time Fixed Amount)
    </h6>
  </span>
  {% else %}
  <div class="mt-4"></div>
  {% endif %}
  {% if post.proposal_fee_type == 'Commision' %}
  <span>
    <p class="text-center p-1 mt-3 mb-2 text-smaller">
      Fee: (Percentage Commision)
    </p>
  </span>
  {% else %}
  <div class="mt-4"></div>
  {% endif %}
  {% else %}
  <div class="mt-4"></div>
  {% endif %}
</h3>
{% else %}
<h3 class="text-center mb-0 pt-5 pb-3 border-bottom border-1 border-dark" style="background-color: {{ post.post_color_primary }};  color: {{ post.post_color_text }};">
  {{ post.post_type }} Proposal
  <hr class="w-25 mx-auto pb-1 mt-4">
  {% if post.author == request.user %}
  {% if post.proposal_fee_type == 'One-time Fee' %}
  <span>
    <h6 class="text-center p-1 mt-3 mb-2">
      Fee: (One-time Fixed Amount)
    </h6>
  </span>
  {% else %}
  <div class="mt-4"></div>
  {% endif %}
  {% if post.proposal_fee_type == 'Commision' %}
  <span>
    <p class="text-center p-1 mt-3 mb-2 text-smaller">
      Fee: (Percentage Commision)
    </p>
  </span>
  {% else %}
  <div class="mt-4"></div>
  {% endif %}
  {% else %}
  <div class="mt-4"></div>
  {% endif %}
</h3>
{% endif %}

{% if post.same_start_launch_date or post.funding_start_date or post.funding_end_date or post.funding_infinite_end_date %}
<!-- FUNDING DATE -->
<hr class="bg-secondary-lighter p-0 m-0">
<section class="bg-secondary-lighter pt-0 pb-2">
  <!-- FUNDING CAMPAIGN -->
  {% if post.launch_date or post.funding_start_date %}
  <div class="container-fluid">
    <div class="row-fluid pt-2">
      <h3 class="text-center mt-5 mb-4">Funding Campaign</h3>
      <div
        class="col-8 col-sm-6 col-md-4 col-lg-3 col-xxl-2 col-xxl-offset-5 mx-auto bg-dark rounded text-light mt-5 mb-sm-2 mb-lg-4 pt-4 pb-3 text-center position-relative shadow-sm">
        <i class="fa-solid fa-door-open text-end position-absolute top-0 end-0 mt-2 me-2"></i>
        <h5>Funding Start</h5>
        <p class="mt-3 pt-2 text-info">
          <strong>
            {% if post.same_start_launch_date == True %}
            {{ post.launch_date }}
            {% else %}
            {{ post.funding_start_date }}
            {% endif %}
          </strong>
        </p>
      </div>
    </div>
    <div class="row-fluid pt-2 pb-4">
      <div
        class="col-8 col-sm-6 col-md-4 col-lg-3 col-xxl-2 col-xxl-offset-5 mx-auto bg-dark rounded text-light mt-4 mb-sm-2 mb-lg-4 pt-4 pb-3 text-center position-relative shadow-sm">
        <i class="fa-solid fa-door-closed text-end position-absolute top-0 end-0 mt-2 me-2"></i>
        <h5>Funding End</h5>
        <p class="mt-3 pt-2 text-info">
          <strong>
            {% if post.funding_infinite_end_date == True %}
            Infinity
            <i class="fa-solid fa-infinity ms-1"></i>
            {% else %}
            {{ post.funding_end_date }}
            {% endif %}
          </strong>
        </p>
      </div>
    </div>
    <div class="row pb-4">
      <div
        class="col-11 col-sm-8 col-md-6 col-xxl-4 col-xxl-offset-4 mx-auto bg-dark rounded text-light mt-4 mb-3 mb-lg-4 pt-3 pb-4 text-center shadow-sm position-relative shadow-sm">
        <i class="fa-solid fa-stopwatch position-absolute top-0 end-0 mt-2 me-2" style="font-size: 18px;"></i>
        <h5 class="mb-4 pb-3 mt-2">Funding Countdowns</h5>
        <div class="row justify-content-between text-dark mt-1">
          <div class="col bg-info rounded ms-2 me-1 pt-2 p-0">
            <p class="mb-2 mb-1 shadow-sm"><strong>DAYS</strong></p>
            <p
              class="bg-dark text-white rounded d-inline-block mt-1 ps-2 pe-2 pt-1 pb-1 border border-1 border-dark text-shdw-sharp shadow-sm">
              <strong>
                {% if post.funding_infinite_end_date == True %}
                <i class="fa-solid fa-infinity fa-spin"></i>
                {% else %}
                [{{ post.post_duration_days }}]
                {% endif %}
              </strong>
            </p>
          </div>
          <div class="col bg-info rounded ms-1 me-1 pt-2 p-0">
            <p class="mb-2 mb-1 shadow-sm"><strong>MONTHS</strong></p>
            <p
              class="bg-dark text-white rounded d-inline-block mt-1 ps-2 pe-2 pt-1 pb-1 border border-1 border-dark text-shdw-sharp shadow-sm">
              <strong>
                {% if post.funding_infinite_end_date == True %}
                <i class="fa-solid fa-infinity fa-spin"></i>
                {% else %}
                [{{ post.post_duration_months }}]
                {% endif %}
              </strong>
            </p>
          </div>
          <div class="col bg-info rounded ms-1 me-2 pt-2 p-0">
            <p class="mb-2 mb-1 shadow-sm"><strong>YEARS</strong></p>
            <p
              class="bg-dark text-white rounded d-inline-block mt-1 ps-2 pe-2 pt-1 pb-1 border border-1 border-dark text-shdw-sharp shadow-sm">
              <strong>
                {% if post.funding_infinite_end_date == True %}
                <i class="fa-solid fa-infinity fa-spin"></i>
                {% else %}
                [{{ post.post_duration_years }}]
                {% endif %}
              </strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% else %}
{% endif %}
{% else %}
{% endif %}

<!-- STOCKS PROPOSAL -->
{% if post.stocks_quantity_total_supply and post.stocks_quantity_proposal and post.stocks_proposal_return and post.stocks_proposal_costs %}
<hr class="bg-secondary-lighter p-0 m-0"  id="funding-countdown">
<section class="bg-secondary-lighter pt-2 pb-1">
  <div class="container">
    <div class="row-fluid">
      <h5 class="text-center mb-4 pb-3 mt-5">Stocks</h5>
      {% if post.stocks_quantity_total_supply %}
      <div class="col-12 ms-1 me-1 mb-1">
        <h6 class="mt-2">Total Supply </h6>
        <p>
          {{ post.stocks_quantity_total_supply }}
        </p>
      </div>
      {% else %}
      {% endif %}
      {% if post.stocks_quantity_proposal %}
      <div class="col-12 ms-1 me-1 mb-1">
        <h6 class="mt-2">Proposal Quantity</h6>
        <p>
          {{ post.stocks_quantity_proposal }}
        </p>
      </div>
      {% else %}
      {% endif %}
      {% if post.stocks_proposal_return %}
      <div class="col-12 ms-1 me-1 mb-1">
        <h6 class="mt-2">Proposal Return</h6>
        <p>
          {{ post.stocks_proposal_return }}
        </p>
      </div>
      {% else %}
      {% endif %}
      {% if post.stocks_proposal_costs %}
      <div class="col-12 ms-1 me-1 mb-5">
        <h6 class="mt-2">Proposal Costs</h6>
        <p>
          {{ post.stocks_proposal_costs }}
        </p>
      </div>
      {% else %}
      {% endif %}
{% else %}
{% endif %}

<!-- OWNERSHIP PERCENTAGE PROPOSAL -->
{% if post.ownership_percentage_opps_type and post.ownership_percentage_opps_quantity_proposal and post.ownership_percentage_opps_proposal_return and post.ownership_percentage_opps_proposal_costs %}
<hr class="bg-secondary-lighter p-0 m-0">
<section class="bg-secondary-lighter pt-2 pb-1">
  <div class="container">
    <div class="row-fluid">
      <h5 class="text-center mb-4 pb-3 mt-5">Ownership Percentage</h5>
      {% if post.ownership_percentage_opps_type %}
      <div class="col-12 ms-1 me-1 mb-1">
        <h6 class="mt-2">Percentage Type</h6>
        <p>
          {{ post.ownership_percentage_opps_type }} 
        </p>
      </div>
      {% else %}
      {% endif %}
      {% if post.ownership_percentage_opps_quantity_proposal %}
      <div class="col-12 ms-1 me-1 mb-1">
        <h6 class="mt-2">Proposal Quantity</h6>
        <p>
          {{ post.ownership_percentage_opps_quantity_proposal }}
        </p>
      </div>
      {% else %}
      {% endif %}
      {% if post.ownership_percentage_opps_proposal_return %}
      <div class="col-12 ms-1 me-1 mb-1">
        <h6 class="mt-2">Proposal Return</h6>
        <p>
          {{ post.ownership_percentage_opps_proposal_return }}
        </p>
      </div>
      {% else %}
      {% endif %}
      {% if post.ownership_percentage_opps_proposal_costs %}
      <div class="col-12 ms-1 me-1 mb-5">
        <h6 class="mt-2">Proposal Costs</h6>
        <p>
          {{ post.ownership_percentage_opps_proposal_costs }}
        </p>
      </div>
      {% else %}
      {% endif %}
{% else %}
{% endif %}

<!-- END PRODUCT OR SERVICE PROPOSAL -->
{% if post.end_product_or_service_type and post.end_product_or_service_quantity_proposal and post.end_product_or_service_proposal_return and post.end_product_or_service_proposal_costs %}
<hr class="bg-secondary-lighter p-0 m-0">
<section class="bg-secondary-lighter pt-2 pb-1">
  <div class="container">
    <div class="row-fluid">
      <h5 class="text-center mb-4 pb-3 mt-5">Product or Service</h5>
      {% if post.end_product_or_service_type %}
      <div class="col-12 ms-1 me-1 mb-1">
        <h6 class="mt-2">Compensation Type</h6>
        <p>
          {{ post.end_product_or_service_type }} 
        </p>
      </div>
      {% else %}
      {% endif %}
      {% if post.end_product_or_service_total_supply %}
      <div class="col-12 ms-1 me-1 mb-1">
        <h6 class="mt-2">Total Supply </h6>
        <p>
          {{ post.end_product_or_service_total_supply }}
        </p>
      </div>
      {% else %}
      {% endif %}
      {% if post.end_product_or_service_quantity_proposal %}
      <div class="col-12 ms-1 me-1 mb-1">
        <h6 class="mt-2">Proposal Quantity</h6>
        <p>
          {{ post.end_product_or_service_quantity_proposal }}
        </p>
      </div>
      {% else %}
      {% endif %}
      {% if post.end_product_or_service_proposal_return %}
      <div class="col-12 ms-1 me-1 mb-1">
        <h6 class="mt-2">Proposal Return</h6>
        <p>
          {{ post.end_product_or_service_proposal_return }}
        </p>
      </div>
      {% else %}
      {% endif %}
      {% if post.end_product_or_service_merch_proposal %}
      <div class="col-12 ms-1 me-1 mb-1">
        <h6 class="mt-2">Merchandise</h6>
        <p>
          {{ post.end_product_or_service_merch_proposal }}
        </p>
      </div>
      {% else %}
      {% endif %}
      {% if post.end_product_or_service_membership_proposal %}
      <div class="col-12 ms-1 me-1 mb-1">
        <h6 class="mt-2">Membership</h6>
        <p>
          {{ post.end_product_or_service_membership_proposal }}
        </p>
      </div>
      {% else %}
      {% endif %}
      {% if post.end_product_or_service_proposal_costs %}
      <div class="col-12 ms-1 me-1 mb-5">
        <h6 class="mt-2">Proposal Costs</h6>
        <p>
          {{ post.end_product_or_service_proposal_costs }}
        </p>
      </div>
      {% else %}
      {% endif %}
{% else %}
{% endif %}

<!-- LIFETIME DISCOUNT PROPOSAL -->
{% if post.lifetime_discount_percentages_quantity_proposal and post.lifetime_discount_percentages_proposal_return and post.lifetime_discount_percentages_quality_proposal_costs %}
<hr class="bg-secondary-lighter p-0 m-0">
<section class="bg-secondary-lighter pt-2 pb-1">
  <div class="container">
    <div class="row-fluid">
      <h5 class="text-center mb-4 pb-3 mt-5">Lifetime Discount</h5>
      {% if post.lifetime_discount_percentages_quantity_proposal %}
      <div class="col-12 ms-1 me-1 mb-1">
        <h6 class="mt-2">Proposal Quantity</h6>
        <p>
          {{ post.lifetime_discount_percentages_quantity_proposal }}
        </p>
      </div>
      {% else %}
      {% endif %}
      {% if post.lifetime_discount_percentages_proposal_return %}
      <div class="col-12 ms-1 me-1 mb-1">
        <h6 class="mt-2">Proposal Return</h6>
        <p>
          {{ post.lifetime_discount_percentages_proposal_return }}
        </p>
      </div>
      {% else %}
      {% endif %}
      {% if post.lifetime_discount_percentages_quality_proposal_costs %}
      <div class="col-12 ms-1 me-1 mb-5">
        <h6 class="mt-2">Proposal Costs</h6>
        <p>
          {{ post.lifetime_discount_percentages_quality_proposal_costs }}
        </p>
      </div>
      {% else %}
      {% endif %}
{% else %}
{% endif %}

<!-- GUARANTEED TEAM POSITION PROPOSAL -->
{% if post.team_guaranteed_position_title_proposal and post.team_guaranteed_responsibilities_proposal and post.team_guaranteed_employment_conditions_proposal and post.team_guaranteed_proposal_costs %}
<hr class="bg-secondary-lighter p-0 m-0">
<section class="bg-secondary-lighter pt-2 pb-1">
  <div class="container">
    <div class="row-fluid">
      <h5 class="text-center mb-4 pb-3 mt-5">Guaranteed Team Position</h5>
      {% if post.team_guaranteed_position_title_proposal %}
      <div class="col-12 ms-1 me-1 mb-1">
        <h6 class="mt-2">Team Title</h6>
        <p>
          {{ post.team_guaranteed_position_title_proposal }}
        </p>
      </div>
      {% else %}
      {% endif %}
      {% if post.team_guaranteed_responsibilities_proposal %}
      <div class="col-12 ms-1 me-1 mb-1">
        <h6 class="mt-2">Responsibilities in Team</h6>
        <p>
          {{ post.team_guaranteed_responsibilities_proposal }}
        </p>
      </div>
      {% else %}
      {% endif %}
      {% if post.team_guaranteed_employment_conditions_proposal %}
      <div class="col-12 ms-1 me-1 mb-1">
        <h6 class="mt-2">Employment Conditions</h6>
        <p>
          {{ post.team_guaranteed_employment_conditions_proposal }}
        </p>
      </div>
      {% else %}
      {% endif %}
      {% if post.team_guaranteed_proposal_costs %}
      <div class="col-12 ms-1 me-1 mb-1">
        <h6 class="mt-2">Proposal Costs</h6>
        <p>
          {{ post.team_guaranteed_proposal_costs }}
        </p>
      </div>
      {% else %}
      {% endif %}
{% else %}
{% endif %}      

<!-- PARTNERSHIPS PROPOSAL -->
{% if post.partnership_proposal_return and post.partnership_proposal_costs %}
<hr class="bg-secondary-lighter p-0 m-0">
<section class="bg-secondary-lighter pt-2 pb-1">
  <div class="container">
    <div class="row-fluid">
      <h5 class="text-center mb-4 pb-3 mt-5">Partnerships</h5>
      {% if post.partnership_proposal_return %}
      <div class="col-12 ms-1 me-1 mb-1">
        <h6 class="mt-2">Proposal Return</h6>
        <p>
          {{ post.partnership_proposal_return }}
        </p>
      </div>
      {% else %}
      {% endif %}
      {% if post.partnership_proposal_costs %}
      <div class="col-12 ms-1 me-1 mb-5">
        <h6 class="mt-2">Proposal Costs</h6>
        <p>
          {{ post.partnership_proposal_costs }}
        </p>
      </div>
      {% else %}
      {% endif %}
{% else %}
{% endif %}

<!-- COLLABORATIONS PROPOSAL -->
{% if post.collaboration_proposal_return and post.collaboration_proposal_costs %}
<hr class="bg-secondary-lighter p-0 m-0">
<section class="bg-secondary-lighter pt-2 pb-1">
  <div class="container">
    <div class="row-fluid">
      <h5 class="text-center mb-4 pb-3 mt-5">Collaborations</h5>
      {% if post.collaboration_proposal_return %}
      <div class="col-12 ms-1 me-1 mb-1">
        <h6 class="mt-2">Proposal Return</h6>
        <p>
          {{ post.collaboration_proposal_return }}
        </p>
      </div>
      {% else %}
      {% endif %}
      {% if post.collaboration_proposal_costs %}
      <div class="col-12 ms-1 me-1 mb-5">
        <h6 class="mt-2">Proposal Costs</h6>
        <p>
          {{ post.collaboration_proposal_costs }}
        </p>
      </div>
      {% else %}
      {% endif %}
{% else %}
{% endif %}

<!-- SPONSORSHIPS PROPOSAL -->
{% if post.sponsorship_proposal_return and post.sponsorship_proposal_costs %}
<hr class="bg-secondary-lighter p-0 m-0">
<section class="bg-secondary-lighter pt-2 pb-1">
  <div class="container">
    <div class="row-fluid">
      <h5 class="text-center mb-4 pb-3 mt-5">Sponsorships</h5>
      {% if post.sponsorship_proposal_return %}
      <div class="col-12 ms-1 me-1 mb-1">
        <h6 class="mt-2">Proposal Return</h6>
        <p>
          {{ post.sponsorship_proposal_return }}
        </p>
      </div>
      {% else %}
      {% endif %}
      {% if post.sponsorship_proposal_costs %}
      <div class="col-12 ms-1 me-1 mb-5">
        <h6 class="mt-2">Proposal Costs</h6>
        <p>
          {{ post.sponsorship_proposal_costs }}
        </p>
      </div>
      {% else %}
      {% endif %}
{% else %}
{% endif %}  

<!-- OPEN PROPOSAL -->
{% if post.open_proposal_proposal_return and post.open_proposal_costs %}
<hr class="bg-secondary-lighter p-0 m-0">
<section class="bg-secondary-lighter pt-2 pb-1">
  <div class="container">
    <div class="row-fluid">
      <h5 class="text-center mb-4 pb-3 mt-5">Open Proposal</h5>
      {% if post.open_proposal_proposal_return %}
      <div class="col-12 ms-1 me-1 mb-1">
        <h6 class="mt-2">Open Proposal Return</h6>
        <p>
          {{ post.open_proposal_proposal_return }}
        </p>
      </div>
      {% else %}
      {% endif %}
      {% if post.open_proposal_costs %}
      <div class="col-12 ms-1 me-1 mb-5">
        <h6 class="mt-2">Open Proposal Costs</h6>
        <p>
          {{ post.open_proposal_costs }}
        </p>
      </div>
      {% else %}
      {% endif %}
{% else %}
{% endif %}

<!-- TERMS & CONDITIONS -->
{% if post.proposal_terms_and_conditions %}
<hr class="bg-secondary-lighter p-0 m-0">
<section class="bg-secondary-lighter pt-2 pb-1 pb-lg-4">
  <div class="container">
    <div class="row">
      <h5 class="text-center mb-4 pb-3 mt-5">Terms & Conditions</h5>
      <div class="col-12 col-lg-6 mx-auto mb-1">
        <h6 class="mt-2">General</h6>
        <p>
          {{ post.proposal_terms_and_conditions }}
        </p>
      </div>
    </div>
  </div>
</section>
{% else %}
{% endif %}

<!-- PAYOUT DATE -->
{% if post.funding_payout_date %}
<hr class="bg-secondary-lighter p-0 m-0">
<section class="bg-secondary-lighter pt-2">
  <div class="container-fluid">
    <div class="row-fluid pt-2 pb-2">
      <h3 class="text-center mt-4 mb-4">Funding Payout</h3>
      <div
        class="col-8 col-sm-6 col-md-4 col-lg-3 col-xxl-2 col-xxl-offset-5 mx-auto bg-dark rounded text-light mt-5 mb-sm-2 mb-lg-4 pt-4 pb-3 text-center position-relative shadow-sm">
        <i class="fa-solid fa-hand-holding-dollar text-end position-absolute top-0 end-0 mt-2 me-2"></i>
        <h5>Payout Date</h5>
        <p class="mt-3 pt-2 text-info">
          <strong>
            {{ post.funding_payout_date }}
          </strong>
        </p>
      </div>
    </div>
    <div class="row pb-3 mt-1">
      <div
        class="col-11 col-sm-8 col-md-6 col-xxl-4 col-xxl-offset-4 mx-auto bg-dark rounded text-light mt-4 mb-2 mb-lg-4 pt-3 pb-4 text-center shadow-sm position-relative shadow-sm">
        <i class="fa-solid fa-stopwatch position-absolute top-0 end-0 mt-2 me-2" style="font-size: 18px;"></i>
        <h5 class="mb-4 pb-3 mt-2">Payout Countdowns</h5>
        <div class="row justify-content-between text-dark mt-1">
          <div class="col bg-info rounded ms-2 me-1 pt-2 p-0">
            <p class="mb-2 mb-1 shadow-sm"><strong>DAYS</strong></p>
            <p
              class="bg-dark text-white rounded d-inline-block mt-1 ps-2 pe-2 pt-1 pb-1 border border-1 border-dark text-shdw-sharp shadow-sm">
              <strong>
                [{{ post.post_payout_duration_days }}]
              </strong>
            </p>
          </div>
          <div class="col bg-info rounded ms-1 me-1 pt-2 p-0">
            <p class="mb-2 mb-1 shadow-sm"><strong>MONTHS</strong></p>
            <p
              class="bg-dark text-white rounded d-inline-block mt-1 ps-2 pe-2 pt-1 pb-1 border border-1 border-dark text-shdw-sharp shadow-sm">
              <strong>
                [{{ post.post_payout_duration_months }}]
              </strong>
            </p>
          </div>
          <div class="col bg-info rounded ms-1 me-2 pt-2 p-0">
            <p class="mb-2 mb-1 shadow-sm"><strong>YEARS</strong></p>
            <p
              class="bg-dark text-white rounded d-inline-block mt-1 ps-2 pe-2 pt-1 pb-1 border border-1 border-dark text-shdw-sharp shadow-sm">
              <strong>
                [{{ post.post_payout_duration_years }}]
              </strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% else %}
{% endif %}

<!-- BREADCRUMB -->
<div class="container-fluid bg-secondary fixed-top shadow-sm p-0" id="post-breadcrumb" style="z-index: 2;">
  <div class="row">
    <nav aria-label="breadcrumb" class="col-10">
      <ol class="breadcrumb m-0 p-0 d-flex align-items-center">
        <li class="breadcrumb-item d-flex align-items-center">
          <a href="{% url 'public_post_details_1_landing' post.slug %}"
            class="text-info text-smaller ms-2 ms-md-3 text-shdw-sharp">Home</a>
        </li>
        <li class="breadcrumb-item d-flex align-items-center">
          <a href="#" class="text-smaller text-light text-decoration-none pt-1 text-shdw-sharp mb-05">Proposal</a>
        </li>
      </ol>
    </nav>
    <div class="col-2 d-flex align-items-center justify-content-end align-items-stretch pe-0"
      id="breadcrumb-bttn-padding">
      {% if post.post_background_audio %}
      <a class="pe-1 shadow">
        <button id="play-post-background" type="button" onclick="playPostAudio()" class="btn p-0 m-0 " aria-controls="offcanvasRight">
          <i class="fa-solid fa-circle-play text-info p-1 breadcrumb-bttn-padding btn-white-lit" style="font-size: 17px; padding-top: 15px;"></i>
        </button>
        <button type="button" id="stop-post-background" onclick="stopPostAudio()" class="btn p-0 m-0" aria-controls="offcanvasRight" style="display:none">
          <i class="fa-solid fa-circle-stop text-info p-1 breadcrumb-bttn-padding btn-white-lit" style="font-size: 17px; padding-top: 15px;"></i>
        </button>
      </a>
      <audio src="{{ post.post_background_audio.url }}" id="post-audio" loop></audio>
      {% else %}
      {% endif %}
      <a class="pe-1 shadow">
        <button type="button" class="btn p-0 m-0" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
          <i class="fa-solid fa-angles-down text-info p-1 breadcrumb-bttn-padding btn-white-lit" style="font-size: 17px; padding-top: 15px;"></i>
        </button>
      </a>
      <a href="{% url 'public_posts_list' %}" class="pe-1 shadow">
        <button type="button" class="btn p-0 m-0 me-3" aria-label="Close">
          <i class="fa-solid fa-xmark text-info p-1 breadcrumb-bttn-padding shadow-sm btn-white-lit" style="font-size: 18px;"></i> 
        </button>
      </a>
    </div>
  </div>
</div>

<!-- OFFCANVAS -->
<div class="offcanvas offcanvas-end ms-5 bg-light" tabindex="-1" id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel">
  <div class="bg-info-subtle">
    <div class="text-end">
      <button type="button" class="btn-close text-reset m-1 m-md-2" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="mt-1 mb-4">
      <h4 id="offcanvasRightLabel" class="mt-4 pt-2 pb-3 text-center">
        {{ post.post_type }} Post
      </h4>
    </div>
  </div>
  <hr class="p-0 m-0">
  <div class="mb-4 mt-4 pt-2">
    <h6 class="ms-2 ps-1">{{ post.title }}</h6>
    <h6 class="text-muted ms-2 ps-1">{{ post.industry }}</h6>
    <h6 class="text-muted ms-2 ps-1">{{ post.author }}</h6>
  </div>
  <div class="list-group offcanvas-body mt-4">
    <div class="ms-2 me-2 border border-2 border-dark">
      <a href="{% url 'public_post_details_1_landing' post.slug %}"
        class="text-decoration-none p-0  list-group-item list-group-item-action bg-warning bg-gradient p-1 m-0 ps-2">
        <p class="mb-1">
          <strong>
            1. WELCOME
          </strong>
        </p>
      </a>
      <a href="{% url 'public_post_details_2_opps' post.slug %}"
        class="text-decoration-none list-group-item list-group-item-action bg-warning bg-gradient p-1 m-0 ps-2">
        <p class="mb-1">
          <strong>
            2. DETAILS
          </strong>
        </p>
      </a>
      <a href="{% url 'public_post_details_3_about_us' post.slug %}"
        class="text-decoration-none list-group-item list-group-item-action bg-warning bg-gradient p-1 m-0 ps-2">
        <p class="mb-1">
          <strong>
            3. ABOUT US
          </strong>
        </p>
      </a>
      <a href="{% url 'public_post_details_4_body' post.slug %}"
        class="text-decoration-none list-group-item list-group-item-action bg-warning bg-gradient p-1 m-0 ps-2">
        <p class="mb-1">
          <strong>
            4. ARTICLES
          </strong>
        </p>
      </a>
      <a href="{% url 'public_post_details_5_files' post.slug %}"
        class="text-decoration-none list-group-item list-group-item-action bg-warning bg-gradient p-1 m-0 ps-2">
        <p class="mb-1">
          <strong>
            5. DOCUMENTS
          </strong>
        </p>
      </a>
      <a href="{% url 'public_post_details_6_proposal' post.slug %}"
        class="text-decoration-none list-group-item list-group-item-action bg-gradient p-1 m-0 ps-2 bg-dark disabled">
        <p class="mb-1 text-warning">
          <strong>
            6. PROPOSAL
          </strong>
        </p>
      </a>
    </div>
  </div>
  {% if post.author != request.user %}
  <button class="w-50 mx-auto p-1 btn btn-secondary text-light mb-5 border border-2 border-info" type="button" data-toggle="modal" data-target="#open-offer-modal" onclick="modalOpenOfferActivate()">OPEN OFFER</button>
  {% else %}
  {% endif %}
</div>

<!-- NEXT PAGE -->
<section class="bg-secondary-lighter pb-2 pt-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <!-- Added "col-12" class for full width and "justify-content-center" class for center alignment -->
        <nav aria-label="Page navigation example shadow-sm">
          <ul class="pagination text-center rounded">
            <li class="page-item">
              <a class="page-link bg-dark bg-gradient text-warning" href="{% url 'public_post_details_5_files' post.slug %}"
                aria-label="Previous">
                <span aria-hidden="true">
                  &laquo;
                  <span class="d-none d-sm-inline-block ms-1">Last</span>
                </span>
              </a>
            </li>
            <li class="page-item"><a class="page-link bg-warning bg-gradient text-dark"
                href="{% url 'public_post_details_1_landing' post.slug %}">1</a></li>
            <li class="page-item"><a class="page-link bg-warning bg-gradient text-dark"
                href="{% url 'public_post_details_2_opps' post.slug %}">2</a></li>
            <li class="page-item"><a class="page-link bg-warning bg-gradient text-dark"
                href="{% url 'public_post_details_3_about_us' post.slug %}">3</a></li>
            <li class="page-item"><a class="page-link bg-warning bg-gradient text-dark"
                href="{% url 'public_post_details_4_body' post.slug %}">4</a></li>
            <li class="page-item"><a class="page-link bg-warning bg-gradient text-dark"
                href="{% url 'public_post_details_5_files' post.slug %}">5</a></li>
            <li class="page-item disabled"><a class="page-link bg-dark bg-gradient text-warning"
                href="{% url 'public_post_details_6_proposal' post.slug %}">6</a></li>
            <li class="page-item">
              <a class="page-link bg-dark bg-gradient text-warning" href="{% url 'public_post_details_1_landing' post.slug %}"
                aria-label="Next">
                <span aria-hidden="true">
                  <span class="d-none d-sm-inline-block me-1">Next</span>
                  &raquo;
                </span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="d-flex justify-content-center mt-4 mb-5">
        <div class="text-center">
          <a class="btn btn-dark bg-gradient text-warning rounded-pill shadow-sm pt-0 pb-0 ps-2 pe-2" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
            Read more
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% else %}
{% endif %}

</main>

{% endblock posts_base_content %}