{% extends 'posts/public/public_post_details_0_base.html' %}

{% block posts_base_content %}

{% load crispy_forms_tags %}

{% load static %}

<!-- POST IMAGE -->
<section id="post-main-image">
    <div class="container-fluid p-0 overflow-hidden border-bottom border-2 border-info">
      <div class="row-fluid">
        <div class="image-container bg-secondary-lighter d-flex align-items-center justify-content-center">
          {% if post.post_list_image %}
          <a>
            <img src="{{ post.post_banner_image.url }}" class="img-fluid object-fit-contain" alt="Post Image">
          </a>
          {% else %}
          <a>
            <img src="{% static 'images/21105.jpg' %}" class="img-fluid object-fit-contain" alt="Post Placeholder">
          </a>
          {% endif %}
        </div>
      </div>
    </div>
</section>

<!-- POST WELCOME TITLE -->
<h3 class="text-center pt-5 pb-5 bg-secondary-lighter mb-0 border-bottom border-1 border-dark bg-info-subtle">
  Welcome!
</h3>

<!-- INTRODUCTION -->
{% if post.introduction_privacy == False and post.introduction %}
<section class="bg-secondary-lighter pt-3 pb-5">
  <h3 class="ms-3 mt-5 mb-4 pb-3 mt-md-5 mb-md-5 text-start text-sm-center">Introduction</h3>
  <p class="text-break w-75 text-center mx-auto mt-4">{{ post.introduction }}</p>
</section>
{% else %}
{% endif %}

<!-- ABOUT CARD -->
<hr class="bg-secondary-lighter p-0 m-0">
<section class="bg-secondary-lighter pt-5 pb-5">
  <h3 class="ms-3 mt-4 mb-4 pb-4 mt-md-5 mb-md-5 text-start text-sm-center">General Information</h3>
  <ul class="list-group mt-4 mb-0 col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3 border border-1 border-dark mb-4 shadow">
    <li class="list-group-item bg-info-subtle text-dark p-1 ps-3 border-bottom border-1 border-secondary-subtle">
      <strong>Post Type:</strong>
      <span class="ms-1">
        {{ post.post_type }}
      </span>
    </li>
    <li class="list-group-item bg-info-subtle text-dark p-1 ps-3 border-top border-1 border-secondary-subtle">
      <strong>Industry:</strong>
      <span class="ms-1">
        {{ post.industry }}
      </span>
    </li>
    {% if post.organization %}
    <li class="list-group-item bg-info-subtle text-dark p-1 ps-3 border-top border-1 border-secondary-subtle">
      <strong>Organization:</strong>
      <span class="ms-1">
        {{ post.organization }}
      </span>
    </li>
    {% else %}
    {% endif %}
    {% if post.project %}
    <li class="list-group-item bg-info-subtle text-dark p-1 ps-3 border-top border-1 border-secondary-subtle">
      <strong>Project:</strong>
      <span class="ms-1">
        {{ post.project }}
      </span>
    </li>
    {% else %}
    {% endif %}
    {% if post.product %}
    <li class="list-group-item bg-info-subtle text-dark p-1 ps-3 border-top border-1 border-secondary-subtle">
      <strong>Product:</strong>
      <span class="ms-1">
        {{ post.product }}
      </span>
    </li>
    {% else %}
    {% endif %}
    {% if post.service %}
    <li class="list-group-item bg-info-subtle text-dark p-1 ps-3 border-top border-1 border-secondary-subtle">
      <strong>Service:</strong>
      <span class="ms-1">
        {{ post.service }}
      </span>
    </li>
    {% else %}
    {% endif %}
    <li class="list-group-item bg-info-subtle text-dark p-1 ps-3 border-top border-1 border-secondary-subtle">
      <strong>City:</strong>
      <span class="ms-1">
        {{ post.post_location_city }}
      </span>
    </li>
    <li class="list-group-item bg-info-subtle text-dark p-1 ps-3 border-top border-1 border-secondary-subtle">
      <strong>Country:</strong>
      <span class="ms-1">
        {{ post.post_location_country }}
      </span>
    </li>
    <li class="list-group-item bg-info-subtle text-dark p-1 ps-3 border-top border-1 border-secondary-subtle">
      <strong>Continent:</strong>
      <span class="ms-1">
        {{ post.post_location_continent }}
      </span>
    </li>
    <li class="list-group-item bg-info-subtle text-dark p-1 ps-3 border-bottom border-1 border-secondary-subtle">
      <strong>Planet:</strong>
      <span class="ms-">
        {{ post.post_location_planet }}
      </span>
    </li>
  </ul>
</section>

<!-- POST VIDEO -->
{% if post.post_video_privacy == False and post.video %}
<div class="row justify-content-center">
  <div class="col-11 offset rounded border border-3 border-dark bg-secondary mt-4 mb-4 pt-2 shadow-sm h-100">
    <video class="bg-info w-100 h-100 shadow-lg align-items-center" controls type="video/mp4" src="{{ post.post_video.url }}"></video>
  </div>
</div>
{% else %}
{% endif %}

<!-- LAUNCH DATE -->
{% if post.launch_date_privacy == False and post.launch_date %}
<hr class="bg-secondary-lighter p-0 m-0">
<section class="bg-secondary-lighter pt-2 pb-5">
  <h3 class="ms-3 mt-5 mb-1 pb-3 mt-md-5 mb-md-5 text-start text-sm-center">Important Date</h3>
  <div class="container-fluid">
    <div class="row-fluid pt-3 pb-2">
      <div class="col-8 col-sm-6 col-md-4 col-lg-3 mx-auto bg-dark rounded text-light mt-4 mb-sm-2 mb-lg-4 pt-4 pb-3 text-center position-relative shadow-sm">
        <i class="fa-solid fa-rocket text-end position-absolute top-0 end-0 mt-2 me-2"></i>
        <h5>Official Launch</h5>
        <p class="mt-3 pt-2 text-info"><strong>{{ post.launch_date }}</strong></p>
      </div>
    </div>
    <div class="row pb-3">
      <div class="col-11 col-sm-8 col-md-6 mx-auto bg-dark rounded text-light mt-4 mb-2 mb-lg-4 pt-3 pb-4 text-center shadow-sm position-relative shadow-sm">
        <i class="fa-solid fa-stopwatch position-absolute top-0 end-0 mt-3 me-3" style="font-size: 18px;"></i>
        <h5 class="mb-4 pb-3 mt-2">Launch Countdowns</h5>
        <div class="row justify-content-between text-dark mt-1">
          <div class="col bg-info rounded ms-2 me-1 pt-2">
            <p class="mb-2 mb-1 shadow-sm"><strong>DAYS</strong></p>
            <p class="bg-dark text-white rounded d-inline-block mt-1 ps-2 pe-2 pt-1 pb-1 border border-1 border-dark text-shdw-sharp shadow-sm"><strong>[{{ post.post_launch_days }}]</strong></p>
          </div>
          <div class="col bg-info rounded ms-1 me-1 pt-2">
            <p class="mb-2 mb-1 shadow-sm"><strong>MONTHS</strong></p>
            <p class="bg-dark text-white rounded d-inline-block mt-1 ps-2 pe-2 pt-1 pb-1 border border-1 border-dark text-shdw-sharp shadow-sm"><strong>[{{ post.post_launch_months }}]</strong></p>
          </div>
          <div class="col bg-info rounded ms-1 me-2 pt-2 border border-1 border-info">
            <p class="mb-2 mb-1 shadow-sm"><strong>YEARS</strong></p>
            <p class="bg-dark text-white rounded d-inline-block mt-1 ps-2 pe-2 pt-1 pb-1 border border-1 border-dark text-shdw-sharp shadow-sm"><strong>[{{ post.post_launch_years }}]</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% else %}
{% endif %}

<!-- NEXT PAGE -->
<section class="bg-secondary-lighter pb-2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 d-flex justify-content-center"> <!-- Added "col-12" class for full width and "justify-content-center" class for center alignment -->
        <nav aria-label="Page navigation example shadow-sm">
          <ul class="pagination text-center rounded">
            <li class="page-item">
              <a class="page-link bg-dark bg-gradient text-warning" href="{% url 'public_post_details_1_landing' post.slug %}" aria-label="Previous">
                <span aria-hidden="true">
                  &laquo;
                  <span class="d-none d-sm-inline-block ms-1">Last</span>
                </span>
              </a>
            </li>
            <li class="page-item disabled"><a class="page-link bg-dark bg-gradient text-warning" href="{% url 'public_post_details_1_landing' post.slug %}">1</a></li>
            <li class="page-item"><a class="page-link bg-warning bg-gradient text-dark" href="{% url 'public_post_details_2_opps' post.slug %}">2</a></li>
            <li class="page-item"><a class="page-link bg-warning bg-gradient text-dark" href="{% url 'public_post_details_3_about_us' post.slug %}">3</a></li>
            <li class="page-item"><a class="page-link bg-warning bg-gradient text-dark" href="{% url 'public_post_details_4_body' post.slug %}">4</a></li>
            <li class="page-item"><a class="page-link bg-warning bg-gradient text-dark" href="{% url 'public_post_details_5_files' post.slug %}">5</a></li>
            <li class="page-item"><a class="page-link bg-warning bg-gradient text-dark" href="{% url 'public_post_details_6_proposal' post.slug %}">6</a></li>
            <li class="page-item">
              <a class="page-link bg-dark bg-gradient text-warning" href="{% url 'public_post_details_2_opps' post.slug %}" aria-label="Next">
                <span aria-hidden="true">
                  <span class="d-none d-sm-inline-block me-1">Next</span>
                  &raquo;
                </span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="d-flex justify-content-center mt-4 mb-5">
        <div class="text-center">
          <a class="btn btn-dark bg-gradient text-warning rounded-pill shadow-sm p-0 ps-2 pe-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
            Read more
          </a>
        </div>   
      </div>
    </div>
  </div>
</section>

<!-- BREADCRUMB -->
<div class="container-fluid bg-secondary fixed-top shadow-sm p-0" id="post-breadcrumb">
  <div class="row">
    <nav aria-label="breadcrumb" class="col-10">
      <ol class="breadcrumb m-0 p-0 d-flex align-items-center">
          <li class="breadcrumb-item d-flex align-items-center">
              <a href="{% url 'public_post_details_1_landing' post.slug %}" class="text-info text-smaller ms-2 ms-md-3 text-shdw-sharp">Home</a>
          </li>
          <li class="breadcrumb-item d-flex align-items-center">
              <a href="#" class="text-smaller text-light text-decoration-none pt-1 text-shdw-sharp mb-05">Welcome</a>
          </li>
      </ol>
  </nav>
    <div class="col-2 d-flex align-items-center justify-content-end align-items-stretch pe-0" id="breadcrumb-bttn-padding">
      {% if post.post_background_audio %}
      <a class="pe-1 shadow">
        <button id="play-post-background" type="button" onclick="playPostAudio()" class="btn p-0 m-0 " aria-controls="offcanvasRight">
          <i class="fa-solid fa-circle-play text-info p-1 breadcrumb-bttn-padding btn-white-lit" style="font-size: 17px; padding-top: 15px;"></i>
        </button>
        <button type="button" id="stop-post-background" onclick="stopPostAudio()" class="btn p-0 m-0" aria-controls="offcanvasRight" style="display:none">
          <i class="fa-solid fa-circle-stop text-info p-1 breadcrumb-bttn-padding btn-white-lit" style="font-size: 17px; padding-top: 15px;"></i>
        </button>
      </a>
      <audio src="{{ post.post_background_audio.url }}" id="post-audio" loop></audio>
      {% else %}
      {% endif %}
      <a class="pe-1 shadow">
        <button type="button" class="btn p-0 m-0" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
          <i class="fa-solid fa-angles-down text-shdw-sharp text-info p-1 breadcrumb-bttn-padding btn-white-lit" style="font-size: 17px; padding-top: 15px;"></i>
        </button>
      </a>
      <a href="#" class="pe-1 shadow">
        <button type="button" class="btn p-0 m-0 me-3 me-md-4" aria-label="Close" onclick="javascript:history.back()">
          <i class="fa-solid fa-xmark text-info p-1 text-shdw-sharp breadcrumb-bttn-padding shadow-sm btn-white-lit" style="font-size: 18px;"></i> 
        </button>
      </a>
    </div>
  </div>
</div>

<!-- OFFCANVAS -->
<div class="offcanvas offcanvas-end ms-5 bg-light" tabindex="-1" id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel">
  <div class="bg-info-subtle">
    <div class="text-end">
      <button type="button" class="btn-close text-reset m-1" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="mt-1 mb-4">
      <h4 id="offcanvasRightLabel" class="mt-4 pt-2 pb-3 text-center">
        {{ post.post_type }} Post
      </h4>
    </div>
  </div>
  <hr class="p-0 m-0">
  <div class="mb-4 mt-4 pt-2">
    <h6 class="ms-2 ps-1">{{ post.title }}</h6>
    <h6 class="text-muted ms-2 ps-1">{{ post.industry }}</h6>
    <h6 class="text-muted ms-2 ps-1">{{ post.author }}</h6>
  </div>
  <div class="list-group offcanvas-body">
    <div class="ms-2 me-2 border border-2 border-dark">
      <a href="{% url 'public_post_details_1_landing' post.slug %}"
        class="text-decoration-none p-0  list-group-item list-group-item-action bg-gradient p-1 m-0 ps-2 bg-dark disabled">
        <p class="mb-1 text-warning">
          <strong>
            1. WELCOME
          </strong>
        </p>
      </a>
      <a href="{% url 'public_post_details_2_opps' post.slug %}"
        class="text-decoration-none list-group-item list-group-item-action bg-warning bg-gradient p-1 m-0 ps-2">
        <p class="mb-1">
          <strong>
            2. DETAILS
          </strong>
        </p>
      </a>
      <a href="{% url 'public_post_details_3_about_us' post.slug %}"
        class="text-decoration-none list-group-item list-group-item-action bg-warning bg-gradient p-1 m-0 ps-2 ">
        <p class="mb-1">
          <strong>
            3. ABOUT US
          </strong>
        </p>
      </a>
      <a href="{% url 'public_post_details_4_body' post.slug %}"
        class="text-decoration-none list-group-item list-group-item-action bg-warning bg-gradient p-1 m-0 ps-2">
        <p class="mb-1">
          <strong>
            4. ARTICLES
          </strong>
        </p>
      </a>
      <a href="{% url 'public_post_details_5_files' post.slug %}"
        class="text-decoration-none list-group-item list-group-item-action bg-warning bg-gradient p-1 m-0 ps-2">
        <p class="mb-1">
          <strong>
            5. DOCUMENTS
          </strong>
        </p>
      </a>
      <a href="{% url 'public_post_details_6_proposal' post.slug %}"
        class="text-decoration-none list-group-item list-group-item-action bg-warning bg-gradient p-1 m-0 ps-2">
        <p class="mb-1">
          <strong>
            6. PROPOSAL
          </strong>
        </p>
      </a>
    </div>
  </div>
  {% if post.author != request.user %}
  <button class="w-50 mx-auto p-1 btn btn-secondary text-light mb-5 border border-2 border-info" type="button" data-toggle="modal" data-target="#open-offer-modal" onclick="modalOpenOfferActivate()">OPEN OFFER</button>
  {% else %}
  {% endif %}
</div>

{% endblock posts_base_content %}