{% extends 'posts/public/public_post_details_0_base.html' %}

{% block posts_base_content %}

{% load crispy_forms_tags %}

{% load static %}

<!-- POST OPPS DETAILS -->
{% if post.post_about_privacy == False %}

<!-- POST ABOUT CREATORS -->
<hr class="bg-secondary-lighter p-0 m-0">
<section class="bg-secondary-lighter pt-2 pb-2">
  <h3 class="text-center mt-5 mb-5">
    About Creators of {{ post.post_type }}
  </h3>
  <hr>
  <div class="container">
    <div class="row-fluid">
      <h5 class="text-center mt-4 mb-4">Who are we?</h5>
      {% if post.organization_info %}
      <div class="col-12 ms-1 me-1 mb-1">
        <h6 class="mt-2">Get to know us</h6>
        <p>
          {{ post.organization_info }}
        </p>
      </div>
      {% else %}
      {% endif %}
      {% if post.organization_mission %}
      <div class="col-12 ms-1 me-1 mb-1">
        <h6 class="mt-2">Our Mission</h6>
        <p>
          {{ post.organization_mission }}
        </p>
      </div>
      {% else %}
      {% endif %}
      {% if post.organization_vision %}
      <div class="col-12 ms-1 me-1 mb-1">
        <h6 class="mt-2">Our Vision</h6>
        <p>
          {{ post.organization_vision }}
        </p>
      </div>
      {% else %}
      {% endif %}
      {% if post.organization_culture %}
      <div class="col-12 ms-1 me-1 mb-1">
        <h6 class="mt-2">Our Culture</h6>
        <p>
          {{ post.organization_culture }}
        </p>
      </div>
      {% else %}
      {% endif %}
      {% if post. %}
      <div class="col-12 ms-1 me-1 mb-3">
        <h6 class="mt-2">Planner</h6>
        <p>
          {{ post.pps_planner }}
        </p>
      </div>
      {% else %}
      {% endif %}
    </div>
  </div>
</section>

<!-- POST PRODUCTS & SERVICES -->
<hr class="bg-secondary-lighter p-0 m-0">
<section class="bg-secondary-lighter pt-2 pb-2">
  <div class="container">
    <div class="row-fluid">
      <h5 class="text-center mt-4 mb-4">What are we doing?</h5>
      {% if post.products_provided %}
      <div class="col-12 ms-1 me-1 mb-1">
        <h6 class="mt-2">Products we provide</h6>
        <p>
          {{ post.products_provided }}
        </p>
      </div>
      {% else %}
      {% endif %}
      {% if post.services_provided %}
      <div class="col-12 ms-1 me-1 mb-1">
        <h6 class="mt-2">Services we provide</h6>
        <p>
          {{ post.services_provided }}
        </p>
      </div>
      {% else %}
      {% endif %}
    </div>
  </div>
</section>

<!-- POST SWOT -->
<hr class="bg-secondary-lighter p-0 m-0">
<section class="bg-secondary-lighter pt-2 pb-2">
  <div class="container">
    <div class="row-fluid">
      <h5 class="text-center mt-4 mb-4">S.W.O.T.</h5>
      {% if post.strengths %}
      <div class="col-12 ms-1 me-1 mb-1">
        <h6 class="mt-2">Strengths </h6>
        <p>
          {{ post.strengths }}
        </p>
      </div>
      {% else %}
      {% endif %}
      {% if post.weaknesses %}
      <div class="col-12 ms-1 me-1 mb-1">
        <h6 class="mt-2">Weaknesses</h6>
        <p>
          {{ post.weaknesses }}
        </p>
      </div>
      {% else %}
      {% endif %}
      {% if post.opportunities %}
      <div class="col-12 ms-1 me-1 mb-1">
        <h6 class="mt-2">Opportunities</h6>
        <p>
          {{ post.opportunities }}
        </p>
      </div>
      {% else %}
      {% endif %}
      {% if post.threats %}
      <div class="col-12 ms-1 me-1 mb-3">
        <h6 class="mt-2">Threats</h6>
        <p>
          {{ post.threats }}
        </p>
      </div>
      {% else %}
      {% endif %}
    </div>
  </div>
</section>

{% if post.focus_privacy == False %}
<!-- POST SWOT PRODUCTS & SERVICES -->
<hr class="bg-secondary-lighter p-0 m-0">
<section class="bg-secondary-lighter pt-2 pb-2">
  <div class="container">
    <div class="row-fluid">
      <h5 class="text-center mt-4 pt-4 mb-5">Business Focus</h5>
      <div class="col-12 col-md-10 offset-md-1 shadow-sm pt-4 rounded border border-2 border-dark mb-5 mt-4 ps-2 pe-2">
        <h6 class="rounded border border-3 border-dark bg-light p-1 mb-2 d-inline">INNOVATION</h6>
        <div class="progress border border-4 border-dark mb-3 mt-2" style="height: 24px">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-info text-dark" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="{{post.focus_innovation_style }}"><strong class="p-1">{% if post.focus_innovation > 10 %}{{ post.focus_innovation }} %{% else %}{{ post.focus_innovation }}%{% endif %}</strong></div>
        </div>
        <h6 class="rounded border border-3 border-dark bg-light p-1 mb-2 d-inline">FINANCIALS</h6>
        <div class="progress border border-4 border-dark mb-3 mt-2" style="height: 24px">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="{{ post.focus_financials_style }}"><strong class="p-1">{% if post.focus_financials > 10 %}{{ post.focus_financials }} %{% else %}{{ post.focus_financials }}%{% endif %}</strong></div>
        </div>
        <hr class="mb-4">
        <h6 class="rounded border border-3 border-dark bg-light p-1 mb-2 d-inline">PLANNING</h6>
        <div class="progress border border-4 border-dark mb-3 mt-2" style="height: 24px">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-info text-dark" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="{{ post.focus_planning_style }}"><strong class="p-1">{% if post.focus_planning > 10 %}{{ post.focus_planning }} %{% else %}{{ post.focus_planning }}%{% endif %}</strong></div>
        </div>
        <h6 class="rounded border border-3 border-dark bg-light p-1 mb-2 d-inline">MONITORING</h6>
        <div class="progress border border-4 border-dark mb-3 mt-2" style="height: 24px">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="{{ post.focus_monitoring_style }}"><strong class="p-1">{% if post.focus_monitoring > 10 %}{{ post.focus_monitoring }} %{% else %}{{ post.focus_monitoring }}%{% endif %}</strong></div>
        </div>
        <hr class="mb-4">
        <h6 class="rounded border border-3 border-dark bg-light p-1 mb-2 d-inline">QUALITY</h6>
        <div class="progress border border-4 border-dark mb-3 mt-2" style="height: 24px">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-info text-dark" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="{{ post.focus_quality_style }}"><strong class="p-1">{% if post.focus_quality > 10 %}{{ post.focus_quality }} %{% else %}{{ post.focus_quality }}%{% endif %}</strong></div>
        </div>
        <h6 class="rounded border border-3 border-dark bg-light p-1 mb-2 d-inline">QUANTITY</h6>
        <div class="progress border border-4 border-dark mb-3 mt-2" style="height: 24px">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="{{ post.focus_quantity_style }}"><strong class="p-1">{% if post.focus_quantity > 10 %}{{ post.focus_quantity }} %{% else %}{{ post.focus_quantity }}%{% endif %}</strong></div>
        </div>
        <hr class="mb-4">
        <h6 class="rounded border border-3 border-dark bg-light p-1 mb-2 d-inline">COLLABORATION</h6>
        <div class="progress border border-4 border-dark mb-3 mt-2" style="height: 24px">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-info text-dark" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="{{ post.focus_collaboration_style }}"><strong class="p-1">{% if post.focus_collaboration > 10 %}{{ post.focus_collaboration }} %{% else %}{{ post.focus_collaboration }}%{% endif %}</strong></div>
        </div>
        <h6 class="rounded border border-3 border-dark bg-light p-1 mb-2 d-inline">LEADERSHIP</h6>
        <div class="progress border border-4 border-dark mb-3 mt-2" style="height: 24px">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="{{ post.focus_leadership_style }}"><strong class="p-1">{% if post.focus_leadership > 10 %}{{ post.focus_leadership }} %{% else %}{{ post.focus_leadership }}%{% endif %}</strong></div>
        </div>
      </div>
    </div>
  </div>
</section>
{% else %}
{% endif %}

{% if post.specialty_privacy == False %}
<!-- POST BUSINESS SPECIALTIES -->
<hr class="bg-secondary-lighter p-0 m-0">
<section class="bg-secondary-lighter pt-2 pb-2">
  <div class="container">
    <div class="row-fluid">
      <h5 class="text-center mt-4 pt-4 mb-5">Business Departments</h5>
      {% if post.specialty_privacy == False and post.special_ops %}
      <div class="card text-white bg-dark mb-3 mt-4 shadow-sm" style="max-width: 18rem;">
        <div class="card-header border-bottom border-1 border-light d-flex justify-content-between align-items-center shadow-sm">
          Current
          {% if post.percentage_special_privacy == False and post.percentage_special_ops %}
          <p class="text-end mb-0">
            {{ post.percentage_special_ops }} %
          </p>
          {% else %}
          {% endif %}
        </div>
        <div class="card-body shadow-sm">
          <h5 class="card-title pt-1">OPERATIONS</h5>
          <p class="card-text pt-2 pb-1">
            {{ post.special_ops }}
          </p>
        </div>
      </div>
      {% else %}
      {% endif %}
      {% if post.specialty_privacy_two == False and post.special_ops_two %}
      <div class="card border-dark mb-3 border border-1 border-dark shadow-sm" style="max-width: 18rem;">
        <div class="card-header border-bottom border-1 border-dark d-flex justify-content-between align-items-center text-dark shadow-sm">
          Future
          {% if post.percentage_special_privacy == False and post.percentage_special_ops_two %}
          <p class="text-end mb-0">
            {{ post.percentage_special_ops_two }} %
          </p>
          {% else %}
          {% endif %}
        </div>
        <div class="card-body shadow-sm">
          <h5 class="card-title pt-1">OPERATIONS</h5>
          <p class="card-text pt-2 pb-1">
            {{ post.special_ops_two }}
          </p>
        </div>
      </div> 
      <hr>
      {% else %}
      {% endif %}
      {% if post.specialty_privacy == False and post.special_supply_chain %}
      <div class="card text-white bg-secondary mb-3 shadow-sm" style="max-width: 18rem;">
        <div class="card-header border-bottom border-1 border-light d-flex justify-content-between align-items-center shadow-sm">
          Current
          {% if post.percentage_special_privacy == False and post.percentage_special_supply_chain %}
          <p class="text-end mb-0">
            {{ post.percentage_special_supply_chain }} %
          </p>
          {% else %}
          {% endif %}
        </div>
        <div class="card-body shadow-sm">
          <h5 class="card-title pt-1">SUPPLY CHAIN</h5>
          <p class="card-text pt-2 pb-1">
            {{ post.special_supply_chain }}
          </p>
        </div>
      </div>
      {% else %}
      {% endif %}
      {% if post.specialty_privacy_two == False and post.special_supply_chain_two %}
      <div class="card border-secondary mb-3 border border-1 border-secondary shadow-sm" style="max-width: 18rem;">
        <div class="card-header border-bottom border-1 border-secondary d-flex justify-content-between align-items-center text-secondary shadow-sm">
          Future
          {% if post.percentage_special_privacy == False and post.percentage_special_supply_chain_two %}
          <p class="text-end mb-0">
            {{ post.percentage_special_supply_chain_two }} %
          </p>
          {% else %}
          {% endif %}
        </div>
        <div class="card-body shadow-sm">
          <h5 class="card-title pt-1">SUPPLY CHAIN</h5>
          <p class="card-text pt-2 pb-1">
            {{ post.special_supply_chain_two }}
          </p>
        </div>
      </div>
      <hr>
      {% else %}
      {% endif %}
      {% if post.specialty_privacy == False and post.special_tech %}
      <div class="card text-white bg-primary mb-3 shadow-sm" style="max-width: 18rem;">
        <div class="card-header border-bottom border-1 border-light d-flex justify-content-between align-items-center shadow-sm">
          Current
          {% if post.percentage_special_privacy == False and post.percentage_special_tech %}
          <p class="text-end mb-0">
            {{ post.percentage_special_tech }} %
          </p>
          {% else %}
          {% endif %}
        </div>
        <div class="card-body shadow-sm">
          <h5 class="card-title pt-1">DATA & IT</h5>
          <p class="card-text pt-2 pb-1">
            {{ post.special_tech }}
          </p>
        </div>
      </div>
      {% else %}
      {% endif %}
      {% if post.specialty_privacy_two == False and post.special_tech_two %}
      <div class="card border-primary mb-3 border border-1 border-primary shadow-sm" style="max-width: 18rem;">
        <div class="card-header border-bottom border-1 border-primary d-flex justify-content-between align-items-center text-primary shadow-sm">
          Future
          {% if post.percentage_special_privacy == False and post.percentage_special_tech_two %}
          <p class="text-end mb-0">
            {{ post.percentage_special_tech_two }} %
          </p>
          {% else %}
          {% endif %}
        </div>
        <div class="card-body shadow-sm">
          <h5 class="card-title pt-1">DATA & IT</h5>
          <p class="card-text pt-2 pb-1">
            {{ post.special_tech_two }}
          </p>
        </div>
      </div>
      <hr>
      {% else %}
      {% endif %}
      {% if post.specialty_privacy == False and post.special_hr %}
      <div class="card text-dark bg-info mb-3 shadow-sm" style="max-width: 18rem;">
        <div class="card-header border-bottom border-1 border-dark d-flex justify-content-between align-items-center shadow-sm">
          Current
          {% if post.percentage_special_privacy == False and post.percentage_special_hr %}
          <p class="text-end mb-0">
            {{ post.percentage_special_hr }} %
          </p>
          {% else %}
          {% endif %}
        </div>
        <div class="card-body shadow-sm">
          <h5 class="card-title pt-1">HUMAN RESOURCES</h5>
          <p class="card-text pt-2 pb-1">
            {{ post.special_hr }}
          </p>
        </div>
      </div>
      {% else %}
      {% endif %}
      {% if post.specialty_privacy_two == False and post.special_hr_two %}
      <div class="card border-info mb-3 border border-1 border-secondary shadow-sm" style="max-width: 18rem;">
        <div class="card-header border-bottom border-1 border-info d-flex justify-content-between align-items-center text-info shadow-sm">
          Future
          {% if post.percentage_special_privacy == False and post.percentage_special_hr_two %}
          <p class="text-end mb-0">
            {{ post.percentage_special_hr_two }} %
          </p>
          {% else %}
          {% endif %}
        </div>
        <div class="card-body shadow-sm">
          <h5 class="card-title pt-1">HUMAN RESOURCES</h5>
          <p class="card-text pt-2 pb-1">
            {{ post.special_hr_two }}
          </p>
        </div>
      </div>
      <hr>
      {% else %}
      {% endif %}
      {% if post.specialty_privacy == False and post.special_finance %}
      <div class="card text-white bg-success mb-3 shadow-sm" style="max-width: 18rem;">
        <div class="card-header border-bottom border-1 border-light d-flex justify-content-between align-items-center shadow-sm">
          Current
          {% if post.percentage_special_privacy == False and post.percentage_special_finance %}
          <p class="text-end mb-0">
            {{ post.percentage_special_finance }} %
          </p>
          {% else %}
          {% endif %}
        </div>
        <div class="card-body shadow-sm">
          <h5 class="card-title pt-1">FINANCIAL</h5>
          <p class="card-text pt-2 pb-1">
            {{ post.special_finance }}
          </p>
        </div>
      </div>
      {% else %}
      {% endif %}
      {% if post.specialty_privacy_two == False and post.special_finance_two %}
      <div class="card border-success mb-3 border border-1 border-secondary shadow-sm" style="max-width: 18rem;">
        <div class="card-header border-bottom border-1 border-success text-success d-flex justify-content-between align-items-center shadow-sm">
          Future
          {% if post.percentage_special_privacy == False and post.percentage_special_finance_two %}
          <p class="text-end mb-0">
            {{ post.percentage_special_finance_two }} %
          </p>
          {% else %}
          {% endif %}
        </div>
        <div class="card-body shadow-sm">
          <h5 class="card-title pt-1">FINANCIAL</h5>
          <p class="card-text pt-2 pb-1">
            {{ post.special_finance_two }}
          </p>
        </div>
      </div>
      <hr>
      {% else %}
      {% endif %}
      {% if post.specialty_privacy == False and post.special_marketing %}
      <div class="card text-dark bg-warning mb-3 shadow-sm" style="max-width: 18rem;">
        <div class="card-header border-bottom border-1 border-dark d-flex justify-content-between align-items-center shadow-sm">
          Current
          {% if post.percentage_special_privacy == False and post.percentage_special_marketing %}
          <p class="text-end mb-0">
            {{ post.percentage_special_marketing }} %
          </p>
          {% else %}
          {% endif %}
        </div>
        <div class="card-body shadow-sm">
          <h5 class="card-title pt-1">MARKETING</h5>
          <p class="card-text pt-2 pb-1">
            {{ post.special_marketing }}
          </p>
        </div>
      </div>
      {% else %}
      {% endif %}
      {% if post.specialty_privacy_two == False and post.special_marketing_two %}
      <div class="card border-warning mb-3 border border-1 border-warning shadow-sm" style="max-width: 18rem;">
        <div class="card-header border-bottom border-1 border-warning d-flex justify-content-between align-items-center text-warning shadow-sm">
          Future
          {% if post.percentage_special_privacy == False and post.percentage_special_marketing_two %}
          <p class="text-end mb-0">
            {{ post.percentage_special_marketing_two }} %
          </p>
          {% else %}
          {% endif %}
        </div>
        <div class="card-body shadow-sm">
          <h5 class="card-title pt-1">MARKETING</h5>
          <p class="card-text pt-2 pb-1">
            {{ post.special_marketing_two }}
          </p>
        </div>
      </div>
      <hr>
      {% else %}
      {% endif %}
      {% if post.specialty_privacy == False and post.special_research %}
      <div class="card text-white bg-danger mb-3 shadow-sm" style="max-width: 18rem;">
        <div class="card-header border-bottom border-1 border-light d-flex justify-content-between align-items-center shadow-sm">
          Current
          {% if post.percentage_special_privacy == False and post.percentage_special_research %}
          <p class="text-end mb-0">
            {{ post.percentage_special_research }} %
          </p>
          {% else %}
          {% endif %}
        </div>
        <div class="card-body shadow-sm">
          <h5 class="card-title pt-1">R&D</h5>
          <p class="card-text pt-2 pb-1">
            {{ post.special_research }}
          </p>
        </div>
      </div>
      {% else %}
      {% endif %}
      {% if post.specialty_privacy_two == False and post.special_research_two %}
      <div class="card border-danger mb-3 border border-1 border-secondary shadow-sm" style="max-width: 18rem;">
        <div class="card-header border-bottom border-1 border-danger d-flex justify-content-between align-items-center text-danger shadow-sm">
          Future
          {% if post.percentage_special_privacy == False and post.percentage_special_research_two %}
          <p class="text-end mb-0">
            {{ post.percentage_special_research_two }} %
          </p>
          {% else %}
          {% endif %}
        </div>
        <div class="card-body shadow-sm">
          <h5 class="card-title pt-1">R&D</h5>
          <p class="card-text pt-2 pb-1">
            {{ post.special_research_two }}
          </p>
        </div>
      </div>
      <hr>
      {% else %}
      {% endif %}
      {% if post.specialty_privacy == False and post.special_sustainability %}
      <div class="card text-dark bg-light mb-3 border border-1 border-secondary shadow-sm" style="max-width: 18rem;">
        <div class="card-header border-bottom border-1 border-secondary d-flex justify-content-between align-items-center bg-light text-secondary shadow-sm">
          Current
          {% if post.percentage_special_privacy == False and post.percentage_special_sustainability %}
          <p class="text-end mb-0">
            {{ post.percentage_special_sustainability }} %
          </p>
          {% else %}
          {% endif %}
        </div>
        <div class="card-body shadow-sm">
          <h5 class="card-title pt-1">SUSTAINABILITY</h5>
          <p class="card-text pt-2 pb-1">
            {{ post.special_sustainability }}
          </p>
        </div>
      </div>
      {% else %}
      {% endif %}
      {% if post.specialty_privacy_two == False and post.special_sustainability_two %}
      <div class="card mb-3 border border-1 border-secondary shadow-sm" style="max-width: 18rem;">
        <div class="card-header border-bottom border-1 border-secondary d-flex justify-content-between align-items-center text-secondary shadow-sm">
          Future
          {% if post.percentage_special_privacy == False and post.percentage_special_sustainability_two %}
          <p class="text-end mb-0">
            {{ post.percentage_special_sustainability_two }} %
          </p>
          {% else %}
          {% endif %}
        </div>
        <div class="card-body shadow-sm">
          <h5 class="card-title pt-1">SUSTAINABILITY</h5>
          <p class="card-text pt-2 pb-1">
            {{ post.special_sustainability_two }}
          </p>
        </div>
      </div>
      {% else %}
      {% endif %}     
    </div>
  </div>
</section>
{% else %}
{% endif %}

{% else %}
{% endif %}

<!-- BREADCRUMB + OFFCANVAS -->
<div class="container-fluid bg-secondary fixed-top shadow-sm p-0" id="post-breadcrumb">
  <div class="row">
    <nav aria-label="breadcrumb" class="col-10">
      <ol class="breadcrumb m-0 p-0">
        <li class="breadcrumb-item d-flex align-items-center">
          <a href="{% url 'public_post_details_1_landing' post.slug %}" class="text-info text-smaller ms-2 ms-md-3">Home</a>
        </li>
        <li class="breadcrumb-item d-flex align-items-center">
          <a href="#" class="text-smaller text-light text-decoration-none pt-1">About</a>
        </li>
      </ol>
    </nav>
    <div class="col-2 d-flex align-items-center justify-content-end align-items-stretch pe-0" id="breadcrumb-bttn-padding">
      <a class="">
        <button type="button" class="btn p-0 m-0" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
          <i class="fa-solid fa-angles-down text-info p-1 breadcrumb-bttn-padding shadow-sm btn-white-lit" style="font-size: 17px; padding-top: 15px;"></i> <!-- Add your desired icon class here -->
        </button>
      </a>
      <a href="{% url 'public_posts_list' %}" class="pe-1">
        <button type="button" class="btn p-0 m-0 ms-2 me-3 me-md-4" aria-label="Close">
          <i class="fa-solid fa-xmark text-info p-1 breadcrumb-bttn-padding shadow-sm btn-white-lit" style="font-size: 18px;"></i> <!-- Add your desired icon class here -->
        </button>
      </a>
    </div>
  </div>
</div>
<div class="offcanvas offcanvas-end ms-5 bg-light" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="text-end">
    <button type="button" class="btn-close text-reset m-2" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="mt-1 ms-2 ps-1 mb-4">
    <h4 id="offcanvasRightLabel" class="mt-4 pt-2 text-center">
      {{ post.post_type }} Post
    </h4>
  </div>
  <hr>
  <div class="ms-2 mt-4 ps-1">
    <h6>{{ post.title }}</h6>
    <h6 class="text-muted mt-4">{{ post.post_location_city }}</h6>
    <h6 class="text-muted">{{ post.industry }}</h6>
    <h6 class="text-muted">{{ post.author }}</h6>
    <h6 class="text-muted mt-5">Sections:</h6>
  </div>
  <div class="list-group offcanvas-body mt-2">
    <div class="ms-2 me-2 text-dark border border-1 border-dark mb-5">
      <a href="{% url 'public_post_details_1_landing' post.slug %}" class="text-decoration-none p-0  list-group-item list-group-item-action list-group-item-info p-1 m-0 ps-2">
        <p class="mb-1">1. WELCOME</p>
      </a>
      <a href="{% url 'public_post_details_2_opps' post.slug %}" class="text-decoration-none list-group-item list-group-item-action list-group-item-info p-1 m-0 ps-2">
        <p class="mb-1">2. DETAILS</p>
      </a>
      <a href="{% url 'public_post_details_3_about_us' post.slug %}" class="text-decoration-none list-group-item list-group-item-action list-group-item-info p-1 m-0 ps-2 active bg-dark disabled">
        <p class="mb-1">3. ABOUT US</p>
      </a>
      <a href="{% url 'public_post_details_4_body' post.slug %}" class="text-decoration-none list-group-item list-group-item-action list-group-item-info p-1 m-0 ps-2">
        <p class="mb-1">4. ARTICLES</p>
      </a>
      <a href="{% url 'public_post_details_5_files' post.slug %}" class="text-decoration-none list-group-item list-group-item-action list-group-item-info p-1 m-0 ps-2">
        <p class="mb-1">5. DOCUMENTS</p>
      </a>
      <a href="{% url 'public_post_details_6_proposal' post.slug %}" class="text-decoration-none list-group-item list-group-item-action list-group-item-info p-1 m-0 ps-2 ">
        <p class="mb-1">6. PROPOSAL</p>
      </a>
    </div>
  </div>
</div>
<!-- NEXT PAGE -->
<section class="bg-secondary-lighter pb-2 pt-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 d-flex justify-content-center"> <!-- Added "col-12" class for full width and "justify-content-center" class for center alignment -->
        <nav aria-label="Page navigation example shadow-sm">
          <ul class="pagination text-center rounded">
            <li class="page-item">
              <a class="page-link bg-dark text-warning" href="{% url 'public_post_details_2_opps' post.slug %}" aria-label="Previous">
                <span aria-hidden="true">
                  &laquo;
                  <span class="d-none d-sm-inline-block ms-1">Last</span>
                </span>
              </a>
            </li>
            <li class="page-item"><a class="page-link bg-warning text-dark" href="{% url 'public_post_details_1_landing' post.slug %}">1</a></li>
            <li class="page-item"><a class="page-link bg-warning text-dark" href="{% url 'public_post_details_2_opps' post.slug %}">2</a></li>
            <li class="page-item disabled"><a class="page-link bg-secondary text-warning" href="{% url 'public_post_details_3_about_us' post.slug %}">3</a></li>
            <li class="page-item"><a class="page-link bg-warning text-dark" href="{% url 'public_post_details_4_body' post.slug %}">4</a></li>
            <li class="page-item"><a class="page-link bg-warning text-dark" href="{% url 'public_post_details_5_files' post.slug %}">5</a></li>
            <li class="page-item"><a class="page-link bg-warning text-dark" href="{% url 'public_post_details_6_proposal' post.slug %}">6</a></li>
            <li class="page-item">
              <a class="page-link bg-dark text-warning" href="{% url 'public_post_details_4_body' post.slug %}" aria-label="Next">
                <span aria-hidden="true">
                  <span class="d-none d-sm-inline-block me-1">Next</span>
                  &raquo;
                </span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="d-flex justify-content-center mt-4 mb-5">
        <div class="text-center">
          <a class="btn btn-dark text-warning rounded-pill shadow-sm p-0 ps-2 pe-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
            Read more
          </a>
        </div>   
      </div>
    </div>
  </div>
</section>
{% endblock posts_base_content %}
