{% extends "base.html" %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}

{% if page_obj.has_previous == False %}
<section class="py-5 pt-0 mt-0 pb-5 text-center container">
  <div class="row py-lg-4">
    <div class="col-lg-10 col-md-10 col-xxl-8 mx-auto mb-2">
      <h1 class="fw-light mt-4 pt-2 pb-3 mb-2 mb-md-4 mb-lg-5">Public Selection</h1>
      <p class="lead text-muted mt-4 mb-4 mb-md-5">
        Explore our captivating assortment of unique offerings from companies, organizations, projects, products, and services. This approved collection presents a diverse range of options and invites you to unlock the gateway to infinite universe of business opportunities.
      </p>
      <div class="mt-4 pt-4 pb-2">
        <a href="{% url 'user_posts_list' %}" class="btn btn-dark text-warning my-2 mx-1 shadow-sm rounded-pill">VIEW PRIVATE</a>
        <a href="{% url 'user_post_create' %}" class="btn btn-dark text-warning my-2 mx-1 shadow-sm rounded-pill ms-md-3">CREATE NEW</a>
      </div>
    </div>
  </div>
</section>
{% endif %}
{% if page_obj.has_previous %}
<section class=" pt-4 mt-0 pb-3 text-center container bg-info-subtle">
  <div class="row">
    <div class="col-lg-10 col-md-10 col-xxl-8 mx-auto mt-sm-0">
      <h2 class="fw-light mt-1">Public Selection</h2>
    </div>
    <div class="col-lg-6 col-md-8 mx-auto mt-1">
      <p>Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</p>
    </div>
  </div>
</section>
{% endif %}
<hr class="p-0 m-0">
  <div class="album py-5 bg-secondary-transparent">
    <div class="container-fluid ps-4 pe-4 pt-4 pb-5">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4">
        {% for post in post_list %}
        {% if post.public_privacy == False %}
        <div class="col">
          {% if post.post_colors_list == False %}
          <div class="card shadow-sm bg-light">
          {% else %}
          <div class="card shadow-sm" style="background-color: {{ post.post_color_primary }}; color: {{ post.post_color_text }};">
          {% endif %}
            <div class="image-container border border-1 border-secondary rounded-top bg-light">
              {% if post.post_list_image %}
              <a href="{% url 'public_post_details_1_landing' post.slug %}">
                <img src="{{ post.post_list_image.url }}" alt="Post Image" class="bd-placeholder-img card-img-top" width="100%" height="225">
              </a>
              <a class="target-element d-none">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              </a>
              {% else %}
              <img src="{% static 'images/21104.png' %}" alt="Post Placeholder" class="bd-placeholder-img card-img-top image" width="100%" height="225">
              {% if post.author == request.user %}
              <div class="overlay-posts">
                <a href="{% url 'public_post_details_1_landing' post.slug %}">
                  <button type="button" class="btn btn-sm btn-outline-secondary overlay-posts-bttn">View</button>
                </a>
                <a href="{% url 'post_edit' post_id=post.id %}">
                  <button type="button" class="btn btn-sm btn-outline-secondary overlay-posts-bttn">Edit</button>
                </a>
                <a href="{% url 'post_delete' post_id=post.id %}">
                  <button type="button" class="btn btn-sm btn-outline-secondary overlay-posts-bttn my-1">Delete</button>
                </a>
              </div>
              {% else %}
              <div class="overlay-posts">
                <a href="{% url 'public_post_details_1_landing' post.slug %}">
                  <button type="button" class="btn btn-sm btn-outline-secondary overlay-posts-bttn">View</button>
                </a>
              </div>
              {% endif %} 
              {% endif %} 
              {% if post.post_verification == True %}
              <i class="fa-solid fa-shield-halved text-info top-right-icon me-2 mt-2"></i>
              {% else %}
              <i class="fa-solid fa-triangle-exclamation text-danger fa-beat-fade top-right-icon me-2 mt-2"></i>
              {% endif %} 
            </div>
            <div class="card-body">
              <h5 class="card-title">
                <a href="{% url 'public_post_details_1_landing' post.slug %}" class="post-link">
                  {% if post.post_colors_list == False %}
                  <h3 class="card-title mb-2">
                    {{ post.title }}
                  </h3>
                  {% else %}
                  <h3 class="card-title mb-2" style="color: {{ post.post_color_text }};">
                    {{ post.title }}
                  </h3>
                  {% endif %}
                </a>
              </h5>
              {% if post.post_colors_list == False %}
                <h6 class="card-subtitle mb-3 text-muted">
                  <strong>Author:</strong> {{ post.author }}
                </h6>
              {% else %}
                <h6 class="card-subtitle mb-3" style="color: {{ post.post_color_text }};">
                  <strong>Author:</strong> {{ post.author }}
                </h6>
              {% endif %}
              <p class="card-text">
                {{post.post_list_description}}
              </p>
              <ul class="list-group list-group-flush border border-1 border-secondary">
              {% if post.post_colors_list == False %}
                <li class="list-group-item pt-1 pb-0">
                  <p class="card-text">
                    <strong>Post type:</strong> {{ post.post_type }}
                  </p>
                </li>
                <li class="list-group-item pt-0 pb-0">
                  <p class="card-text">
                    <strong>Industry:</strong> {{ post.industry }}
                  </p>
                </li>
                {% if post.organization %}
                <li class="list-group-item pt-0 pb-0">
                  <p class="card-text">
                    <strong>Organization:</strong> {{ post.organization }}
                  </p>
                </li>
                {% endif %}
                {% if post.project_owner %}
                <li class="list-group-item pt-0 pb-0">
                  <p class="card-text">
                    <strong>Owner:</strong> {{ post.project_owner }}
                  </p>
                </li>
                {% endif %}
                <li class="list-group-item pt-0 pb-0">
                  <p class="card-text">
                    <strong>Location:</strong> {{ post.post_location_city }}, {{ post.post_location_country }}
                  </p>
                </li>
                {% if post.launch_date %}
                <li class="list-group-item pt-0 pb-1">
                  <p class="card-text">
                    <strong>Launch Date:</strong> {{ post.launch_date }}
                  </p>
                </li>
              {% endif %}
              {% else %}
                <li class="list-group-item pt-1 pb-0" style="background-color: {{ post.post_color_secondary }};">
                  <p class="card-text">
                    <strong>Post type:</strong> {{ post.post_type }}
                  </p>
                </li>
                <li class="list-group-item pt-0 pb-0" style="background-color: {{ post.post_color_secondary }};">
                  <p class="card-text">
                    <strong>Industry:</strong> {{ post.industry }}
                  </p>
                </li>
                {% if post.organization %}
                <li class="list-group-item pt-0 pb-0" style="background-color: {{ post.post_color_secondary }};">
                  <p class="card-text">
                    <strong>Organization:</strong> {{ post.organization }}
                  </p>
                </li>
                {% endif %}
                {% if post.project_owner %}
                <li class="list-group-item pt-0 pb-0" style="background-color: {{ post.post_color_secondary }};">
                  <p class="card-text">
                    <strong>Owner:</strong> {{ post.project_owner }}
                  </p>
                </li>
                {% endif %}
                <li class="list-group-item pt-0 pb-0" style="background-color: {{ post.post_color_secondary }};">
                  <p class="card-text">
                    <strong>Location:</strong> {{ post.post_location_city }}, {{ post.post_location_country }}
                  </p>
                </li>
                {% if post.launch_date %}
                <li class="list-group-item pt-0 pb-1" style="background-color: {{ post.post_color_secondary }};">
                  <p class="card-text">
                    <strong>Launch Date:</strong> {{ post.launch_date }}
                  </p>
                </li>
              {% endif %}
              {% endif %}
              </ul>
              {% if post.post_colors_list == False %}
              <div class="card-footer border border-1 border-secondary">
              {% else %}
              <div class="card-footer border border-1 border-secondary" style="background-color: {{ post.post_color_secondary }};">
              {% endif %}
                <p class="card-text text-muted h6 text-dark">
                  <span>
                    <i class="fa-solid fa-heart"></i> {{ post.number_of_votes }}
                    <i class="fa-solid fa-eye ms-2"></i> {{ post.views }}
                  </span>
                </p>
                <p class="card-text text-muted h6 text-dark">
                  <span>
                    {{ post.created_on }}
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    {% if is_paginated %}
      <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
              {% if page_obj.has_previous %}
              <li class="me-2">
                  <a href="?page={{ page_obj.previous_page_number }}" class="page-link mb-2 mb-sm-4 mt-3 shadow-sm rounded-pill text-light bg-dark border-1 border-info">
                      &laquo; BACK
                  </a>
              </li>
              {% endif %}
              {% if page_obj.has_next %}
              <li class="ms-2">
                  <a href="?page={{ page_obj.next_page_number }}" class="page-link mb-2 mb-sm-4 mt-3 shadow-sm rounded-pill text-light bg-dark border-1 border-info">
                      NEXT &raquo;
                  </a>
              </li>
              {% endif %}
          </ul>
      </nav>
        {% endif %}
  </div>

{% else %}
<div class="container public-privacy-message">
  <h1 class="text-center">This page is not open for public.</h1>
</div>  
{% endif %} 

{%endblock%}