{% extends 'posts/public/public_post_details_0_base.html' %}

{% block posts_base_content %}

{% load crispy_forms_tags %}

{% load static %}

<!-- POST LIBRARY -->
{% if post.post_bridge_privacy_library == False %}
<hr class="bg-secondary-lighter p-0 m-0">
<section class="bg-secondary-lighter pt-4 pb-4">
  <h3 class="text-center mt-5 mb-5">
    {{ post.post_type }} Documentation
  </h3>
  <hr>
  <div class="container">
    <div class="row-fluid pb-2">
      <h5 class="text-center mt-5 mb-4 pb-3">Library</h5>
      <ul class="list-group border border-1 border-secondary mb-4 shadow-sm">
        {% if post.organizational_structure %}
        <li class="list-group-item list-group-item-info text-secondary">
          Organizational Structure
          <div class="text-end position-absolute top-0 end-0 pt-1 mt-1 pe-2">
            <a href="{{ post.organizational_structure.url }}" target="_blank" class="hvr-sweep-to-bottom">
                <i class="fa-solid fa-sitemap text-secondary me-2 pb-1 border-bottom border-2 border-secondary"></i>
            </a>
        </div>
        </li>
        {% else %}
        {% endif %}
        {% if post.flowchart %}
        <li class="list-group-item list-group-item-info text-secondary">
          Flowchart
          <div class="text-end position-absolute top-0 end-0 pt-2 pe-2">
            <a href="{{ post.flowchart.url }}" target="_blank" class="hvr-sweep-to-bottom">
                <i class="fa-solid fa-share-nodes me-2 text-secondary pb-1 border-bottom border-2 border-secondary"></i>
            </a>
        </div>
        </li>
        {% else %}
        {% endif %}
        {% if post.agenda %}
        <li class="list-group-item list-group-item-info text-secondary">
          Agenda
          <div class="text-end position-absolute top-0 end-0 pt-2 pe-2">
            <a href="{{ post.agenda.url }}" target="_blank" class="hvr-sweep-to-bottom">
                <i class="fa-solid fa-timeline text-secondary me-2 pb-1 border-bottom border-2 border-secondary"></i>
            </a>
        </div>
        </li>
        {% else %}
        {% endif %}
        {% if post.tasklist %}
        <li class="list-group-item list-group-item-info text-secondary">
          Tasklist
          <div class="text-end position-absolute top-0 end-0 pt-2 pe-2">
            <a href="{{ post.tasklist.url }}" target="_blank" class="hvr-sweep-to-bottom">
                <i class="fa-solid fa-rectangle-list me-2 text-secondary pb-1 border-bottom border-2 border-secondary"></i>
            </a>
        </div>
        </li>
        {% else %}
        {% endif %}
        {% if post.schedule %}
        <li class="list-group-item list-group-item-info text-secondary">
          Schedule
          <div class="text-end position-absolute top-0 end-0 pt-2 pe-2">
            <a href="{{ post.schedule.url }}" target="_blank" class="hvr-sweep-to-bottom">
                <i class="fa-solid fa-calendar-days me-2 text-secondary pb-1 border-bottom border-2 border-secondary"></i>
            </a>
        </div>
        </li>
        {% else %}
        {% endif %}
        {% if post.financial_reports %}
        <li class="list-group-item list-group-item-info text-secondary">
          Financial Reports
          <div class="text-end position-absolute top-0 end-0 pt-2 pe-2">
            <a href="{{ post.financial_reports.url }}" target="_blank" class="hvr-sweep-to-bottom">
                <i class="fa-solid fa-file-invoice-dollar me-2 text-secondary pb-1 border-bottom border-2 border-secondary"></i>
            </a>
        </div>
        </li>
        {% else %}
        {% endif %}
        {% if post.supply_chain_map %}
        <li class="list-group-item list-group-item-info text-secondary">
          Supply Chain
          <div class="text-end position-absolute top-0 end-0 pt-2 pe-2">
            <a href="{{ post.supply_chain_map.url }}" target="_blank" class="hvr-sweep-to-bottom">
                <i class="fa-solid fa-truck-fast me-2 text-secondary pb-1 border-bottom border-2 border-secondary"></i>
            </a>
        </div>
        </li>
        {% else %}
        {% endif %}
        {% if post.data_architecture_map %}
        <li class="list-group-item list-group-item-info text-secondary">
          Data Architecture
          <div class="text-end position-absolute top-0 end-0 pt-2 pe-2">
            <a href="{{ post.data_architecture_map.url }}" target="_blank" class="hvr-sweep-to-bottom">
                <i class="fa-solid fa-network-wired me-2 text-secondary pb-1 border-bottom border-2 border-secondary"></i>
            </a>
        </div>
        </li>
        {% else %}
        {% endif %}
        {% if post.standard_operational_procedures %}
        <li class="list-group-item list-group-item-info text-secondary">
          <span class="d-flex d-sm-none">
            S.O.P. (Procedures)
          </span> 
          <span class="d-none d-sm-flex">
            Standard Operational Procedures
          </span> 
          
          <div class="text-end position-absolute top-0 end-0 pt-2 pe-2">
            <a href="{{ post.standard_operational_procedures.url }}" target="_blank" class="hvr-sweep-to-bottom">
                <i class="fa-solid fa-book-open-reader me-2 text-secondary pb-1 border-bottom border-2 border-secondary"></i>
            </a>
        </div>
        </li>
        {% else %}
        {% endif %}
        {% if post.marketing_strategy_map %}
        <li class="list-group-item list-group-item-info text-secondary">
          Marketing Strategy
          <div class="text-end position-absolute top-0 end-0 pt-2 pe-2">
            <a href="{{ post.marketing_strategy_map.url }}" target="_blank" class="hvr-sweep-to-bottom">
                <i class="fa-solid fa-person-rays me-2 text-secondary pb-1 border-bottom border-2 border-secondary"></i>
            </a>
        </div>
        </li>
        {% else %}
        {% endif %}
        {% if post.hr_handbook %}
        <li class="list-group-item list-group-item-info text-secondary">
          HR Handbook
          <div class="text-end position-absolute top-0 end-0 pt-2 pe-2">
            <a href="{{ post.hr_handbook.url }}" target="_blank" class="hvr-sweep-to-bottom">
                <i class="fa-solid fa-address-book me-2 text-secondary pb-1 border-bottom border-2 border-secondary"></i>
            </a>
        </div>
        </li>
        {% else %}
        {% endif %}
        {% if post.sustainability_report %}
        <li class="list-group-item list-group-item-info text-secondary">
          Sustainability Report
          <div class="text-end position-absolute top-0 end-0 pt-2 pe-2">
            <a href="{{ post.sustainability_report.url }}" target="_blank" class="hvr-sweep-to-bottom">
                <i class="fa-solid fa-leaf me-2 text-secondary pb-1 border-bottom border-2 border-secondary"></i>
            </a>
        </div>
        </li>
        {% else %}
        {% endif %}
        {% if post.research_and_development_agenda %}
        <li class="list-group-item list-group-item-info text-secondary">
          R&D Agenda
          <div class="text-end position-absolute top-0 end-0 pt-2 pe-2">
            <a href="{{ post.research_and_development_agenda.url }}" target="_blank" class="hvr-sweep-to-bottom">
                <i class="fa-solid fa-microscope me-2 text-secondary pb-1 border-bottom border-2 border-secondary"></i>
            </a>
        </div>
        </li>
        {% else %}
        {% endif %}
        {% if post.promotional_materials %}
        <li class="list-group-item list-group-item-info text-secondary">
          Promotional Materials
          <div class="text-end position-absolute top-0 end-0 pt-2 pe-2">
            <a href="{{ post.promotional_materials.url }}" target="_blank" class="hvr-sweep-to-bottom">
                <i class="fa-solid fa-tag me-2 text-secondary pb-1 border-bottom border-2 border-secondary"></i>
            </a>
        </div>
        </li>
        {% else %}
        {% endif %}
        {% if post.certification %}
        <li class="list-group-item list-group-item-info text-secondary">
          Certification
          <div class="text-end position-absolute top-0 end-0 pt-2 pe-2">
            <a href="{{ post.certification.url }}" target="_blank" class="hvr-sweep-to-bottom">
                <i class="fa-solid fa-certificate me-2 text-secondary pb-1 border-bottom border-2 border-secondary"></i>
            </a>
        </div>
        </li>
        {% else %}
        {% endif %}
        {% if post.articles %}
        <li class="list-group-item list-group-item-info text-secondary">
          Articles
          <div class="text-end position-absolute top-0 end-0 pt-2 pe-2">
            <a href="{{ post.articles.url }}" target="_blank" class="hvr-sweep-to-bottom">
                <i class="fa-solid fa-newspaper me-2 text-secondary pb-1 border-bottom border-2 border-secondary"></i>
            </a>
        </div>
        </li>
        {% else %}
        {% endif %}
      </ul>
    </div>
  </div>
</section>
{% else %}
{% endif %}

<!-- POST CABINET -->
{% if post.post_bridge_privacy_cabinet == False %}
<hr class="bg-secondary-lighter p-0 m-0">
<section class="bg-secondary-lighter pt-2">
  <div class="container">
    <div class="row-fluid pb-2">
      <h5 class="text-center mt-5 mb-4 pb-3">Cabinet</h5>
      <ul class="list-group border border-1 border-secondary mb-4 shadow-sm">
        {% if post.business_plan %}
        <li class="list-group-item list-group-item-info text-secondary">
          Business Plan
          <div class="text-end position-absolute top-0 end-0 pt-1 mt-1 pe-2">
            <a href="{{ post.business_plan.url }}" target="_blank" class="hvr-sweep-to-bottom">
                <i class="fa-solid fa-book-atlas text-secondary me-2 pb-1 border-bottom border-2 border-secondary"></i>
            </a>
        </div>
        </li>
        {% else %}
        {% endif %}
        {% if post.implementation_plan %}
        <li class="list-group-item list-group-item-info text-secondary">
          Implementation Plan
          <div class="text-end position-absolute top-0 end-0 pt-2 pe-2">
            <a href="{{ post.implementation_plan.url }}" target="_blank" class="hvr-sweep-to-bottom">
                <i class="fa-solid fa-book me-2 text-secondary pb-1 border-bottom border-2 border-secondary"></i>
            </a>
        </div>
        </li>
        {% else %}
        {% endif %}
        {% if post.pestle_report %}
        <li class="list-group-item list-group-item-info text-secondary">
          PESTLE Report
          <div class="text-end position-absolute top-0 end-0 pt-2 pe-2">
            <a href="{{ post.pestle_report.url }}" target="_blank" class="hvr-sweep-to-bottom">
                <i class="fa-solid fa-earth-americas text-secondary me-2 pb-1 border-bottom border-2 border-secondary"></i>
            </a>
        </div>
        </li>
        {% else %}
        {% endif %}
        {% if post.internal_report %}
        <li class="list-group-item list-group-item-info text-secondary">
          Internal Report
          <div class="text-end position-absolute top-0 end-0 pt-2 pe-2">
            <a href="{{ post.internal_report.url }}" target="_blank" class="hvr-sweep-to-bottom">
                <i class="fa-solid fa-person-shelter me-2 text-secondary pb-1 border-bottom border-2 border-secondary"></i>
            </a>
        </div>
        </li>
        {% else %}
        {% endif %}
        {% if post.capabilities %}
        <li class="list-group-item list-group-item-info text-secondary">
          Capabilities
          <div class="text-end position-absolute top-0 end-0 pt-2 pe-2">
            <a href="{{ post.capabilities.url }}" target="_blank" class="hvr-sweep-to-bottom">
                <i class="fa-solid fa-users-gear me-2 text-secondary pb-1 border-bottom border-2 border-secondary"></i>
            </a>
        </div>
        </li>
        {% else %}
        {% endif %}
        {% if post.business_model_canvas %}
        <li class="list-group-item list-group-item-info text-secondary">
          Business Model Canvas
          <div class="text-end position-absolute top-0 end-0 pt-2 pe-2">
            <a href="{{ post.business_model_canvas.url }}" target="_blank" class="hvr-sweep-to-bottom">
                <i class="fa-solid fa-cubes me-2 text-secondary pb-1 border-bottom border-2 border-secondary"></i>
            </a>
        </div>
        </li>
        {% else %}
        {% endif %}
        {% if post.contracts %}
        <li class="list-group-item list-group-item-info text-secondary">
          Contracts
          <div class="text-end position-absolute top-0 end-0 pt-2 pe-2">
            <a href="{{ post.contracts.url }}" target="_blank" class="hvr-sweep-to-bottom">
                <i class="fa-solid fa-file-signature me-2 text-secondary pb-1 border-bottom border-2 border-secondary"></i>
            </a>
        </div>
        </li>
        {% else %}
        {% endif %}
        {% if post.terms_conditions %}
        <li class="list-group-item list-group-item-info text-secondary">
          Terms & Conditions
          <div class="text-end position-absolute top-0 end-0 pt-2 pe-2">
            <a href="{{ post.terms_conditions.url }}" target="_blank" class="hvr-sweep-to-bottom">
                <i class="fa-solid fa-scale-balanced me-2 text-secondary pb-1 border-bottom border-2 border-secondary"></i>
            </a>
        </div>
        </li>
        {% else %}
        {% endif %}
      </ul>
    </div>
  </div>
</section>
{% else %}
{% endif %}

<!-- BREADCRUMB + OFFCANVAS -->
<div class="container-fluid bg-secondary fixed-top shadow-sm p-0" id="post-breadcrumb">
  <div class="row">
    <nav aria-label="breadcrumb" class="col-10">
      <ol class="breadcrumb m-0 p-0">
        <li class="breadcrumb-item d-flex align-items-center">
          <a href="{% url 'public_post_details_1_landing' post.slug %}" class="text-info text-smaller ms-2 ms-md-3">Home</a>
        </li>
        <li class="breadcrumb-item d-flex align-items-center">
          <a href="#" class="text-smaller text-light text-decoration-none pt-1">Documents</a>
        </li>
      </ol>
    </nav>
    <div class="col-2 d-flex align-items-center justify-content-end align-items-stretch pe-0" id="breadcrumb-bttn-padding">
      <a class="">
        <button type="button" class="btn p-0 m-0" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
          <i class="fa-solid fa-angles-down text-info p-1 breadcrumb-bttn-padding shadow-sm btn-white-lit" style="font-size: 17px; padding-top: 15px;"></i> <!-- Add your desired icon class here -->
        </button>
      </a>
      <a href="{% url 'public_posts_list' %}" class="pe-1">
        <button type="button" class="btn p-0 m-0 ms-2 me-3 me-md-4" aria-label="Close">
          <i class="fa-solid fa-xmark text-info p-1 breadcrumb-bttn-padding shadow-sm btn-white-lit" style="font-size: 18px;"></i> <!-- Add your desired icon class here -->
        </button>
      </a>
    </div>
  </div>
</div>
<div class="offcanvas offcanvas-end ms-5 bg-light" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="text-end">
    <button type="button" class="btn-close text-reset m-2" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="mt-1 ms-2 ps-1 mb-4">
    <h4 id="offcanvasRightLabel" class="mt-4 pt-2 text-center">
      {{ post.post_type }} Post
    </h4>
  </div>
  <hr>
  <div class="ms-2 mt-4 ps-1">
    <h6>{{ post.title }}</h6>
    <h6 class="text-muted mt-4">{{ post.post_location_city }}</h6>
    <h6 class="text-muted">{{ post.industry }}</h6>
    <h6 class="text-muted">{{ post.author }}</h6>
    <h6 class="text-muted mt-5">Sections:</h6>
  </div>
  <div class="list-group offcanvas-body mt-2">
    <div class="ms-2 me-2 text-dark border border-1 border-dark mb-5">
      <a href="{% url 'public_post_details_1_landing' post.slug %}" class="text-decoration-none p-0  list-group-item list-group-item-action list-group-item-info p-1 m-0 ps-2">
        <p class="mb-1">1. WELCOME</p>
      </a>
      <a href="{% url 'public_post_details_2_opps' post.slug %}" class="text-decoration-none list-group-item list-group-item-action list-group-item-info p-1 m-0 ps-2">
        <p class="mb-1">2. DETAILS</p>
      </a>
      <a href="{% url 'public_post_details_3_about_us' post.slug %}" class="text-decoration-none list-group-item list-group-item-action list-group-item-info p-1 m-0 ps-2">
        <p class="mb-1">3. ABOUT US</p>
      </a>
      <a href="{% url 'public_post_details_4_body' post.slug %}" class="text-decoration-none list-group-item list-group-item-action list-group-item-info p-1 m-0 ps-2">
        <p class="mb-1">4. ARTICLES</p>
      </a>
      <a href="{% url 'public_post_details_5_files' post.slug %}" class="text-decoration-none list-group-item list-group-item-action list-group-item-info p-1 m-0 ps-2 active bg-dark disabled">
        <p class="mb-1">5. DOCUMENTS</p>
      </a>
      <a href="{% url 'public_post_details_6_proposal' post.slug %}" class="text-decoration-none list-group-item list-group-item-action list-group-item-info p-1 m-0 ps-2 ">
        <p class="mb-1">6. PROPOSAL</p>
      </a>
    </div>
  </div>
</div>
<!-- NEXT PAGE -->
<section class="bg-secondary-lighter pb-2 pt-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 d-flex justify-content-center"> <!-- Added "col-12" class for full width and "justify-content-center" class for center alignment -->
        <nav aria-label="Page navigation example shadow-sm">
          <ul class="pagination text-center rounded">
            <li class="page-item">
              <a class="page-link bg-dark text-warning" href="{% url 'public_post_details_4_body' post.slug %}" aria-label="Previous">
                <span aria-hidden="true">
                  &laquo;
                  <span class="d-none d-sm-inline-block ms-1">Last</span>
                </span>
              </a>
            </li>
            <li class="page-item"><a class="page-link bg-warning text-dark" href="{% url 'public_post_details_1_landing' post.slug %}">1</a></li>
            <li class="page-item"><a class="page-link bg-warning text-dark" href="{% url 'public_post_details_2_opps' post.slug %}">2</a></li>
            <li class="page-item"><a class="page-link bg-warning text-dark" href="{% url 'public_post_details_3_about_us' post.slug %}">3</a></li>
            <li class="page-item"><a class="page-link bg-warning text-dark" href="{% url 'public_post_details_4_body' post.slug %}">4</a></li>
            <li class="page-item disabled"><a class="page-link bg-secondary text-warning" href="{% url 'public_post_details_5_files' post.slug %}">5</a></li>
            <li class="page-item"><a class="page-link bg-warning text-dark" href="{% url 'public_post_details_6_proposal' post.slug %}">6</a></li>
            <li class="page-item">
              <a class="page-link bg-dark text-warning" href="{% url 'public_post_details_6_proposal' post.slug %}" aria-label="Next">
                <span aria-hidden="true">
                  <span class="d-none d-sm-inline-block me-1">Next</span>
                  &raquo;
                </span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="d-flex justify-content-center mt-4 mb-5">
        <div class="text-center">
          <a class="btn btn-dark text-warning rounded-pill shadow-sm p-0 ps-2 pe-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
            Read more
          </a>
        </div>   
      </div>
    </div>
  </div>
</section>

{% endblock posts_base_content %}