{% extends 'posts/public/public_post_details_0_base.html' %}

{% block posts_base_content %}

{% load crispy_forms_tags %}

{% load static %}

<!-- PAGE CUSTOM COLORING -->
{% if post.post_colors_list == False %}
<main>
{% else %}
<main style="background-color: {{ post.post_color_secondary }};">
{% endif %}

<!-- POST DOCUMENTATION TITLE -->
{% if post.post_colors_list == False %}
<h3 class="text-center pt-5 pb-5 mb-0 border-bottom border-1 border-dark bg-info-subtle text-dark">
{% else %}
<h3 class="text-center pt-5 pb-5 mb-0 border-bottom border-1 border-secondary" style="background-color: {{ post.post_color_primary }};  color: {{ post.post_color_text }};">
{% endif %}
  {{ post.post_type }} Documentation
</h3>

<!-- POST LIBRARY -->
{% if post.post_bridge_privacy_library == False %}
{% if post.organizational_structure or post.flowchart or post.agenda or post.tasklist or post.schedule or post.financial_reports or post.supply_chain_map or post.data_architecture_map or post.standard_operational_procedures or post.marketing_strategy_map or post.hr_handbook or post.sustainability_report or post.research_and_development_agenda or post.promotional_materials or post.certification or post.articles %}
<hr class="bg-secondary-lighter p-0 m-0">
<section class="bg-secondary-lighter pt-4 pb-4">
  <div class="container">
    <div class="row-fluid pb-2">
      <div class="col-lg-6 offset-lg-3">
        <h5 class="text-center mt-4 mb-5 mt-md-5">
          Library
          <i class="fa-solid fa-download ms-2 fa-sm"></i>
        </h5>
        <ul class="list-group border border-1 border-secondary mb-4 shadow-smk">
          {% if post.organizational_structure %}
          <li class="list-group-item list-group-item-info text-dark">
            Organizational Structure
            <div class="text-end position-absolute top-0 end-0 pt-1 mt-1 pe-2">
              <a href="{{ post.organizational_structure.url }}" target="_blank" class="hvr-sweep-to-bottom">
                  <i class="fa-solid fa-sitemap text-secondary me-2 pb-1 border-bottom border-2 border-secondary"></i>
              </a>
          </div>
          </li>
          {% else %}
          {% endif %}
          {% if post.flowchart %}
          <li class="list-group-item list-group-item-info text-dark">
            Flowchart
            <div class="text-end position-absolute top-0 end-0 pt-2 pe-2">
              <a href="{{ post.flowchart.url }}" target="_blank" class="hvr-sweep-to-bottom">
                  <i class="fa-solid fa-share-nodes me-2 text-secondary pb-1 border-bottom border-2 border-secondary"></i>
              </a>
          </div>
          </li>
          {% else %}
          {% endif %}
          {% if post.agenda %}
          <li class="list-group-item list-group-item-info text-dark">
            Agenda
            <div class="text-end position-absolute top-0 end-0 pt-2 pe-2">
              <a href="{{ post.agenda.url }}" target="_blank" class="hvr-sweep-to-bottom">
                  <i class="fa-solid fa-timeline text-secondary me-2 pb-1 border-bottom border-2 border-secondary"></i>
              </a>
          </div>
          </li>
          {% else %}
          {% endif %}
          {% if post.tasklist %}
          <li class="list-group-item list-group-item-info text-dark">
            Tasklist
            <div class="text-end position-absolute top-0 end-0 pt-2 pe-2">
              <a href="{{ post.tasklist.url }}" target="_blank" class="hvr-sweep-to-bottom">
                  <i class="fa-solid fa-rectangle-list me-2 text-secondary pb-1 border-bottom border-2 border-secondary"></i>
              </a>
          </div>
          </li>
          {% else %}
          {% endif %}
          {% if post.schedule %}
          <li class="list-group-item list-group-item-info text-dark">
            Schedule
            <div class="text-end position-absolute top-0 end-0 pt-2 pe-2">
              <a href="{{ post.schedule.url }}" target="_blank" class="hvr-sweep-to-bottom">
                  <i class="fa-solid fa-calendar-days me-2 text-secondary pb-1 border-bottom border-2 border-secondary"></i>
              </a>
          </div>
          </li>
          {% else %}
          {% endif %}
          {% if post.financial_reports %}
          <li class="list-group-item list-group-item-info text-dark">
            Financial Reports
            <div class="text-end position-absolute top-0 end-0 pt-2 pe-2">
              <a href="{{ post.financial_reports.url }}" target="_blank" class="hvr-sweep-to-bottom">
                  <i class="fa-solid fa-file-invoice-dollar me-2 text-secondary pb-1 border-bottom border-2 border-secondary"></i>
              </a>
          </div>
          </li>
          {% else %}
          {% endif %}
          {% if post.supply_chain_map %}
          <li class="list-group-item list-group-item-info text-dark">
            Supply Chain
            <div class="text-end position-absolute top-0 end-0 pt-2 pe-2">
              <a href="{{ post.supply_chain_map.url }}" target="_blank" class="hvr-sweep-to-bottom">
                  <i class="fa-solid fa-truck-fast me-2 text-secondary pb-1 border-bottom border-2 border-secondary"></i>
              </a>
          </div>
          </li>
          {% else %}
          {% endif %}
          {% if post.data_architecture_map %}
          <li class="list-group-item list-group-item-info text-dark">
            Data Architecture
            <div class="text-end position-absolute top-0 end-0 pt-2 pe-2">
              <a href="{{ post.data_architecture_map.url }}" target="_blank" class="hvr-sweep-to-bottom">
                  <i class="fa-solid fa-network-wired me-2 text-secondary pb-1 border-bottom border-2 border-secondary"></i>
              </a>
          </div>
          </li>
          {% else %}
          {% endif %}
          {% if post.standard_operational_procedures %}
          <li class="list-group-item list-group-item-info text-dark">
            <span class="d-flex d-sm-none">
              S.O.P. (Procedures)
            </span> 
            <span class="d-none d-sm-flex">
              Standard Operational Procedures
            </span> 
            
            <div class="text-end position-absolute top-0 end-0 pt-2 pe-2">
              <a href="{{ post.standard_operational_procedures.url }}" target="_blank" class="hvr-sweep-to-bottom">
                  <i class="fa-solid fa-book-open-reader me-2 text-secondary pb-1 border-bottom border-2 border-secondary"></i>
              </a>
          </div>
          </li>
          {% else %}
          {% endif %}
          {% if post.marketing_strategy_map %}
          <li class="list-group-item list-group-item-info text-dark">
            Marketing Strategy
            <div class="text-end position-absolute top-0 end-0 pt-2 pe-2">
              <a href="{{ post.marketing_strategy_map.url }}" target="_blank" class="hvr-sweep-to-bottom">
                  <i class="fa-solid fa-person-rays me-2 text-secondary pb-1 border-bottom border-2 border-secondary"></i>
              </a>
          </div>
          </li>
          {% else %}
          {% endif %}
          {% if post.hr_handbook %}
          <li class="list-group-item list-group-item-info text-dark">
            HR Handbook
            <div class="text-end position-absolute top-0 end-0 pt-2 pe-2">
              <a href="{{ post.hr_handbook.url }}" target="_blank" class="hvr-sweep-to-bottom">
                  <i class="fa-solid fa-address-book me-2 text-secondary pb-1 border-bottom border-2 border-secondary"></i>
              </a>
          </div>
          </li>
          {% else %}
          {% endif %}
          {% if post.sustainability_report %}
          <li class="list-group-item list-group-item-info text-dark">
            Sustainability Report
            <div class="text-end position-absolute top-0 end-0 pt-2 pe-2">
              <a href="{{ post.sustainability_report.url }}" target="_blank" class="hvr-sweep-to-bottom">
                  <i class="fa-solid fa-leaf me-2 text-secondary pb-1 border-bottom border-2 border-secondary"></i>
              </a>
          </div>
          </li>
          {% else %}
          {% endif %}
          {% if post.research_and_development_agenda %}
          <li class="list-group-item list-group-item-info text-dark">
            R&D Agenda
            <div class="text-end position-absolute top-0 end-0 pt-2 pe-2">
              <a href="{{ post.research_and_development_agenda.url }}" target="_blank" class="hvr-sweep-to-bottom">
                  <i class="fa-solid fa-microscope me-2 text-secondary pb-1 border-bottom border-2 border-secondary"></i>
              </a>
          </div>
          </li>
          {% else %}
          {% endif %}
          {% if post.promotional_materials %}
          <li class="list-group-item list-group-item-info text-dark">
            Promotional Materials
            <div class="text-end position-absolute top-0 end-0 pt-2 pe-2">
              <a href="{{ post.promotional_materials.url }}" target="_blank" class="hvr-sweep-to-bottom">
                  <i class="fa-solid fa-tag me-2 text-secondary pb-1 border-bottom border-2 border-secondary"></i>
              </a>
          </div>
          </li>
          {% else %}
          {% endif %}
          {% if post.certification %}
          <li class="list-group-item list-group-item-info text-dark">
            Certification
            <div class="text-end position-absolute top-0 end-0 pt-2 pe-2">
              <a href="{{ post.certification.url }}" target="_blank" class="hvr-sweep-to-bottom">
                  <i class="fa-solid fa-certificate me-2 text-secondary pb-1 border-bottom border-2 border-secondary"></i>
              </a>
          </div>
          </li>
          {% else %}
          {% endif %}
          {% if post.articles %}
          <li class="list-group-item list-group-item-info text-dark">
            Articles
            <div class="text-end position-absolute top-0 end-0 pt-2 pe-2">
              <a href="{{ post.articles.url }}" target="_blank" class="hvr-sweep-to-bottom">
                  <i class="fa-solid fa-newspaper me-2 text-secondary pb-1 border-bottom border-2 border-secondary"></i>
              </a>
          </div>
          </li>
          {% else %}
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</section>
{% else %}
{% endif %}
{% else %}
{% endif %}

<!-- POST CABINET -->
{% if post.post_bridge_privacy_cabinet == False %}
{% if post.business_plan or post.implementation_plan or post.pestle_report or post.internal_report or post.capabilities or post.business_model_canvas or post.contracts or post.terms_conditions %}
<section class="bg-secondary-lighter pt-2">
  <hr class="bg-secondary-lighter p-0 m-0">
  <div class="container">
    <div class="row-fluid pb-2">
      <div class="col-lg-6 offset-lg-3">
        <h5 class="text-center mt-5 mb-5 pt-md-2">
          Cabinet
          <i class="fa-solid fa-download ms-2 fa-sm"></i>
        </h5>
        <ul class="list-group border border-1 border-secondary mb-4 shadow-sm">
          {% if post.business_plan %}
          <li class="list-group-item list-group-item-info text-dark">
            Business Plan
            <div class="text-end position-absolute top-0 end-0 pt-1 mt-1 pe-2">
              <a href="{{ post.business_plan.url }}" target="_blank" class="hvr-sweep-to-bottom">
                  <i class="fa-solid fa-book-atlas text-secondary me-2 pb-1 border-bottom border-2 border-secondary"></i>
              </a>
          </div>
          </li>
          {% else %}
          {% endif %}
          {% if post.implementation_plan %}
          <li class="list-group-item list-group-item-info text-dark">
            Implementation Plan
            <div class="text-end position-absolute top-0 end-0 pt-2 pe-2">
              <a href="{{ post.implementation_plan.url }}" target="_blank" class="hvr-sweep-to-bottom">
                  <i class="fa-solid fa-book me-2 text-secondary pb-1 border-bottom border-2 border-secondary"></i>
              </a>
          </div>
          </li>
          {% else %}
          {% endif %}
          {% if post.pestle_report %}
          <li class="list-group-item list-group-item-info text-dark">
            PESTLE Report
            <div class="text-end position-absolute top-0 end-0 pt-2 pe-2">
              <a href="{{ post.pestle_report.url }}" target="_blank" class="hvr-sweep-to-bottom">
                  <i class="fa-solid fa-earth-americas text-secondary me-2 pb-1 border-bottom border-2 border-secondary"></i>
              </a>
          </div>
          </li>
          {% else %}
          {% endif %}
          {% if post.internal_report %}
          <li class="list-group-item list-group-item-info text-dark">
            Internal Report
            <div class="text-end position-absolute top-0 end-0 pt-2 pe-2">
              <a href="{{ post.internal_report.url }}" target="_blank" class="hvr-sweep-to-bottom">
                  <i class="fa-solid fa-person-shelter me-2 text-secondary pb-1 border-bottom border-2 border-secondary"></i>
              </a>
          </div>
          </li>
          {% else %}
          {% endif %}
          {% if post.capabilities %}
          <li class="list-group-item list-group-item-info text-dark">
            Capabilities
            <div class="text-end position-absolute top-0 end-0 pt-2 pe-2">
              <a href="{{ post.capabilities.url }}" target="_blank" class="hvr-sweep-to-bottom">
                  <i class="fa-solid fa-users-gear me-2 text-secondary pb-1 border-bottom border-2 border-secondary"></i>
              </a>
          </div>
          </li>
          {% else %}
          {% endif %}
          {% if post.business_model_canvas %}
          <li class="list-group-item list-group-item-info text-dark">
            Business Model Canvas
            <div class="text-end position-absolute top-0 end-0 pt-2 pe-2">
              <a href="{{ post.business_model_canvas.url }}" target="_blank" class="hvr-sweep-to-bottom">
                  <i class="fa-solid fa-cubes me-2 text-secondary pb-1 border-bottom border-2 border-secondary"></i>
              </a>
          </div>
          </li>
          {% else %}
          {% endif %}
          {% if post.contracts %}
          <li class="list-group-item list-group-item-info text-dark">
            Contracts
            <div class="text-end position-absolute top-0 end-0 pt-2 pe-2">
              <a href="{{ post.contracts.url }}" target="_blank" class="hvr-sweep-to-bottom">
                  <i class="fa-solid fa-file-signature me-2 text-secondary pb-1 border-bottom border-2 border-secondary"></i>
              </a>
          </div>
          </li>
          {% else %}
          {% endif %}
          {% if post.terms_conditions %}
          <li class="list-group-item list-group-item-info text-dark">
            Terms & Conditions
            <div class="text-end position-absolute top-0 end-0 pt-2 pe-2">
              <a href="{{ post.terms_conditions.url }}" target="_blank" class="hvr-sweep-to-bottom">
                  <i class="fa-solid fa-scale-balanced me-2 text-secondary pb-1 border-bottom border-2 border-secondary"></i>
              </a>
          </div>
          </li>
          {% else %}
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</section>
{% else %}
{% endif %}
{% else %}
{% endif %}

<!-- BREADCRUMB -->
<div class="container-fluid bg-secondary fixed-top shadow-sm p-0" id="post-breadcrumb" style="z-index: 2;">
  <div class="row">
    <nav aria-label="breadcrumb" class="col-10">
      <ol class="breadcrumb m-0 p-0 d-flex align-items-center">
        <li class="breadcrumb-item d-flex align-items-center">
          <a href="{% url 'public_post_details_1_landing' post.slug %}" class="text-info text-smaller ms-2 ms-md-3 text-shdw-sharp">Home</a>
        </li>
        <li class="breadcrumb-item d-flex align-items-center">
          <a href="#" class="text-smaller text-light text-decoration-none pt-1 text-shdw-sharp mb-05">Documents</a>
        </li>
      </ol>
    </nav>
    <div class="col-2 d-flex align-items-center justify-content-end align-items-stretch pe-0" id="breadcrumb-bttn-padding">
      {% if post.post_background_audio %}
      <a class="pe-1 shadow">
        <button id="play-post-background" type="button" onclick="playPostAudio()" class="btn p-0 m-0 " aria-controls="offcanvasRight">
          <i class="fa-solid fa-circle-play text-info p-1 breadcrumb-bttn-padding btn-white-lit" style="font-size: 17px; padding-top: 15px;"></i>
        </button>
        <button type="button" id="stop-post-background" onclick="stopPostAudio()" class="btn p-0 m-0" aria-controls="offcanvasRight" style="display:none">
          <i class="fa-solid fa-circle-stop text-info p-1 breadcrumb-bttn-padding btn-white-lit" style="font-size: 17px; padding-top: 15px;"></i>
        </button>
      </a>
      <audio src="{{ post.post_background_audio.url }}" id="post-audio" loop></audio>
      {% else %}
      {% endif %}
      <a class="pe-1 shadow">
        <button type="button" class="btn p-0 m-0" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
          <i class="fa-solid fa-angles-down text-info p-1 breadcrumb-bttn-padding btn-white-lit" style="font-size: 17px; padding-top: 15px;"></i>
        </button>
      </a>
      <a href="{% url 'public_posts_list' %}" class="pe-1 shadow">
        <button type="button" class="btn p-0 m-0 me-3" aria-label="Close">
          <i class="fa-solid fa-xmark text-info p-1 breadcrumb-bttn-padding shadow-sm btn-white-lit" style="font-size: 18px;"></i> 
        </button>
      </a>
    </div>
  </div>
</div>

<!-- OFFCANVAS -->
<div class="offcanvas offcanvas-end ms-5 bg-light" tabindex="-1" id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel">
  <div class="bg-info-subtle">
    <div class="text-end">
      <button type="button" class="btn-close text-reset m-1 m-md-2" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="mt-1 mb-4">
      <h4 id="offcanvasRightLabel" class="mt-4 pt-2 pb-3 text-center">
        {{ post.post_type }} Post
      </h4>
    </div>
  </div>
  <hr class="p-0 m-0">
  <div class="mb-4 mt-4 pt-2">
    <h6 class="ms-2 ps-1">{{ post.title }}</h6>
    <h6 class="text-muted ms-2 ps-1">{{ post.industry }}</h6>
    <h6 class="text-muted ms-2 ps-1">{{ post.author }}</h6>
  </div>
  <div class="list-group offcanvas-body mt-4">
    <div class="ms-2 me-2 border border-2 border-dark">
      <a href="{% url 'public_post_details_1_landing' post.slug %}"
        class="text-decoration-none p-0  list-group-item list-group-item-action bg-warning bg-gradient p-1 m-0 ps-2">
        <p class="mb-1">
          <strong>
            1. WELCOME
          </strong>
        </p>
      </a>
      <a href="{% url 'public_post_details_2_opps' post.slug %}"
        class="text-decoration-none list-group-item list-group-item-action bg-warning bg-gradient p-1 m-0 ps-2">
        <p class="mb-1">
          <strong>
            2. DETAILS
          </strong>
        </p>
      </a>
      <a href="{% url 'public_post_details_3_about_us' post.slug %}"
        class="text-decoration-none list-group-item list-group-item-action bg-warning bg-gradient p-1 m-0 ps-2">
        <p class="mb-1">
          <strong>
            3. ABOUT US
          </strong>
        </p>
      </a>
      <a href="{% url 'public_post_details_4_body' post.slug %}"
        class="text-decoration-none list-group-item list-group-item-action bg-warning bg-gradient p-1 m-0 ps-2">
        <p class="mb-1">
          <strong>
            4. ARTICLES
          </strong>
        </p>
      </a>
      <a href="{% url 'public_post_details_5_files' post.slug %}"
        class="text-decoration-none list-group-item list-group-item-action bg-gradient p-1 m-0 ps-2 bg-dark disabled">
        <p class="mb-1 text-warning">
          <strong>
            5. DOCUMENTS
          </strong>
        </p>
      </a>
      <a href="{% url 'public_post_details_6_proposal' post.slug %}"
        class="text-decoration-none list-group-item list-group-item-action bg-warning bg-gradient p-1 m-0 ps-2">
        <p class="mb-1">
          <strong>
            6. PROPOSAL
          </strong>
        </p>
      </a>
    </div>
  </div>
  {% if post.author != request.user %}
  <button class="w-50 mx-auto p-1 btn btn-secondary text-light mb-5 border border-2 border-info" type="button" data-toggle="modal" data-target="#open-offer-modal" onclick="modalOpenOfferActivate()">OPEN OFFER</button>
  {% else %}
  {% endif %}
</div>

<!-- NEXT PAGE -->
<section class="bg-secondary-lighter pb-2 pt-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <nav aria-label="Page navigation example shadow-sm">
          <ul class="pagination text-center rounded">
            <li class="page-item">
              <a class="page-link bg-dark bg-gradient text-warning" href="{% url 'public_post_details_4_body' post.slug %}" aria-label="Previous">
                <span aria-hidden="true">
                  &laquo;
                  <span class="d-none d-sm-inline-block ms-1">Last</span>
                </span>
              </a>
            </li>
            <li class="page-item"><a class="page-link bg-warning bg-gradient text-dark" href="{% url 'public_post_details_1_landing' post.slug %}">1</a></li>
            <li class="page-item"><a class="page-link bg-warning bg-gradient text-dark" href="{% url 'public_post_details_2_opps' post.slug %}">2</a></li>
            <li class="page-item"><a class="page-link bg-warning bg-gradient text-dark" href="{% url 'public_post_details_3_about_us' post.slug %}">3</a></li>
            <li class="page-item"><a class="page-link bg-warning bg-gradient text-dark" href="{% url 'public_post_details_4_body' post.slug %}">4</a></li>
            <li class="page-item disabled"><a class="page-link bg-dark bg-gradient text-warning" href="{% url 'public_post_details_5_files' post.slug %}">5</a></li>
            <li class="page-item"><a class="page-link bg-warning bg-gradient text-dark" href="{% url 'public_post_details_6_proposal' post.slug %}">6</a></li>
            <li class="page-item">
              <a class="page-link bg-dark bg-gradient text-warning" href="{% url 'public_post_details_6_proposal' post.slug %}" aria-label="Next">
                <span aria-hidden="true">
                  <span class="d-none d-sm-inline-block me-1">Next</span>
                  &raquo;
                </span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="d-flex justify-content-center mt-4 mb-5">
        <div class="text-center">
          <a class="btn btn-dark bg-gradient text-warning rounded-pill shadow-sm p-0 ps-2 pe-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
            Read more
          </a>
        </div>   
      </div>
    </div>
  </div>
</section>

</main>

{% endblock posts_base_content %}