{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- ABOUT LANDING MEDIA -->
<section id="home-landing" class="w-100">
  <div class="container-fluid p-0">
    <div class="row-fluid">
        <div class="col-12 img-fluid pt-1" id="nav-logo">
            <img src="{% static 'images/orca.jpg' %}" class="img-fluid w-100 mt-5 pt-2" id="nav-logo" alt="Innovation Land Logo" width="100" style="max-height: 900px;"> 
        </div>
    </div>
  </div>  
</section>

<!-- QUOTE - ABOUT -->
<figure class="text-center m-2">
  <blockquote class="blockquote mt-5">
    <p>"Innovation is the catalyst for change, the driving force behind projects that shape our better tomorrow."</p>
  </blockquote>
  <figcaption class="blockquote-footer mt-2 pb-2">
    <cite title="Quote Title">Innovation Land</cite>
  </figcaption>
</figure>
<div class="page-divider-sm d-sm-none mt-5"></div>
<div class="page-divider d-none d-sm-block mt-5"></div>

<!-- ABOUT BLOCK OF VARIOUS INFORMATION -->
<section class="about-section">
  <div class="container-fluid ps-3">
    <h1 class="section-title text-center pt-5 mt-4 mb-5 pb-lg-4 ">About Us</h1>
    <div class="row ps-md-5">
      <div class="col-md-6">
        <h2 class="about-subtitle mb-3">Our Story</h2>
        <p class="about-description ms-2">
          Welcome to Innovation Land, where groundbreaking ideas come to life! Our story is one fueled by the passion for innovation, the drive for change, and the belief in creating a better tomorrow. Innovation Land was born out of a shared vision to provide a platform that celebrates and nurtures the spirit of innovation. We wanted to create a space where aspiring entrepreneurs, inventors, and visionaries could showcase their ideas, connect with like-minded individuals, and gain the support they need to turn their dreams into reality.
        </p>
      </div>
    </div>
    <div class="page-divider-mini mt-4"></div>
    <div class="row mt-4 ps-md-5">
      <div class="col-md-6">
        <h2 class="about-subtitle mb-3">Our Mission</h2>
        <p class="about-description ms-2">
          At Innovation Land, we believe that innovation is the driving force behind progress and positive change. We are dedicated to fostering a community where creativity thrives, where game-changing ideas are celebrated, and where collaboration takes center stage. Our goal is to provide a platform that empowers individuals and organizations to make a difference in the world.
        </p>
        <p class="about-description ms-2">
          We understand that the journey of innovation is not always easy. That's why we have assembled a team of industry experts, mentors, and investors who are passionate about supporting and guiding innovators. Through our platform, entrepreneurs can access invaluable resources, receive mentorship, and connect with potential partners and investors who share their vision.
        </p>
      </div>
    </div>
    <div class="page-divider-mini mt-4"></div>
    <div class="row mt-4 ps-md-5">
      <div class="col-md-6">
        <h2 class="about-subtitle mb-3">Our Vision</h2>
        <p class="about-description ms-2">
          At Innovation Land, our vision is to empower innovators and change-makers from all walks of life. We believe that everyone has the potential to make a significant impact and contribute to a better future. Our platform serves as a catalyst for their success, providing the resources, support, and connections needed to bring their ideas to life. We envision a world where innovation is celebrated, where groundbreaking solutions are embraced, and where individuals are inspired to pursue their entrepreneurial dreams. Through our community, we aim to foster a culture of creativity, collaboration, and positive change, enabling innovators to leave a lasting legacy.
        </p>
        <p class="about-description ms-2">
          Our vision extends beyond just individual success stories. We strive to build a thriving ecosystem of innovation, where ideas can flourish and intersect, leading to exponential growth and progress. By connecting entrepreneurs, investors, mentors, and industry experts, we create a vibrant community that fosters collaboration and unlocks new opportunities. Our vision is to break down barriers and provide equal access to resources and support, ensuring that innovators from diverse backgrounds have a platform to showcase their ideas. Through this ecosystem, we aim to drive economic growth, create sustainable solutions, and shape industries that positively impact society. Together, we are building a future where innovation is the driving force behind positive change and where ideas have the power to transform the world.
      </div>
    </div>
    <div class="page-divider-mini mt-4"></div>
    <div class="row mt-4 ps-md-5">
      <div class="col-md-6">
        <h2 class="about-subtitle mb-4">Stats</h2>
        <ul>
          <li>Number of registered users: {{ total_users }}</li>
          <li>Number of posts: {{ total_posts }}</li>
          <li>Total industries: {{ total_industries }}</li>
        </ul>
      </div>
    </div>
    <div class="page-divider-mini mt-4"></div>
    <div class="row mt-4 ps-md-5 mb-4">
      <div class="col-md-6">
        <h2 class="about-subtitle mb-4">How it works?</h2>
        <ol>
          <li>Create user profile</li>
          <li>Edit your profile</li>
          <li>Check public posts and profiles for inspiration</li>
          <li>Interact with your community</li>
          <li>Create your own posts</li>
          <li>Choose platform commision model</li>
          <li>Create proposals for public</li>
          <li>Receive accepted offers directly to your email</li>
          <li>Receive requested resources</li>
          <li>Give promised value</li>
          <li>Keep expanding your post and your post selection</li>
          <li>Wait for next releases full of new features</li>
          <li>Email us for memberships quotations, instructions and full details</li>
        </ol>
        <hr>
        <h2 class="about-subtitle mb-4 pt-2">Rules</h2>
        <p class="about-description">
          <ul>
            <li>Respect the community guidelines and code of conduct.</li>
            <li>Do not engage in any form of harassment, discrimination, or offensive behavior.</li>
            <li>Provide accurate and truthful information in your posts and interactions.</li>
            <li>Do not spam or engage in excessive self-promotion.</li>
            <li>Respect the intellectual property rights of others.</li>
            <li>Keep discussions and interactions constructive and respectful.</li>
            <li>Do not share sensitive personal information of yourself or others.</li>
            <li>Report any violations or inappropriate behavior to the platform administrators.</li>
            <li>Use the platform for its intended purpose and refrain from any illegal activities.</li>
            <li>Comply with all applicable laws and regulations.</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</section>
<div class="page-divider-sm d-sm-none mt-5"></div>
<div class="page-divider d-none d-sm-block mt-5"></div>
    
<!-- ABOUT PRICING -->
<section class="about-section">
  <div class="container container-dos py-3">
    <div class="d-flex flex-column align-items-center pb-3 mb-4">
      <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal mb-5 mt-5">Pricing</h1>
        <p class="fs-5 text-muted">Innovation Land is your gateway to unlocking opportunities, connecting with like-minded individuals, and turning your innovative ideas into impactful solutions. Join us today and be part of a vibrant community of innovators, creators, and visionaries. Only registerd users will have access to full functionalities and features. Usually we do not offer free access, so take advantage of this promotion today and join for FREE!</p>
      </div>
      <div class="row row-cols-1 mb-3 text-center mt-4">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3 bg-secondary-subtle">
              <h4 class="my-0 fw-normal">Silver</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title mb-2 mt-1">$0<small class="text-muted fw-light">/mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Basic access to the platform</li>
                <li>Ability to create and share posts</li>
                <li>Limited storage space</li>
                <li>Email support</li>
              </ul>
              <a href="{% url 'account_signup' %}">
                <button type="button" class="w-100 btn btn-lg btn-outline-secondary text-dark mt-3">Sign up for free</button>
              </a>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3 bg-warning">
              <h4 class="my-0 fw-normal">Gold</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title mb-2 mt-1">$21<small class="text-muted fw-light">/mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Advanced access to the platform</li>
                <li>Enhanced storage space</li>
                <li>Priority email support</li>
                <li>Access to all current and upcoming premium features</li>
              </ul>
              <a href="{% url 'account_signup' %}">
                <button type="button" class="w-100 btn btn-lg btn-outline-warning text-dark mt-3">Get started</button>
              </a>
            </div>
          </div>
        </div>
        <div class="col mt-4">
          <div class="card mb-3 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-white bg-info">
              <h4 class="my-0 fw-normal text-dark">Crystal</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title mb-2 mt-1">$42<small class="text-muted fw-light">/mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Full access to the platform</li>
                <li>Infinite storage space</li>
                <li>Instant phone, chat and email support</li>
                <li>Priority access to new features</li>
              </ul>
              <a href="{% url 'account_signup' %}">
                <button type="button" class="w-100 btn btn-lg btn-outline-info text-dark mt-3">Get started</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

      






{% endblock content %}
