{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12" id="nav-logo">
            <img src="{% static 'images/3D-logo.png' %}" alt="Innovation Land Logo">
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3" id="nav-ljogo">
            centered card
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-md-none d-lg-block col-lg-4" id="nav-ljogo">
            YOOOOOOOOOOOOOOOOO I disappear on medium
        </div>
    </div>
</div>

    <h1>Contact</h1>    
    <div>
        <div>
            <h1>
                Send us a request:
            </h1>
            <p>
                help?
                dont know where to start?
                problems with account?
                send us a reqest with your contact iformation or send us an email at:_______
            </p>
        </div>
        <p>Testimonials - as Quotes</p>
        <p>Features as features</p>
    </div>
{% endblock content %}