<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Projects</title>
</head>
<body>

    <div>
        <div>
            <h1>
                My Bookings:
            </h1>
            {{ bookings_list }}
        </div>
        <div>
            <table>
                {% for booking in bookings_list %}
                    <tr>
                        <td>{{ booking.username }}</td>
                        <td>{{ booking.meeting_topic }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>