{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- INDEX LANDING MEDIA -->
<section id="home-landing" class="w-100">
  <div class="container-fluid p-0"> 
    <div class="row-fluid">
      <div class="col-12 img-fluid" id="nav-logo">
        <img src="{% static 'images/3D-logo.png' %}" class="img-fluid w-100" id="nav-logo" alt="Innovation Land Logo" style="max-height: 800px;" width="100">
      </div>
    </div>
  </div>  
</section>

<!-- HOME NAVIGATIONAL JUMBOTRONES -->
<section id="jumbotrones-home">
  <div class="p-4 mb-2 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold mb-4">We are finally here!</h1>
      <p class="col-md-8 fs-4">Tired of lack of exposure for your brilliant ideas? Not interested in limited pitching such as for Shark Tank, which is limited to only 5 investors at the time? Look no further, we are here to bring your organizations, projects, products, sevices to the global community in every way possible.</p>
      <button class="btn btn-dark text-warning btn-lg mt-4" type="button">Read more</button>
    </div>
  </div>
  <div class="row d-md-flex mx-auto mb-4">
    <div class="col-md-5 col-lg-4 offset-md-1 offset-lg-2 mb-4">
      <div class="h-100 text-warning bg-dark rounded-3">
        <h2 class="mb-4 pt-5 ps-4">Posts</h2>
        <p>
          <ul class="ps-5 ms-2">
            <li>Global community</li>
            <li>8 Cross-integrated websites</li>
            <li>Post media, documents and text</li>
            <li>Post customization</li>
            <li>Accessibility and privacy</li>
            <li>Proposals & offers</li>
            <li>Important dates</li>
            <li>Comments, views & likes</li>
            <li>View, edit & delete</li>
            <li>And more...</li>
          </ul>
        </p>
        <button class="btn btn-outline-warning m-4 mb-5" type="button">Explore opportunities</button>
      </div>
    </div>
    <div class="col-md-5 col-lg-4 mb-4">
      <div class="h-100 bg-warning border rounded-3">
        <h2 class="mb-4 pt-5 ps-4">Profiles</h2>
        <p>
          <ul class="ps-5 ms-2">
            <li>Public view connected to posts</li>
            <li>Infinite options to fill-up</li>
            <li>Upload media, documents and text</li>
            <li>Profile customization</li>
            <li>Accessibility and privacy</li>
            <li>History</li>
            <li>Business focus chart</li>
            <li>Business specializations chart</li>
            <li>View, edit & delete</li>
            <li>And more...</li>
          </ul>
        </p>
        <button class="btn btn-outline-dark m-4 mb-5" type="button">Prepare yourself</button>
      </div>
    </div>
  </div>
</section>

<!-- BUSINESS WEBSITE ECOSYSTEM -->
<div class="page-divider mt-5"></div>
<section id="ecosystem">
  <div class="container py-5" id="icon-grid">
    <h2 class="pb-2 mt-5 border-bottom text-center text-sm-start">Business Ecosystem</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 g-4 py-5">
      <div class="col mb-3 mb-sm-0">
        <div class="card shadow d-flex flex-column h-100">
          <div class="card-header bg-dark text-info">
            <div class="d-flex align-items-center justify-content-between">
              <h4 class="fw-bold mb-0">Project Owners</h4>
              <i class="fas fa-cogs fa-2x"></i>
            </div>
          </div>
          <div class="card-body bg-light">
            <p>First out of 8 inter-connected websites where innovators and project owners can post their organizations, projects, products and services for public offering.</p>
          </div>
        </div>
      </div>
      <div class="col mb-3 mb-sm-0">
        <div class="card shadow">
          <div class="card-header bg-dark text-info">
            <div class="d-flex align-items-center justify-content-between">
              <h4 class="fw-bold mb-0">Investors</h4>
              <i class="fas fa-hand-holding-usd fa-2x"></i>
            </div>
          </div>
          <div class="card-body bg-light">
            <p>Next website to be released where investors can set up challenges and public competitions in order to receive end result as indicated in their scope.</p>
          </div>
        </div>
      </div>
      <div class="col mb-3 mb-sm-0">
        <div class="card shadow">
          <div class="card-header bg-dark text-info">
            <div class="d-flex align-items-center justify-content-between">
              <h4 class="fw-bold mb-0">Idea Capturers</h4>
              <i class="fas fa-lightbulb fa-2x"></i>
            </div>
          </div>
          <div class="card-body bg-light">
            <p>Public community captures ocean of ideas that is used by Project Owners and Investors as an inspiration for their own organizations, projects, products and services.</p>
          </div>
        </div>
      </div>
      <div class="col mb-3 mb-sm-0">
        <div class="card shadow">
          <div class="card-header bg-dark text-info">
            <div class="d-flex align-items-center justify-content-between">
              <h4 class="fw-bold mb-0">Resources</h4>
              <i class="fas fa-toolbox fa-2x"></i>
            </div>
          </div>
          <div class="card-body bg-light">
            <p>Website that is responsible solely for sourcing and handling all resources needed for any organizations, projects, products and services.</p>
          </div>
        </div>
      </div>
      <div class="col mb-3 mb-sm-0">
        <div class="card shadow">
          <div class="card-header bg-dark text-info">
            <div class="d-flex align-items-center justify-content-between">
              <h4 class="fw-bold mb-0">Tools</h4>
              <i class="fas fa-tools fa-2x"></i>
            </div>
          </div>
          <div class="card-body bg-light">
            <p>Website that is responsible solely for sourcing and implementing all tools required for any organizations, projects, products and services.</p>
          </div>
        </div>
      </div>
      <div class="col mb-3 mb-sm-0">
        <div class="card shadow">
          <div class="card-header bg-dark text-info">
            <div class="d-flex align-items-center justify-content-between">
              <h4 class="fw-bold mb-0">Private Consumers</h4>
              <i class="fas fa-users fa-2x"></i>
            </div>
          </div>
          <div class="card-body bg-light">
            <p>Once organizations, projects, products and services are publicly ready, they can be consumed, purchased and more by our global community.</p>
          </div>
        </div>
      </div>
      <div class="col mb-3 mb-sm-0">
        <div class="card shadow">
          <div class="card-header bg-dark text-info">
            <div class="d-flex align-items-center justify-content-between">
              <h4 class="fw-bold mb-0">Business Consumers</h4>
              <i class="fas fa-building fa-2x"></i>
            </div>
          </div>
          <div class="card-body bg-light">
            <p>Once organizations, projects, products and services are publicly ready, they can be consumed, purchased and more by global business community.</p>
          </div>
        </div>
      </div>
      <div class="col mb-3 mb-sm-0">
        <div class="card shadow">
          <div class="card-header bg-dark text-info">
            <div class="d-flex align-items-center justify-content-between">
              <h4 class="fw-bold mb-0">Master Controller</h4>
              <i class="fas fa-tasks fa-2x"></i>
            </div>
          </div>
          <div class="card-body bg-light">
            <p>Overseeing website that makes sure all aspects on other 7 pages satisfy all operational procedures, next to quality and humanity standards.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}