{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}

<h1>Post for editing</h1>

<h1>Profile</h1>
<p><strong>Username:</strong> {{ user.username }}</p>
<p><strong>Email:</strong> {{ user.email }}</p>

<h2>Profile Information</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <a href="#" onclick="javascript:history.back()">Back</a>
    <button type="submit" class="fixed-bottom">Save</button>
</form>

{% else %}
<div class="container public-privacy-message">
  <h1 class="text-center">This feature is not open for public.</h1>
</div>  
{% endif %} 
{% endblock content %}